.editorWrapDiv {
    border: 1px solid #4CACFF;
    padding: 6px 10px;
}
.questionSection {
    border-bottom: 1px solid #EAEAEA;
    padding: 8px 0px;
}
.questionSection:last-child {
    border-bottom: none;
}

/* 判断题编辑器item样式 */
.judge-item.option-item {
    display: inline-block;
    margin-bottom: 8px;
    width: 52px;
}

/* 填空题新增按钮 */
.addAnswerButton {
    background: rgba(248,248,248,1);
    text-align: center;
    color: #4CACFF;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.nullChildEditor {
    width: 100%;
    display: inline-block;
}

.singleDisplay .options .markdown-body {
    max-width: 1116px;
}
.singleDisplay .ant-radio-wrapper span:last-child
    , .singleDisplay .ant-checkbox-wrapper span:last-child {
    padding-right: 0px;
}