.course-message .commentInput {
  /* padding-bottom: 60px !important; */
}

.course-message .commentsbtn {
  margin-top: 10px;
}

.course-message .memoReplies {
  margin-top: 0px !important;
}

/* 评论 */
/* 改宽度 */
.course-message .panel-comment_item .comment_orig_content {
  /* width: 1024px; */
  width: 1040px;
}
/* 子回复按钮 */
.course-message .reply_to_message a.commentsbtn.task-btn-blue {
  /* margin-right: 50px; */
}
/* 改边距 */
/* .course-message .commentsDelegateParent {
  padding-left: 100px;
} */

#forum_list .return_btn.no_mr {
  /* margin-right: 15px */
}

/* md编辑器拖拽调整 */
.course-message .panel-comment_item .editor__resize {
  left: 47%;
}
.course-message .childrenCommentsView .comment_item_cont:first-child {
  border-top: 1px solid #e3e3e3;
  margin-top: 8px;
}
.course-message .comment_item_cont:last-child {
  border-bottom: none;
}
.course-message .appraise.comment_item_cont:last-child {
  /* 作品评阅需要 */
  padding-bottom: 0px;
}

.course-message .memoMore {
  background: transparent !important;
  /* margin-top: 20px; */
}
  .course-message .memoMore .writeCommentBtn {
    right: 35px;
    top: 2px;
  }

.panel-comment_item .comment_content {
  margin-top: 4px;
}

.commentstypetop{
  position: relative;
}
.commentstypebutton{
  position: absolute;
  right: 0px;
}