.courseForm .formBlock {
  padding: 20px 30px 30px 30px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 0px;
  background: #fff;
}
.courseForm .noBorder {
  border-bottom: none;
}

/* common */
.edu-class-container {
  width: 1200px;
  margin: 10px auto 20px;
}

/* 小红点 */
.courseForm .ant-form-item-label {
  margin-left: -10px;
}
.courseForm .notRequired .ant-form-item-label {
  margin-left: 0px;
}


/* 不知道被哪个样式影响，这里需要重置 */
.courseForm .ant-input:focus {
  border-color: #40a9ff;
}
@media (min-width: 576px) {
  .courseForm .ant-col-sm-24 {
    text-align: left;
  }
}
.ant-form-item-control-wrapper.ant-col-xs-24.ant-col-sm-24 {
  margin-left: 2px;
}


/* errorInline ----------- */
.errorInline.ant-form-item {
  margin-bottom: 8px;
}
/* 这里需要指定form组件的宽度 style={{ width: 270 }} */ 
.errorInline .ant-form-item-children input {
  width: auto
}
.errorInline .ant-form-explain {
  display: inline;
  margin-left: 10px;
}
/* errorInline ----------- */

.setemailposition{
    position: absolute;
    right: 40px;
    top: 10px;
}