.yslquestionbank1{
    padding-top: 30px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    min-height: 500px !important;
}
.yslquesHeigth{
    width: 100% !important;
}
.yslquesmarkdowntext{
    font-size: 16px;
    color: #707070;

}
.yslquesmat26{
    margin-top: 26px;
    padding-bottom: 44px !important;
}
.ysltextcolor9999{
   color: #999999;
    font-size: 14px;
}
.ysltextcolor99999{
    color: #999999;
    font-size: 16px;
}
.mt16px{
    margin-top: 16px;
    padding-bottom: 30px;
}
.pd30{
    padding-bottom: 30px;
}