<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('课程方向', admins_disciplines_path) %>
  <% add_admin_breadcrumb(@discipline.name) %>
<% end %>

<div class="box search-form-container sub-discipline-list-form">
  <%= javascript_void_link '新增', class: 'btn btn-primary', data: { toggle: 'modal', target: '.admin-create-sub-discipline-modal' } %>
</div>

<div class="box admin-list-container sub-discipline-list-container">
  <%= render(partial: 'admins/sub_disciplines/shared/list') %>
</div>

<%= render 'admins/sub_disciplines/shared/create_sub_discipline_modal' %>
