
.page--header {
	z-index: 1399 !important;
}

/* 左右分隔条 */
.b-label {
    background: #111c24;
}
.b-label>.resize-helper {
	height: 30px;
	position: relative;
    margin-top: -20px;
    margin-left: -17px;
    left: 50%;
	top: 50%;
	/* .editormd-preview 有个 z-index 99   某些情况下，被cm盖住了 */
    z-index: 50;
}

.b-label>.resize-helper button{
    width: 24px;
    height: 24px;
    min-height: 24px;
    opacity: 0.7;
}
.b-label>.resize-helper button:hover {
	opacity: 1;
}

.b-label>.resize-helper button path {
    color: #666666;
    fill: currentColor;
}

/* 所有i都加上动画  */
#game_right_contents i {
    transition: transform .3s ease;
}


/* */
.h-center {
	height: 3px;
	background: rgb(17, 28, 36);
    border-top: 1px solid rgb(25, 82, 123);
}


/* */
/* codemirror初始化的时候高度没100% */
#codetab_con_1 {
	/*display: flex;*/
}
.CodeMirror{
	/*height: -webkit-fill-available !important;*/
	line-height: 1.2;

    /*height: auto !important;
    flex: 1 1 auto;*/
}

/* LeftView markdown */
#game_show_content #tab_con_1 .editormd-preview, #game_show_content #tab_con_2 .editormd-preview
		,#game_show_content #tab_con_3 .editormd-preview
		,#game_show_content #tab_con_5 .editormd-preview  {
	width: 100% !important;
	height: 100% !important;
	z-index: 20;
}

/*  tab 样式覆盖 */
#blacktab_nav {
	background-color: #111C24;
	border-bottom: 1px solid #222C34;
}
.blacktab_hover  {

}
.blacktab_hover a:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: auto;
    bottom: 0;
    right: auto;
    height: 2px;
    width: 20px;
    background-color: #29BD8B;
}

button.buttonHoverColor:hover a {
	color: #FF7500!important;
}

/*--------------------------------------------------- Header Start */
.leftNavDrawer {
	z-index: 8000 !important;
}
.leftNavDrawer>div:nth-child(2) {
	/*left:80px !important;*/
	z-index: 8000 !important;
	top: 54px;
	overflow: hidden;
}
.leftNavDrawer .MuiDrawer-paper-2 {
	width: 500px;
}

.leftNavDrawer .page--over {
	left: 0px;
	position: static;
}
.leftNavDrawer .col-width-3 {
	position: static;
	width: 400px;
	border: none;
}


#myshixun_top {
	display: flex;
	position: fixed;
	height: 54px;
	z-index: 1 !important;
}
.headerLeft {
	flex: 0 0 400px;
}
	#user_grade a {
	    color: white;
	}
	.-header-right {
		right: inherit;
		margin-left: 24px;
	    display: inline-block;
		top: 12px;
		height: 32px;
    	padding: 3px 15px
	}
	.userInfo {
		display: inline-block;
		top: 4px;
    	position: relative;
		margin-left: 10px;
	}
		.userInfo img {
			border-radius: 18px;
			vertical-align: bottom;
		}
		.userInfo .userInfoName {
			margin-left: 12px;
		    color: #fff;
		    font-size: 16px;
		}
		#user_grade {
			margin-top: -1px;
		}
.headerCenter {
	flex: 1 1 auto;
	text-align: center;
	flex-direction: column;
}
	.headerCenter h2 {
		max-width: none;
		width: 100%;
		font-size: 16px;
    	flex: 0 0 24px;
	}
	.headerCenter .timeRecord {
		font-size: 13px;
		color: #CCCCCC;
		width: 100px;
    	margin: auto;
	}
.headerRight {
	flex: 0 0 400px;
}
	.headerRight a {
		color: #1A3F5F;
		font-size: 16px;
	}
	.headerRight .exitBtn {
		color: #1a3f5f !important;
	}
	.headerRight a:hover {
		color: #4CACFF !important;
	}
	.headerRight i {
		font-size: 24px !important;
	    margin-right: 8px;
	    margin-top: 12px;
	    vertical-align: -4px;
	}
	

/*--------------------------------------------------- Header End */
/* picture_display 样式，language_display处理*/
.photo_display {
    padding-top: 54px;
    padding-left: 0px;
}
.with33{ width: 33%;}
.with49{ width: 49%;}
.mr1precent{margin-right: 1%;}
.mr03precent{margin-right: 0.3%;}
/*TPI输出TXT文件显示*/
.output-txt{padding: 10px;box-shadow:1px 6px 24px rgba(17,28,36,0.2);min-height: 500px;width: 100%;box-sizing: border-box;outline: none;}

/* -------------------------------------- m design 控件样式修改*/
.rootSnackbar {
	top: 60px !important;
    z-index: 99999999 !important;
}
.rootSnackbar>div>div {
	margin: 0 auto;
}


/* Dialog */
#alert-dialog-title>h2 {
	text-align: center;
}
	#alert-dialog-title {
		border-bottom: 1px solid #eee;
	    margin-bottom: 18px;
    }
body>div[role=dialog]>div[role=document]>div:nth-child(3) {
	justify-content: center;
}
body>div[role=dialog]>div {
	/* tpi dialog按钮改成平铺的大按钮 */
	/* padding-bottom: 10px; */
}
/* tpi 窗口宽度*/
body>div[role=dialog]>div[role=document] {
	border-radius: 10px;
}
#tpi-dialog>div[role=document] {
    border-radius: 10px;
}
body>div[role=dialog] div[role=document] {
    min-width: 400px;
}
#alert-dialog-title + div {
    text-align: center;
}

body>div>div[role=tooltip] {
	font-size: 12px;
}

/* -------------------------------------- m design 控件样式修改 END*/

/*rc-tree样式*/
.repoFilesDrawer .rc-tree li span.rc-tree-checkbox, .rc-tree li span.rc-tree-iconEle, .rc-tree li span.rc-tree-switcher {
	background-image:url('../../images/component/rc-tree.png');
}
.rc-tree li span.rc-tree-node-selected .rc-tree-iconEle {
	background-image:url('../../images/component/selectFile.png');
	background-position: 0;
    margin-bottom: 4px;
}
.repoFilesDrawer .rc-tree li span.rc-tree-icon_loading {
    margin-right: 2px;
    vertical-align: top;
    background: url(data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7) no-repeat scroll 0 0 transparent;
}

/*去除选中的颜色*/
.repoFilesDrawer .rc-tree-node-selected {
    background-color: #4CACFF;
    border: 1px solid #4CACFF;
    opacity: 1;
    height: 26px !important;
}
.repoFilesDrawer .rc-tree-node-selected span.rc-tree-title {
    color: #fff;
}

/*

    Name:       Railscasts
    Author:     Ryan Bates (http://railscasts.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-railscasts.CodeMirror {background: #2b2b2b;color: #f4f1ed;line-height: 21px;}
.cm-s-railscasts div.CodeMirror-selected {background: #214283 !important;}
.cm-s-railscasts .CodeMirror-gutters {/*background: #2b2b2b; */border-right: 0px;}
.cm-s-railscasts .CodeMirror-linenumber {color: #5a647e;}
.cm-s-railscasts .CodeMirror-cursor {border-left: 1px solid #d4cfc9 !important;}

.cm-s-railscasts span.cm-comment {color: #bc9458;}
.cm-s-railscasts span.cm-atom {color: #b6b3eb;}
.cm-s-railscasts span.cm-number {color: #b6b3eb;}

.cm-s-railscasts span.cm-property, .cm-s-railscasts span.cm-attribute {color: #a5c261;}
.cm-s-railscasts span.cm-keyword {color: #da4939;}
.cm-s-railscasts span.cm-string {color: #ffc66d;}

.cm-s-railscasts span.cm-variable {color: #a5c261;}
.cm-s-railscasts span.cm-variable-2 {color: #6d9cbe;}
.cm-s-railscasts span.cm-def {color: #cc7833;}
/*.cm-s-railscasts span.cm-error {background: #da4939; color: #d4cfc9;}*/
.cm-s-railscasts span.cm-bracket {color: #f4f1ed;}
.cm-s-railscasts span.cm-tag {color: #da4939;}
.cm-s-railscasts span.cm-link {color: #b6b3eb;}

.cm-s-railscasts .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-railscasts .CodeMirror-activeline-background { background: #303040; }




/* evaluateView*/

.CodeMirror-lines{padding: 0px!important;}
.cm-s-blackboard.CodeMirror {background: #0C1021; color: #F8F8F8; }
.cm-s-blackboard div.CodeMirror-selected { background: #253B76; }
.cm-s-blackboard .CodeMirror-line::selection, .cm-s-blackboard .CodeMirror-line > span::selection, .cm-s-blackboard .CodeMirror-line > span > span::selection { background: rgba(37, 59, 118, .99); }
.cm-s-blackboard .CodeMirror-line::-moz-selection, .cm-s-blackboard .CodeMirror-line > span::-moz-selection, .cm-s-blackboard .CodeMirror-line > span > span::-moz-selection { background: rgba(37, 59, 118, .99); }
.cm-s-blackboard .CodeMirror-gutters { background: #585858; border-right: 0; }
.cm-s-blackboard .CodeMirror-guttermarker { color: #FBDE2D; }
.cm-s-blackboard .CodeMirror-guttermarker-subtle { color: #888; }
.cm-s-blackboard .CodeMirror-linenumber { color: #888;/*background: #585858;*/ }
.cm-s-blackboard .CodeMirror-cursor { border-left: 1px solid #A7A7A7; }

.cm-s-blackboard .cm-keyword { color: #FBDE2D; }
.cm-s-blackboard .cm-atom { color: #D8FA3C; }
.cm-s-blackboard .cm-number { color: #D8FA3C; }
.cm-s-blackboard .cm-def { color: #8DA6CE; }
.cm-s-blackboard .cm-variable { color: #FF6400; }
.cm-s-blackboard .cm-operator { color: #FBDE2D; }
.cm-s-blackboard .cm-comment { color: #AEAEAE; }
.cm-s-blackboard .cm-string { color: #61CE3C; }
.cm-s-blackboard .cm-string-2 { color: #61CE3C; }
.cm-s-blackboard .cm-meta { color: #D8FA3C; }
.cm-s-blackboard .cm-builtin { color: #8DA6CE; }
.cm-s-blackboard .cm-tag { color: #8DA6CE; }
.cm-s-blackboard .cm-attribute { color: #8DA6CE; }
.cm-s-blackboard .cm-header { color: #FF6400; }
.cm-s-blackboard .cm-hr { color: #AEAEAE; }
.cm-s-blackboard .cm-link { color: #8DA6CE; }
.cm-s-blackboard .cm-error { background: #9D1E15; color: #F8F8F8; }

.cm-s-blackboard .CodeMirror-activeline-background { background: #3C3636; }
.cm-s-blackboard .CodeMirror-matchingbracket { outline:1px solid grey;color:white !important; }

.cm-s-railscasts span.cm-error {
    color: #bc9458;
}

/* 弹框 */
.popupAll{width: 100%;height: 100%;position: fixed;z-index: 99998;background-color: rgba(5,16,26,0.6);left: 0;top:0;}
.task-popup{ width: 30%;background: #fff; border:1px solid #e8e8e8; border-radius:10px; -webkit-box-shadow:0 0 10px #ccc;  -moz-box-shadow:0 0 10px #ccc;  box-shadow:0 0 10px #ccc;}
.task-popup-text-center{ text-align: center; color: #333;}
.task-popup-title{ border-bottom: 1px solid #eee; padding:0px 15px;text-align: center;box-sizing: border-box;line-height: 70px;height: 70px; border-radius: 10px 10px 0px 0px;font-size: 16px; }
.task-popup-content{ padding:15px;}
/*注释这个地方是因为会影响到实训哪块合作者删除的样式*/
/*.task-popup-submit{ margin:0px auto 15px; width: 120px;}*/
.task-popup-sure{ margin:0px auto 15px; width: 54px;}
.task-popup-right-sure{margin:0px auto 15px;text-align: center}
.task-popup-OK{ margin:15px auto; text-align: center}
.task-popup-bggrey{ background:#fff; color:#333;}
a.task-btn-orange{background: #4CACFF; color:#fff!important;}
a:hover.task-btn-orange{background: #4CACFF; color:#fff!important;}


/* 代码区域样式 */
#games_repository_contents .readRepoFailed {
	color: #fff;
	width: 100%;
	text-align: center;
	margin-top: 120px;
}
	#games_repository_contents .readRepoFailed .retry {
		color:#4CACFF;
	}

	/*实训详情*/
.backgroudwhite{
	height:60px;
	background:rgba(255,255,255,1);
	box-shadow:0px 1px 0px 0px rgba(244,244,244,1);
	line-height: 60px;
}

.tpmbannernavstyler{
	font-size:16px;
	/*color:rgba(51,51,51,1);*/
}

.ant-menu-horizontal {
	border-bottom:none !important;
	height:60px;
	line-height: 60px;
}


.audit_situationactive{
	color: #4CACFF !important;
}