/* header */
@media (max-width: 868px) {
	.headerLeft, .headerRight { flex: 1;}	
}
@media (max-width: 768px) {
	.headerLeft .userInfoName { display: none }

	
	#mini_comment_section .df .buttons {
		width: 104px;
	}

	.repoFilesDrawer>div:nth-child(2) {
		min-width: 280px;
	}

	
	.actionViewfirstButton {
		display: none !important;
	}
}
@media (max-width: 800px) {
	#time-consuming .time_limit {
		display: none;
	}
}
@media (max-width: 628px) {
	.-header-right { display: none }	
	.exitBtn span { display: none }
}
