.yslcenter
{
    display: flex;
    justify-content:center;
    display: flex;
    flex-direction:column;
}
.yslcentercerlfed
{    display: flex;
    justify-content:center;
    display: flex;
    flex-direction:row;
}
.fontsizecoirlysl{
    color: #333333;
    font-size: 16px;
}
.fontsizecoirlysltwo{
    font-size: 14px;
    color: #979797;
}

.imgysldivone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yslimgwidthte{
    width: 40px;
    height: 37px;
}
.mr55{
    margin-right: 55px;
}
.mt28{
    margin-top: 28px;
}
.w90{
    width: 90px;
}
.mr60{
    margin-right: 60px;
}