.ec-graduation-requirement-page {
  background: #fff;

  .graduation-requirement {
    &-body {
      margin-top: -24px;
    }

    &-items {
      &-head {
        padding: 15px 30px;
        display: flex;
        background: #F5F5F5;
      }

      &-body {
        margin: 0 30px;

        &-item {
          padding: 10px 0px;
          border-bottom: 1px solid #eaeaea;

          &.active {
            .item-row {
              margin-bottom: 10px;
              align-items: center;
            }

            .item-column-operation {
              width: 40px;
            }
          }

          &:last-child {
            border-bottom: unset;
          }

          .item-head {
            margin-bottom: 10px;
            font-weight: bold;
          }

          .item-row {
            display: flex;
          }
        }
      }


      .no-column {
        width: 60px;
        text-align: center;
      }

      .item-content-column {
        flex: 1;
        padding-left: 10px;
        display: flex;

        .ant-form-item {
          flex: 1;
          margin-bottom: 0;
        }
      }

      .item-column-operation {
        display: flex;
        justify-content: flex-end;
        width: 80px;

        & > i {
          margin: 0 5px;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }

  .edit-form {
    margin-top: 10px;
    text-align: right;

    button {
      margin-left: 10px;
    }
  }

  i.edit-action {
    color: #29BD8B;
    cursor: pointer;
    font-size: 16px;
  }
}