.tpmComment .-fit {
	position: inherit;
}
.tpmComment .rc-pagination {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
}
.tpmComment .paginationSection {
	background: #FAFAFA;
}
.tpmComment .comment_item_cont.df.clearfix:nth-last-child(1) {
    border-bottom: none;
}

/*.tpmComment .fl.edu-back-white {*/
/*min-height: 600px;*/
/*}*/


.user_watch_btn {
	cursor: pointer;
}


/*md编辑器*/
.tpmComment .commentItemMDEditor a.task-btn {
    background: #4cacff!important;
    margin-right: 16px;
    margin-top: 16px;
}
/* md编辑器 resizeBar*/
 .tpmComment .commentItemMDEditor .editor__resize {
    transform: translateX(-176%)
}

#ratePanel > div > div > div.fr div.rateYo.fl.mt3 {
    height: 20px;
    line-height: 20px;
    cursor: default;
    width: 110px;
}

.tpmComment .icon-jiangli {
    /* margin-top: 2px; */
}