.ec-page {
  margin-bottom: 50px;

  .ec-breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ec-steps {
    &-box {
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;
      background: #fff;

      .ant-steps-item {
        flex: unset !important;

        &-container {
          margin-left: 0;
        }

        &.ant-steps-item-active {
          .ant-steps-item-subtitle {
            color: #1890ff;
          }
        }

        &-subtitle {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
  }

  .ec-head {
    margin-bottom: -24px;
    padding: 20px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &-left {
      flex: 1;
    }

    &-label {
      font-size: 18px;
    }

    &-tip {
      font-size: 14px;
      color: #999999;
    }
  }

  .link {
    color: #007bff;
  }
}