.admins-shixun-authorizations-index-page {
  .shixun-authorization-list-container {
    span {
      &.apply-status-1 { color: #28a745; }
      &.apply-status-2 { color: #dc3545; }
      &.apply-status-3 { color: #6c757d; }
    }
  }
}