.newedu-class-container{
  width:1240px;
  height:84px;
}
.ecnewbutton{
  width:68px;
  height:30px;
  background:rgba(76,172,255,1);
  border-radius:2px;
  float:right;
}
.newedu-title-bottom{
  width:1240px;
  height:65px;
}
.edu-con-bottom {
  padding: 10px 0;
  background: #fff;
  font-size: 16px;
}

.TabledataSource .ant-table-wrapper{
  width: 1240px;
}
.ant-table-thead{
  background:rgba(245,245,245,1);
}