<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('关于我们') %>
<% end %>

<div class="box edit-about-us-container">
  <%= simple_form_for(@doc, url: admins_about_path) do |f| %>
    <div class="form-group" id="about-us-editor">
      <%= text_area_tag('about_us', @doc.about_us, style: 'display: none') %>
    </div>

    <div class="form-row mt-4">
      <%= f.button :submit, value: '保存', class: 'btn-primary mr-3 px-4', 'data-disable-with': '保存中...' %>
    </div>
  <% end %>
</div>