.height40 {
    height: 30px;
    line-height: 30px;
}

.height28 {
    height: 30px;
    line-height:28px;
}

.line27{
    line-height: 27px;
    vertical-align: 1px;
}
/* 中间居中 */
.intermediatecenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 简单居中 */
.intermediatecenterysls{
    display: flex;
    align-items: center;
}
.spacearound{
    display: flex;
    justify-content: space-around;

}
.spacebetween{
    display: flex;
    justify-content: space-between;
}
/* 头顶部居中 */
.topcenter{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;

}


/* x轴正方向排序 */
/* 一 二 三 四 五 六 七 八 */
.sortinxdirection{
    display: flex;
    flex-direction:row;

}
/* x轴反方向排序 */
/* 八    七   六  五   四  三  二 一 */
.xaxisreverseorder{
    display: flex;
    flex-direction:row-reverse;
}
/* 垂直布局 正方向*/
/* 一
 二
 三
 四
 五
 六
 七
 八 */
.verticallayout{
    display: flex;
    flex-direction:column;
}
/* 垂直布局 反方向*/
.reversedirection{
    display: flex;
    flex-direction:column-reverse;
}

.yslwushiwidth{
    width: 50%;
}
.yslwushiwidth90{
    width: 90%;
}
.yslwushiwidth10{
    width: 10%;
}
.yslwushiwidthbuton{
    width: 110px;
}
.yslwushiwidthcolortest{
    color: #A8A8A8;
    font-size:16px;
}
.yslusername{
    color: #000000;
    font-size: 18px;
}
.yslusercjz{
    width:60px;
    height:28px;
    border-radius:3px;
    border:1px solid #F38B03;
}
.yslusercjztest{
    width:60px;
    height:28px;
    font-size:16px;
    color:#F38B03;
    line-height:28px;
    text-align: center;
}
.w18{
    width: 18px;
}

.maxnamewidth150{
    width: 150px;
    max-width: 150px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.fabushixunwidth{
    color: #000000;
    font-size: 12px;
}
.fabushixunwidthcolor{
    color: #4CACFF;
    font-size: 16px;
}
.divfontexdivs{
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.space-between{
    justify-content:space-between
}

.heighthezuo34{
    height:34px;
    line-height: 34px;
}
.hezuozhe655{
    width: 655px;
}
.hezuozhe655{
    width: 655px;
}
.color333hezuo{
    color:#333333;
}

.color888hezuo{
    color:#888888;
}

.newyslusercjz{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: -18px;
    width: 44px;
    height: 18px;
    border-radius: 13px;
    background: #F38B03;
    color: #fff;
}

.newyslusercjztest{
    width: 45px;
    height: 29px;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
    text-align: center;
}

.fontnewreds{
    color: rgb(255, 85, 85);
}

.fontneweees {
    color: #BBBBBB;
}

.maxfont450{
    width: 450px;
    max-width:450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
.centertop20{
    text-align: center;
    padding-top: 20%;
}