.choiceMD{
  background: #111C24!important;
  margin-top: 3px;
  margin-left: 3px;
}
.choiceMD .editormd-html-preview{
  color:#8B9399!important
}
.choiceMD p{
  color:#8B9399!important
}
#choiceRepositoryView .MuiButtonBase-root-100{
  margin-top:1px;
}
#choiceRepositoryView .MuiRadio-colorPrimary-129,#choiceRepositoryView .MuiCheckbox-colorPrimary-172{
  color: #8B9399!important; 
}
#choiceRepositoryView .MuiRadio-colorPrimary-129.MuiRadio-checked-127,
#choiceRepositoryView .MuiCheckbox-colorPrimary-172.MuiCheckbox-checked-170 {
  color: #4CACFF!important; 
}