#choiceRepositoryView {
    margin-left: 20px;
    margin-top: 10px;
}
#choiceRepositoryView label {
    margin-left: 15px;
}
	/* 选择题选项hover*/
	/*#choiceRepositoryView label:hover span*/
	#choiceRepositoryView label span:hover .break-word {
	    /*color: red !important;*/
	}
#choiceRepositoryView label>span:nth-child(1){
	height: 42px;
	height: 20px;
	width: 20px;
	position: absolute;
    top: 0px;
}
/* 单选题 */
#choiceRepositoryView label>span:nth-child(2){
    margin-left: 28px;
}
	#choiceRepositoryView label>span:nth-child(2) .break-word{
		position: relative;
	}
		#choiceRepositoryView label>span:nth-child(2) .break-word>div:nth-child(1) {
			/*top: 11px;*/
    		position: absolute;
		}
		#choiceRepositoryView label>span:nth-child(2) .break-word>:nth-child(2) {
			margin-left: 26px;
		}
#choiceRepositoryView label {
	position: relative;
	left:-2px;
	margin-bottom: 10px;
	min-height: 20px;
}
#choiceRepositoryView svg {
    width: 16px!important;
}

