#game_test_set_results {
	/*box-shadow: inset 0 0 10px #27324c;*/
}
#game_test_set_results.blacktab-inner {
	background: #111c24;
}
#game_test_set_results .-task-ces-top {
	background: #1F2F3B;
    padding: 9px 20px;
    height: 38px;
}


#game_test_set_results .outputTitle {
    margin-top: -8px;
	text-align: center;
	height: 28px;
    color: #747A7F;
}
#game_test_set_results .outputTitle p:last-child{color: #fff;}

#game_test_set_results .CodeMirror-gutters{
	background: #05101A;
}

#game_test_set_results .CodeMirror-scroll {
	background: #111C24;
}

#game_test_set_results .CodeMirror-merge {
    /*display: flex;*/
    min-height: 50px;
    margin-bottom: 10px;
    /* 解决zoom到80%看不到测试集的问题 */
    width: 100%;
}

#game_test_set_results .tabContent {
	background: #1F2F3B;
}

#game_test_set_results .result_different_show {
	
	padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #1F2F3B;

}
    /*ff默认为19.2px  统一为19px*/
    #game_test_set_results .CodeMirror-code > div {
        line-height: 19px;
    }
    #game_test_set_results .CodeMirror-linenumber {
        text-align: center;
    }
    #game_test_set_results .CodeMirror-lines {
        padding-top: 2px!important;
    }

#games_valuation_contents .tab_hover a:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: auto;
    bottom: 0;
    right: auto;
    height: 2px;
    width: 20px;
    background-color: #29BD8B;
}

#games_valuation_contents  .tab_hover a {
    color: #bfbfbf !important;
}
#games_valuation_contents #blacktab_nav {
    height: 34px;
}
#games_valuation_contents #blacktab_nav li {
    position: relative;
    height: 33px;
    line-height: 30px;
}
#games_valuation_contents .tab_hover {
	border-bottom: none;
    background: inherit;
    color: inherit;
}
#games_valuation_contents .htmlContainer {
	height: 100%;
}
/* icon */
.fa-check-circle, .fa-exclamation-circle {
    margin-top: 2px!important;
}
.fa-unlock-alt, .fa-lock {
    margin-right: 3px;
}
.fa-lock {
    margin-top: 2px!important;
}
/*

	选择题样式
*/



#evaluating_contents {
  padding-top: 8px;
}
  #evaluating_contents .-text-danger{
    padding-bottom: 6px;
  }


.-task-ces-top .description {
    color: #616B77;
    padding: 0 8px;
    font-size: 12px;
}
.-task-ces-top .split {
    border-right: 1px solid #616B77;
    width: 1px;
    display: inline-block;
    height: 10px;
    margin: 5px 0;
    float: right;
}

.-task-ces-info .inputTitle {
    line-height: 16px;
}
.-task-ces-info .inputTitle .input{
    white-space: pre-wrap;
}

.paddingbottom60tpm{
    padding-bottom: 60px;
}