.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* 控制md编辑器列行的宽度
  见  codermirror maybeUpdateLineNumberWidth方法
*/
.editormd .CodeMirror-linenumbers {
  padding: 0;
}
.editormd-html-preview hr, .editormd-preview-container hr {
  /* 颜色加深 */
  border-top: 1px solid #ccc;
}

/* 重置掉antd的一些样式 */
html, body {
  -webkit-font-smoothing: auto !important;
}

.ant-progress-textyes {
  color: #52c41a;
}
.ant-progress-textno{
  color: #f5222d;
}
/* md多空格 */
.markdown-body p {
  white-space: pre-wrap;
  font-size: 16px!important
}
.markdown-body > p {
  line-height: 25px;
}
/* https://www.educoder.net/courses/2346/group_homeworks/34405/question */
.renderAsHtml.markdown-body p {
  white-space: inherit;
}
/* resize */
.editormd .CodeMirror {
  border-right: none !important;
}
.editormd-preview {
  border-left: 1px solid rgb(221, 221, 221);
  /* 某些情况下，被cm盖住了 */
  z-index: 99;
}
/* 图片点击放大的场景，隐藏图片链接 */
.editormd-image-click-expand .editormd-image-dialog {
  height: 234px !important;
}
  .editormd-image-click-expand .editormd-image-dialog .image-link {
    display: none;
  }
/* 解决鼠标框选时，左边第一列没高亮的问题 */
.CodeMirror .CodeMirror-lines pre.CodeMirror-line, .CodeMirror .CodeMirror-lines pre.CodeMirror-line-like {
  padding: 0 12px ;
}


/* antd扩展 */
.formItemInline.ant-form-item {    
  display: flex;
}
.formItemInline .ant-form-item-control-wrapper {
  flex: 1;
}
/* AutoComplete  placeholder 不显示的问题 */
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
  z-index: 2;
}


/* 兼容性 */
/* 火狐有滚动条时高度问题 */
@-moz-document url-prefix() {
  .newContainers {
    min-height: calc(100% - 60px) !important;
  }
}