body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page--header {
  z-index: 101 !important;
}
.ant-popover-buttons {
  text-align: center !important;
}


/* ie11兼容性问题 评测通过图片被遮挡*/
.page--body {
  z-index: 1;
}

/* 隐藏newMessage提示按钮 */
#shixun_comment_block .buttons > p:last-child {
	display: none !important;
}

.ant-message{
  z-index: 20000;
}
/*.ant-modal-header{*/
    /*border-radius: 10px;*/
/*}*/
.ant-upload-list-item-info .anticon-loading, .ant-upload-list-item-info .anticon-paper-clip{
  color: #29bd8b !important;
}
.anticon anticon-paper-clip{
  color: #29bd8b !important;
}

.MuiModal-root-15{
    z-index: 1000  !important;
}
