.w1200{
    width:1062px;
    height:177px;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 8px 0px rgba(0,0,0,0.03);
    border-radius:2px;
}
.w1200wuh{
    width:1062px;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 8px 0px rgba(0,0,0,0.03);
    border-radius:2px;
}
.w1200dbl{
    width:1062px;
    min-height:60px;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 8px 0px rgba(0,0,0,0.03);
    border-radius:2px;
}
.w1200fpx{
    width:1200px;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 8px 0px rgba(0,0,0,0.03);
    border-radius:2px;
}
.w1200mss{
    width:1200px;
}
.w1200ms{
    width:1062px;
}
.w1200s{
    width:1062px;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 8px 0px rgba(0,0,0,0.03);
    border-radius:2px;
}
.h177{
    height: 177px;
}
/* 中间居中 */
.intermediatecenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 简单居中 */
.intermediatecenterysls{
    display: flex;
    align-items: center;
}
.spacearound{
    display: flex;
    justify-content: space-around;

}
.spacebetween{
    display: flex;
    justify-content: space-between;
}
/* 头顶部居中 */
.topcenter{
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;

}


/* x轴正方向排序 */
/* 一 二 三 四 五 六 七 八 */
.sortinxdirection{
    display: flex;
    flex-direction:row;
}
/* x轴反方向排序 */
/* 八    七   六  五   四  三  二 一 */
.xaxisreverseorder{
    display: flex;
    flex-direction:row-reverse;
}
/* 垂直布局 正方向*/
/* 一
 二
 三
 四
 五
 六
 七
 八 */
.verticallayout{
    display: flex;
    flex-direction:column;
}
/* 垂直布局 反方向*/
.reversedirection{
    display: flex;
    flex-direction:column-reverse;
}
.w100{
    width: 100px;
}
.mt21{
    margin-top: 21px;
}
.mt23{
    margin-top: 23px;
}
.mt19{
    margin-top: 19px;
}
.mt15{
    margin-top: 10px;
}
.h40{
    height: 40px;
}

.tophom{
    padding-top: 33px;
    padding-bottom: 40px;
    padding-left: 26px;
    padding-right: 26px;
}
.tophoms{
    padding-top: 15px;
    padding-left: 26px;
    padding-right: 26px;
}
.borderwd{
    border: 1px solid #000000;
}
.borderwds{
    width: 1020px !important;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
    min-height:150px;
}
.borderwdsst{
    width: 1020px !important;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
    min-height:150px;
}
.borderwdswuh{
    width: 1020px !important;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    min-height:150px;
}

.borderwdswuh:hover{
    background: #F9F9F9;
}
.borderwds283{
    width: 1020px !important;
    min-height:283px;
    background:#F9F9F9;
    border:1px solid #DDDDDD;
    margin-left: 20px;
}
.w64{
    width: 64px;
}
.w70{
    width: 70px !important;
}

.tophomsembold{
    height:21px;
    font-size:16px;
    color:#333333;
    line-height:21px;
}

.tophomsembolds{
    width:42px;
    height:19px;
    font-size:14px;
    font-family:MicrosoftYaHeiSemibold;
    color:rgba(51,51,51,1);
    line-height:31px;
}
/*Contentpart*/
.contentparttit{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.subjecttit{
    width:28px;
    height:19px;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height: 42px;
    cursor:pointer;

}

.subjecttitys{
    height:19px;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height: 42px;
    cursor:pointer;

}
.ml55{
    margin-right: 55px;

}

.lg{
    line-height: 42px;
}
.ml7{
    margin-left: 7px;
}

.icondowncolor{
    color:#9E9E9E;

}
.icondowncolorss{
    color: #9E9E9E;
    position: absolute;
    top: -20px;
    right: -16px;
}

.questiontype{
    width: 100%;
    font-size: 12px;
    color: #333333;
    line-height: 17px;
    text-align: center;
    padding: 11px;
    cursor:pointer;

}
.questiontypes{
    width:37px;
    height:17px;
    font-size:12px;
    color:rgba(51,51,51,1);
    line-height:17px;
    cursor:pointer;

}
.questiontypeheng{
    width:100%;
    height:1px;
    background: #EEEEEE;
}
.questiontype:hover{
    color: #4CACFF;
}
.questiontype:active{
    color: #4CACFF;
}

.w100s{
    width:100% !important;
}
.stestcen{
    text-align: center;
}
.w70s{
    width:70%;
}
.w30s{
    width:30%;
}
.w60s{
    width:60%;
}
.w40s{
    width:40%;
}
.w65s{
    width:65%;
}
.w35s{
    width:35%;
}
.w50s{
    width: 50%;
}
.testpaper{
    font-size:12px;
    color:#888888;
    line-height:28px;
    text-align: center;
}

.setequesbank{
    font-size:14px;
    color:#333333;
    line-height:28px;
}

.Contentquestionbankstyle{
    padding-left: 20px;
    padding-right: 20px;
}

.pd20{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/*listjihe*/
.listjihetixing{
    color: #888888;
    font-size: 12px;
    line-height: 17px;
}

.listjihetixings{
    color: #333333;
    font-size: 12px;
    line-height: 17px;
}
.listjihetixingstit{
    color: #333333;
    font-size: 14px;
    line-height: 17px;

}
.listjihetixingstits{
    color: #333333;
    font-size: 14px;
    line-height:19px;
    margin-top: 19px;
}

.updatetimes{
    color: #BBBBBB;
    font-size: 12px;
}
.mt22{
    margin-top: 22px;
}
.viewparsings{
    color:#4CACFF;
    font-size:12px;
    line-height: 30px;
}

.selection{
    width:88px;
    height:30px;
    background:#33BD8C;
    border-radius:4px;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
}
.selectionss{
    width:88px;
    height:30px;
    background:#CCCCCC;
    border-radius:4px;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
}
.lh30{
    line-height: 30px;


}

.analysis{
    height:19px;
    font-size:14px;
    color:#333333;
    line-height:19px;
}

.testfondex{
    color: #808080;
    font-size: 14px;
}
.pb20{
    padding-bottom: 20px;
}
.icontianjiadaohangcolor{
    color: #FFFFFF;
}

.icontianjiadaohangcolors{
    color: #4CACFF;
}
.xiaoshou{
    cursor:pointer;
}
.xiaoshout{
    cursor:default;
}
.shubiao{
    cursor:default;
}
.mt40{
    margin-top: 40px;
}
.mt42{
    margin-top: 42px;
}
.drawerbutton{
    width:88px;
    height:30px;
    background:#4CACFF;
    border-radius:4px;
    font-size:14px;
    color:#ffffff;
    line-height:30px;
    text-align: center;
}
.icondrawercolor{
    color: #979797;
}

.mt25{
    margin-top: 25px;
}
.mb26{
    margin-bottom: 26px;
}
.drawernonedatadiv{
    height: 100%;
}

.font-17{
    font-size: 17px;
}
.ml30{
    margin-right: 30px;
}
.mr25{
    margin-right: 25px;
}
.newbutoon{
    width:88px;
    height:42px;
    background:#33BD8C;
    line-height: 42px;
    border-radius:4px;

}

.newbutoons{
    width:106px;
    height:34px;
    background:rgba(76,172,255,1);
    border-radius:4px;
    line-height: 34px;
    color:#ffffff;
}
.newbutoonss{
    width:106px;
    height:34px;
    background:rgba(51,189,140,1);
    border-radius:4px;
    line-height: 34px;
    color:#ffffff;


}

.newbutoontess{
    width:100%;
    height:34px;
    font-size:14px;
    color:#ffffff;
    line-height:34px;
    text-align: center;
}


.newbutoontes{
    width:100%;
    height:42px;
    font-size:14px;
    color:#ffffff;
    line-height:42px;
    text-align: center;
}
.educouddiv {
    display: flex;
    flex-direction: column;
}

.tabeltext-alignleftysl{
    font-size:14px;
    color:#000000;
    line-height:19px;

}
.tabeltext-alignleftysltwo{
    font-size:14px;
    color:#848282;
    line-height:19px;

}

.publictask-btn{
    width:80px;
    height:34px;
    background:#CCCCCC;
    border-radius:4px;
    color: #ffffff;

}
.publictask-btns{
    width:80px;
    height:34px;
    background:#4CACFF;
    border-radius:4px;
    color: #ffffff;
}
.w80{
    width: 80px;
}

.titiles{
    color: #333333;
    font-size: 16px;
}

.h12{
    height: 12px;
    min-height: 12px;
}

.mt19{
    margin-top: 19px;
}
.mytags{
    width:106px;
    height:32px;
    border-radius:2px;
    border:1px solid #DDDDDD;
    margin-right: 20px;
}
.lh32{
    line-height: 32px;
}

.h20{
    height: 20px;
    min-height: 20px;
    line-height: 20px;
}
.xingcolor{
    color: rgba(224, 64, 64, 1);
}
.xingtigan{
    font-size:14px;
    color:rgba(51, 51, 51, 1);
}
.mr4{
    margin-right: 4px;
}

.xingtigans{
    width:100%;
    font-size:14px;
    color:rgba(136,136,136,1);
}

.bottomdivs{
    width:100%;
    height:55px;
    background:rgba(255,255,255,1);
    box-shadow:0px -2px 7px 0px rgba(1,6,22,0.04);
}
.mt50{
    margin-top: 50px;
}

.divquxiao{
    width:88px;
    height:32px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(204,204,204,1);
}
.divquxiaotest{
    width:100%;
    height:32px;
    font-size:12px;
    color:rgba(136,136,136,1);
    line-height:32px;
    text-align: center;
}
.divbaocuntests{
    width:100%;
    height:32px;
    font-size:12px;
    color:#ffffff;
    line-height:32px;
    text-align: center;
}
.divbaocun{
    width:88px;
    height:32px;
    background:rgba(76,172,255,1);
    border-radius:4px;
}
.sortzhenque{
    width:49px;
    height:33px;
    border-radius:2px;
    border:1px solid rgba(221,221,221,1);
}

.sortzhenquetest{
    width:100%;
    height:33px;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:33px;

}

.sortquxiao{

    width:49px;
    height:33px;
    border-radius:2px;
    border:1px solid rgba(221,221,221,1);
}
.sortquxiaotest{
    width:100%;
    height:33px;
    font-size:14px;
    color:rgba(51,51,51,1);
    line-height:33px;
}

.ml45{
    margin-left: 45px;
}

.programcss{
    height: 251px;
    min-height: 100%;
}

.titlesttingcss{
    min-width: 100px;
    height:32px;
    line-height: 32px;
    background:rgba(76,172,255,1);
    border-radius:16px;
    text-align: center;
    color: #fff;
}
.titlesttingcssmy{
    min-width: 100px;
    height:32px;
    line-height: 32px;
    font-size:14px;
    color:rgba(51,51,51,1);
    text-align: center;
}
.minleng40{
    min-height: 40px;
}

.w60{
    width: 60px !important;
}

.h30{
    min-height: 30px !important;
}

.minheight{
    min-height: 500px !important;
}
.pd20{
    padding: 20px;
}

.ml58{
    margin-left: 58px;
}
.questionstishu{
    color: #888888;
    font-size: 14px;
}
.questionstotal{
    color: #333333;
    font-size: 14px;

}
.pagertdstcolor{
    color: #888888;
    font-size: 12px;
}

.mb19{
    margin-bottom: 19px;
}

.yldxtit{
    color: #333333;
    font-size: 14px;

}
.yldxtits{
    color: #888888;
    font-size: 14px;
}
.mt25{
    margin-top: 25px;
}

.postitonrelati{
    position: relative;
}
.postitonrelatis{
    position: absolute;
    right: 2px;
    top: 11px;
}

.szdfd{
    width:88px;
    height:34px;
    background:rgba(51,189,140,1);
    border-radius:4px 4px 0px 0px;
    text-align: center;
    color: #ffffff;
    line-height: 32px;
    margin-right: 27px;
}
.scd{
    width:88px;
    height:34px;
    background:#4CACFF;
    border-radius:4px 4px 0px 0px;
    text-align: center;
    color: #ffffff;
    line-height: 32px;


}

.pd20{
    padding: 20px;
}

.cretitlecolrlis{
    color: #333333;
    font-size: 14px !important;
}

.cretitlecolrlisobj{
    color: #888888;
    font-size: 14px !important;

}

.cretitlecolrlist{
    color: #333333;
    font-size: 14px !important;

}
.lh28{
    line-height: 28px;
}
.h20{
    height: 20px;
    background-color: #fff;
}
.lh20{
    line-height: 20px;
    background-color: #fff;
}

.backgroudwhites{
    background-color: #fff;
}

.ml5{
    margin-left: 5px;
}

.lh35{
    line-height: 35px;
}

.mr39{
    margin-right: 30px;
}

.sjimg{
    width: 104px;
}
.sjfqks{
    width: 100px;
}

.sjtitle{
    width:100%;
    height:21px;
    font-size:16px;
    color:#333333;
    line-height:21px;
}

.sjtitles{
    width:64px;
    height:17px;
    font-size:12px;
    color:#888888;
    line-height:17px;
}
.sjtitles span{
    color: #333333 !important;

}
.ml48{
    margin-left: 48px;
}
.sjtitlesysl{
    height:17px;
    font-size:12px;
    color:#BBBBBB;
    line-height:30px;

}
.mt11{
    margin-top: 11px;
}
.ml37{
    margin-left: 37px;
}
.listjihecolor:hover{
    background: #F9F9F9;
    background-color: #F9F9F9;
}

.seesjtit{
    height:27px;
    font-size:19px;
    color:#333333;
    line-height:27px;
}
.mt16{
    margin-top: 16px;
}
.mb20{
    margin-bottom: 20px;
}
.fudonxianshi{
    position: relative;
}

.fudonxianshis{
    position:absolute;
    z-index: 700;
}

.sjtitle:hover{
    color: #4CACFF;
}
.nofabu{
    width:46px;
    height:20px;
    background:rgba(255,102,1,1);
    border-radius:10px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.mt25{
    margin-top: 25px;
}

.imgtp{
    width: 39px;
    height: 44px;
}
.tites{
    color: #888888 !important;
}
.conditionsetting{
    width:64px;
    height:21px;
    font-size:16px;
    color:#333333;
    line-height:21px;
}

.conditionsettings{
    width:80px;
    height:21px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    line-height:21px;
}
.hengxians{
    width:1021px;
    height:1px;
    background: #EEEEEE;
}
.mt13{
    margin-top: 13px;
}
.dxuantitie{
    width:57px;
    height:19px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    line-height:19px;
}
