@charset "utf-8";
/* CSS Document */
/*html,body{ font-size:14px; line-height:2.0; height:100%;}
.newContainer{ min-height:100%; height: auto !important; height: 100%; *//*IE6不识别min-height*//*position: relative;}
.newMain{ margin: 0 auto; padding-bottom: 155px; }
.newFooter{ position: absolute; bottom: 0; width: 100%; height: 155px;background: #323232; clear:both; min-width: 1200px}
.newHeader{background: #46484c;width:100%; height: 50px; min-width: 1200px}*/
/* 2015-06-26 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ margin:0; padding:0;}
div,img,tr,td,table{ border:0;}
table,tr,td{border:0;}
ol,ul,li{ list-style-type:none}
blockquote { border:1px solid #d4d4d4; padding-left: 0.6em; padding-top: 0.6em; padding-right: 0.6em; padding-bottom: 0.6em; margin-left: 1.4em; margin-right: 0.4em;  border-radius: 4px; font-family: "微软雅黑"; background:#e8e8e8;  background-size: 100% 100%;  margin-top:5px;}
a:hover {text-decoration: none;  }
select,input,textarea{border:1px solid #ddd; background:#fff; color:#000; padding-left:5px}
textarea {resize: none;}
.pInline {margin:0px; padding:0px; display:inline-block;}
div.minHeight48{min-height: 48px;}

/*常用*/
#users_setting{clear:both;width:728px;background: #fff;padding: 10px;/*滑动门的宽度*/}
/*上传图片处理*/
.upload_img img{max-width: 100%;}
.homepagePostIntro img{display: block}
blockquote img{max-width: 100%;}

.none{display: none;}
.rside_back{ width:670px;  margin-left:10px;  background:#fff;  margin-bottom:10px;}
.sub_btn{ cursor:pointer; -moz-border-radius:3px;  -webkit-border-radius:3px; border:1px solid #707070; color:#000;  border-radius:3px; padding:1px 10px;  background:#dbdbdb;}
.sub_btn:hover{ background:#b5e2fa; color:#000; border:1px solid #3c7fb1;}
table{ background:#fff;}
.more{ font-weight:normal; color:#999; font-size:12px;}
.no_line{ border-bottom:none;}
.line{border-bottom:1px dashed #d4d4d4; padding-bottom:10px; margin-bottom:10px;}
.no_border{ border:none;}
.min_search{ width:150px; height:20px; border:1px solid #d0d0d0; color:#666; background:url(/images/public_icon.png) 135px -193px no-repeat; cursor:pointer;}
a.btn_message_free{ background:#ff5722; display:block;  text-align:center; color:#fff; padding:3px 0; width:80px; margin-bottom:10px;}
.db {display:block;}
/*pre标签换行*/
.break_word{word-break: break-all;word-wrap: break-word;}
.break_word_firefox{white-space: pre-wrap !important;word-break: break-all;}
/*显隐*/
.undis {display:none;}
.dis {display:inline-block;}
/* font & color */
h2{ font-size:18px;} /*color:#3b94d6;*/
h4{ font-size:14px;}/*color:#3b3b3b;*/
.f8 {font-size:8px;}
.f10 {font-size:10px;}
.f12{font-size:12px;}
.f_12{ font-size:12px;}
.f14{font-size:14px;}
.f_14{ font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.f_b{ font-weight: bold;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh27{line-height:27px;}
.lh38{line-height: 38px !important;}
.fmYh{font-family:"微软雅黑";}
.font999{ color:#999;}
.fontRed{color:#770000;}
.text_c{ text-align:center;}
.text_l{ text-align:left;}
/* Float & Clear */
.clear{ zoom:1;}
.clear:after {clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.cl{ clear:both; overflow:hidden; }
.fl{float:left;}
.fr{float:right;}
.f_l{ float:left;}
.f_r{ float:right;}
.float-none {float:none !important;}
.tac {text-align:center;}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{clear:both;zoom:1}
.hidden{overflow:hidden; white-space: nowrap; text-overflow:ellipsis;}
.hide-text {overflow:hidden; white-space:nowrap;}
.flow_hidden{ width:300px;overflow:hidden; white-space: nowrap; text-overflow:ellipsis;}
.white_space{white-space:nowrap;}
.pr {position:relative;}
.markPopup {width:290px; height:auto;  padding:5px 0px 15px 15px; background-color:#ffffff; z-index:1000;}
.markInput { outline:none; border:1px solid #e6e6e6; height:30px; width:50px; color:#3d3c3c; margin-bottom:10px; text-align:center; margin-right:5px; padding-left:0;}
.markPercentage {margin:10px 0; border:1px solid #e6e6e6; width:70px; height:30px; outline:none; font-size:12px; color:#3d3c3c;}
/* Spacing */
.ml2{ margin-left:2px;}.ml3{ margin-left:3px;}.ml4{ margin-left:4px;}.ml5{ margin-left:5px;}.ml7 {margin-left:7px;}.ml8{ margin-left:8px;}.ml9{ margin-left:9px;}
.ml10{ margin-left:10px;}.ml14{ margin-left:14px;}.ml15{ margin-left:15px;}.ml16{ margin-left:16px;}.ml20{ margin-left:20px;}.ml21{ margin-left:21px;}
.ml24{margin-left:24px;}.ml25{margin-left:25px;}.ml30{margin-left:30px !important;}.ml35{margin-left: 35px;}.ml36{ margin-left:36px; }.ml38{ margin-left:38px;}
.ml39{ margin-left:39px;}.ml40{ margin-left:40px;}.ml41{ margin-left:41px;}.ml42{ margin-left:42px;}.ml45{ margin-left:45px;}.ml48{ margin-left:48px;}.ml50{ margin-left: 50px;}
.ml53{margin-left:53px;}.ml55{ margin-left:55px;}.ml56{ margin-left:56px !important;}.ml58{margin-left:58px;}.ml60{ margin-left:60px;}.ml65{ margin-left:65px;}.ml63{ margin-left:63px;}
.ml70{margin-left: 70px;}.ml78{ margin-left:78px;}.ml80{ margin-left:80px;}.ml85{margin-left:85px;}.ml90{ margin-left:90px;}.ml95{margin-left:95px;}.ml100{ margin-left:100px;}
.ml110{ margin-left:110px;}.ml125 { margin-left:125px;}.ml130 { margin-left:130px;}.ml140 { margin-left:140px;}.ml150 { margin-left:150px;}
.ml160 {margin-left:160px;}.ml250 {margin-left:250px;}.ml258{ margin-left:258px;}.ml320{ margin-left:320px;}.ml358{ margin-left:358px;}.mr-5 {margin-right:-5px;}
.mr2{ margin-right:2px;}.mr3{ margin-right:3px;}.mr5{ margin-right:5px;}.mr8{ margin-right:8px;}.mr10{ margin-right:10px;}.mr12{ margin-right:12px;}.mr15 {margin-right:15px;}
.mr16 {margin-right:16px;}.mr18 {margin-right:18px;}.mr20{ margin-right:20px;}.mr25 {margin-right:25px;}.mr27 {margin-right:27px !important;}.mr30{ margin-right:30px !important;}
.mr35{ margin-right:35px;}.mr40{ margin-right:40px !important;}.mr45{margin-right: 45px;}.mr50{margin-right: 50px;}.mr55{margin-right: 55px;}.mr60 {margin-right:60px;}
.mr65 {margin-right:65px;}.mr70{margin-right: 70px;}.mr75{margin-right: 75px;}.mr80{margin-right: 80px;}.mr85{margin-right: 85px;}.mr90 {margin-right:90px !important;}.mr95 {margin-right:95px !important;}
.mr100 {margin-right:100px !important;}.mr118 {margin-right:118px !important;}.mr130 {margin-right:130px;}.mr135 {margin-right:135px;}.mr150 {margin-right:150px;}.mr200{margin-right:200px;}.mr390{margin-right:390px;}.mr400{margin-right:400px;}
.mw15{margin:0 15px;}.mr90 {margin-right:90px;}.mr95{margin-right: 95px;}.mr140 {margin-right: 140px;}.mw20{ margin: 0 20px;}
.mw380 {max-width: 380px !important;}.mw400 {max-width: 400px !important;}.mw450 {max-width: 450px !important;}.mw550 {max-width: 550px !important;}
.mt-20 {margin-top:-20px;}.mt-10 {margin-top:-10px;}.mt-4 {margin-top:-4px;}.mt-5 {margin-top:-5px;}.mt-2 {margin-top:-2px;}.mt0 {margin-top: 0px !important;}
.mt1{margin-top: 1px;}.mt2{ margin-top:2px;}.mt3{ margin-top:3px;}.mt4{ margin-top:4px;}.mt5{ margin-top:5px;}.mt6{ margin-top:6px;}.mt7 {margin-top:7px;}
.mt8{ margin-top:8px !important;}.mt9{ margin-top:9px !important;}.mt10{ margin-top:10px !important;}.mt12 { margin-top:12px !important;}.mt14 {margin-top:14px;}
.mt15 {margin-top:15px;}.mt16{ margin-top:16px !important;}.mt19 {margin-top:19px !important;}.mt20{margin-top: 20px;}.mt28 {margin-top:28px;}.mt30{ margin-top: 30px;}
.mt35 {margin-top:35px;}.mt40{ margin-top: 40px;}.mt45{ margin-top: 45px;}.mt50{ margin-top:50px;}.mt100{ margin-top:100px;}.mb0 {margin-bottom: 0px !important;}.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}.mb8 {margin-bottom:8px !important;}.pb5{ padding-bottom: 5px;}.mb10{ margin-bottom:10px !important;}.mb12 {margin-bottom:12px !important;}
.mb15{margin-bottom: 15px;}.mb20{ margin-bottom:20px;}.mb25{ margin-bottom:25px;}.mb30 {margin-bottom:30px;}.mb40 {margin-bottom:40px;}.pl5{ padding-left:5px;}
.pl10 {padding-left:10px;}.pr5 {padding-right:5px;}.pr10{padding-right: 10px;}.pl62 {padding-left: 62px;}.pl15{ padding-left:15px;}.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}.pb5{ padding-bottom: 5px;}.w20{ width:20px;}.w40{width: 40px;}.w45{ width: 45px;}.w46{ width: 46px;}.w48{width:48px;}.w50 {width:50px;}
.w56 {width:56px;}.w60{ width:60px;}.w61{ width:61px;}.w65{ width:65px;}.w70{ width:70px;}.w80{ width:80px;}.w90{ width:90px;}.w100 {width: 100px;}.w110{width:110px !important;}
.w108 {width:108px;}.w125{width:125px;}.w128{ width:128px;}.w130{ width:130px;}.w140{ width:140px;}.w145{ width:145px;}.w150{ width:150px;}
.w160{width:160px !important;}.w170{width:170px;}.w180{width:180px;}.w186{ width:186px;}.w190{width: 190px;}.w196{ width:196px;}.w200{width: 200px;}.w210{ width:210px;}
.w230{width:230px !important;}.w235{ width:235px !important;}.w265{ width: 265px;}.w270{ width: 270px;}.w280{ width:280px;}.w289{ width:289px !important;}.w290{ width:290px !important;}
.w300{ width:300px !important;}.w305{ width:305px;}.w330 {width:330px;}.w350 {width:350px;}.w360 {width:360px;}.w362 {width:362px;}.h400{height:400px !important;}.w430{ width:430px;}
.W440{ width:440px;}.w450 {width:450px;}.w455{width:455px !important;}.w459{ width:459px;}.w460{ width:460px;}.w465{width:465px !important;}
.w490{width:490px;}.w536{ width:536px;}.w543{ width:543px;}.w547{ width:547px;}.w557{ width:557px;}.w570 {width:570px !important;}.w576{ width:576px;}.w590{ width:590px !important;}
.w607 {width:607px;}.w664{ width:664px;}.w683{ width:683px;}.w610{ width:610px;}.w600{ width:600px !important;}.w603{ width:603px !important;}
.w606{ width:606px; }.w620{ width:620px;}.w680{ width: 680px;}.w701{width: 701px;}.w705{ width:705px;}.w708{width: 708px;}.w709{width: 709px;}
.w712{width:712px; max-width:712px; min-width:712px;}.w713{width: 713px;}.w720{width:721px;}.w730{width:730px;}.w770{ width:770px;}.h15{ height: 15px; }
.h28{height: 28px;}.h20{height: 20px;}.h22{ height:22px;}.h26{ height:26px;}.h50{ height:50px;}.h70{ height:70px;}.h200{ height:200px;}
.h400{height: 400px !important;}.h150{ height:150px;}.H60 {height:60px !important;}.H150{ height:150px;}.p10 {padding-left:10px; padding-right:10px;}
.mw150 {max-width: 150px !important;}.mw220 {max-width: 220px !important;}.mw280 {max-width:280px !important;}.mw360 {max-width: 360px !important;}
.mw380 {max-width: 380px !important;}.mw400 {max-width: 400px !important;}.mh18 {max-height: 18px;}.max_h54 {max-height:54px; }.maxHeight100 {max-height:100px; overflow-x:hidden; overflow-y:auto;}
.maxHeight200 {max-height:200px; overflow-x:hidden; overflow-y:auto;}
.W50{ width:50px;}.W120{ width:110px;}.W130{ width:130px;}.W200{ width:200px;}.W300 {width:300px !important;}.W320{ width:320px;}.W420 {width:420px;}.W440{ width:440px;}
.W700{ width:700px; max-width:700px; min-width:700px;}.W710{ width:708px;}.W800{ width:800px !important;}
.maxwidth400{max-width: 400px;}.m_w460{max-width: 460px;}.m_w500{max-width: 500px;}.m_w505{max-width: 505px;}.m_w530{max-width:860px;}a.edu-txt-850{ display: block; max-width:700px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
a.edu-txt-800{ display: block; max-width:800px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}.m_w600{max-width: 600px;}.td_w70{ width:70px;}.td_w60{ width:60px;}.td_w110{ width:110px;}.width165{width: 165px;}.width180{width: 180px !important;}
.width285{width: 285px;}.width255{width: 255px;}.width385{width: 385px;}.width505{width: 505px;}.width525{width: 525px;}.width530{width: 530px;}
.lh23{line-height: 23px;}
/*该高度会写入配置文件*/
.maxh360 {max-height: 810px;}
.maxh300 { max-height: 300px; }
.lh18 { line-height: 18px;}
/* Font & background Color */
a.b_grey{ background: #F5F5F5;}
a.b_dgrey{ background: #CCC;}
a.c_orange{color:#ff5722;}
a:hover.c_orange{color: #d33503;}
a.c_lorange{color:#ff9900;}
a:hover.c_lorange{color:#fff;}
a.c_blue{ color:#3b94d6;}
a.c_eblue{color: #3784D3}
a.c_setting_blue{color: #0781B4}
a.c_dblue{ color:#09658c;}
a:hover.c_dblue{ color:#2788d0;}
a.c_white{ color:#fff;}
input.c_white { color:#fff}
a.c_dorange{ color:#fd6e2a;}
a.c_dark{color: #3e4040;}
a:hover.c_dark{color: #3ca5c6;}
a.b_blue{background: #3b94d6;}
a:hover.b_blue{background: #41a8c8;}
a.b_green{background:#28be6c;}
a:hover.b_green{background:#14ad5a;}
a.c_blue02{color: #3ca5c6;}
a:hover.c_blue02{color: #0781b4;}
a.c_red{ color:#F00;}
a:hover.c_red{ color: #C00;}
a.c_purple{color: #426e9a;}
a:hover.c_purple{color: #d33503;}
a.c_green{ color:#28be6c;}
a.c_lgrey{ color:#CCC;}
a:hover.c_lgrey{ color:#3ca5c6;}
a.c_grey{ color:#999999;}
a:hover.c_grey{ color:#333;}
.b_grey{ background: #F5F5F5;}
.b_dgrey{ background: #CCC;}
.c_orange{color:#e8770d;}
.c_dark{ color:#2d2d2d;}
.c_lorange{ color:#ff9900;}
.c_purple{color: #6883b6;}
.c_blue{ color:#3b94d6;}
.c_red{ color:#F00;}
.c_green{ color:#28be6c;}
.c_grey{color:#999;}
.c_grey02{ color:#666666;}
.c_grey03{ color:#bbbaba;}
.c_dgrey{ color:#696969;}
.c_dblue{ color:#09658c;}
.c_white {color:#fff;}
.b_blue{background:#3b94d6;}
.b_green{background:#28be6c;}
.b_w{ background:#fff !important;}
.b_slow_yellow{background:#adde18;}
.b_yellow{background:#DDDF0D;}
.b_slow_red{background:#df8538;}
.b_green2 {background:#63c360;}
.b_red {background:#d60308;}
.b_lblue{ background:#3b94d6;}

/*font&color add by Tim*/
.fontGrey {color:#cecece;}
.fontGrey2 {color:#888888;}
.fontGrey3 {color:#484848;}
.fontGrey4{color:#999999;}
.fontGrey5 {color:#ddd;}
.fontGrey6 {color:#7a7a7a;}
.fontGrey7 {color:#555;}
.fontBlue {color:#3498db;}
span.newsBlack {color:#4b4b4b; font-size:13px; font-weight:bold}
a.underline {text-decoration:underline;}
a.fontBlue {color:#2788d0;}
.fontBlue2 {color:#3b94d6 !important;}
a.fontGrey {color:#cecece;}
a.fontGrey2 {color:#888888;}
a.fontGrey3 {color:#555;}
a.link-black {color:#000;}
a.link-black:hover {color:#3b94d6;}
a.link-blue {color:#3b94d6;}
a.linkOrange {color:#ff7143;}
/*a.linkBlue {color:#3b94d6;}*/
a.linkBlue:hover {color:#FF7500;}
a.linkBlue2 {color:#3498db;}
a.linkBlue2:hover {color:#2788d0;}
a.buttonBlue {background-color:#3b94d6;}
a.buttonBlue:hover {background-color:#2788d0;}
a.linkGrey {color:#484848;}
a.linkGrey:hover {color:#3b94d6;}
a.linkGrey2 {color:#888888;}
a.linkGrey2:hover {color:#484848;}
a.linkGrey3 {color:#484848;}
a.linkGrey3:hover {color:#000000;}
a.linkGrey4 {color:#484848;}
a.linkGrey4:hover {color:#2788d0;}
a.linkGrey5 {color:#484848;}
a.linkGrey5:hover {color:#3498db !important;}
a.linkGrey6 {color:#484848 !important;}
a.linkGrey6:hover {color:#ffffff !important;}
a.linkGrey7 {color:#888888;}
a.linkGrey7:hover {color:#3b94d6;}
a.bBlue {background-color:#3498db;}
a.bBlue:hover {background-color:#2788d0;}
a.bGreen {background-color:#60b25e;}
a.bGreen:hover {background-color:#51a74f;}
a.submit_btn {border:1px solid #3498db; padding:3px 10px; border-radius:3px; color:#3498db;}
a.submit_btn:hover {background-color:#3498db; color:#ffffff;}
a.link_file_a{ background:url(/images/pic_file.png) 0 0px no-repeat; padding-left:20px; }
a:hover.link_file_a{ background:url(/images/pic_file.png) 0 -25px no-repeat; color:#3ca5c6;}
a.link_file_a2{ background:url(/images/pic_file.png) 0 -15px no-repeat; padding-left: 20px;}
a.submit_btn2 {background-color: #3b94d6; padding: 3px 5px; color: #ffffff;}
a.submit_btn2:hover {background-color:  #2788d0;}
/****翻页***/
.wlist{float:right;}
.wlist li{float:left;}
.wlist a{ float:left; border:1px solid #64bdd9; padding:0 5px; margin-right:5px; color:#888;}
.wlist a:hover{border:1px solid #3b94d6; background-color:#3b94d6; color:#fff; text-decoration:none;}
.wlist_select a { background-color:#3b94d6; color:#fff;}
/*add by Tim*/
input.submit_btn {border:1px solid #3498db; padding:3px 10px; border-radius:3px; color:#3498db;}
input.submit_btn:hover {background-color:#3498db; color:#ffffff;}
a.yellowBtn{ display:inline-block;color:#0d90c3; height:22px;}

/* commonBtn */
.grey_btn{background:#d9d9d9; color:#656565; font-weight:normal; text-align:center;padding:2px 10px;}
a.grey_btn{background:#d9d9d9; color:#656565; font-weight:normal; text-align:center;padding:2px 10px; display: inline-block; border-radius: 3px;}
a:hover.grey_btn{background:#717171; color:#fff;}
a.big_grey_btn{background:#e1e1e1; color:#333; font-weight:normal; padding:0px 15px; text-align:center; font-size: 12px; height: 30px; line-height: 30px;}
a:hover.big_grey_btn{background:#c3c3c3;}
.grey_n_btn{background:#d9d9d9; color:#656565; font-weight:normal;padding:2px 10px; text-align:center;}
a.grey_n_btn{background:#d9d9d9; color:#656565;font-weight:normal; padding:2px 10px; text-align:center;}
a:hover.grey_n_btn{ background:#717171; color:#fff;}
.green_btn{background:#28be6c; color:#fff; font-weight:normal;padding:2px 10px; text-align:center;}
a.green_btn{background:#28be6c;color:#fff; font-weight:normal; padding:2px 10px; text-align:center;}
a:hover.green_btn{ background:#14ad5a;}
a.blue_btn{background:#3b94d6; color:#fff; font-weight:normal; padding:2px 10px; text-align:center; display:inline-block;border-radius:3px;}
a:hover.blue_btn{background:#2788d0;}
a.big_blue_btn{background:#3b94d6; color:#fff; font-weight:normal;padding:0px 15px; text-align:center; font-size: 12px; height: 30px; line-height: 30px;}
a:hover.big_blue_btn{background:#2788d0;}
.red_btn{ background:red; color:#fff; font-size:14px; font-weight:normal;padding:2px 8px; text-align:center;}
a.red_btn{background:red; color:#fff;font-size:14px; font-weight:normal; padding:2px 8px; text-align:center;cursor: pointer;}
a.orange_btn_homework{background:#d63502;color:#fff;font-size:14px; font-weight:normal; padding:2px 10px; text-align:center;}
a.orange_btn{  background:#ff5722;color:#fff; font-weight:normal; padding:2px 10px; text-align:center; }
a:hover.orange_btn{ background:#d63502;}
.green_u_btn{border:1px solid #3cb761; padding:2px 10px; color:#3cb761;}
a.green_u_btn{border:1px solid #3cb761; padding:2px 10px; color:#3cb761;}
a:hover.green_u_btn{ background:#3cb761; color:#fff;}
.orange_u_btn{border:1px solid #ff5d31; padding:2px 10px; color:#ff5d31;}
a.orange_u_btn{border:1px solid #ff5d31; padding:2px 10px; color:#ff5d31;}
a:hover.orange_u_btn{background:#ff5d31; color:#fff;}
.bgreen_u_btn{border:1px solid #1abc9c; padding:2px 10px; color:#1abc9c;}
a.bgreen_u_btn{border:1px solid #1abc9c; padding:2px 10px; color:#1abc9c;}
a:hover.bgreen_u_btn{background:#1abc9c; color:#fff;}
.blue_u_btn{border:1px solid #3b94d6; padding:2px 10px; color:#3b94d6;}
a.blue_u_btn{border:1px solid #3b94d6; padding:2px 10px; color:#3b94d6;}
a:hover.blue_u_btn{background:#3b94d6; color:#fff;}
.blue_n_btn{ background:#3b94d6; color:#fff!important; font-weight:normal;padding:2px 10px; text-align:center;}
a.blue_n_btn{background:#3b94d6;color:#fff!important;font-weight:normal; padding:2px 10px; text-align:center;}
a:hover.blue_n_btn{ background:#329cbd;}
.green_n_btn{background:#3cb761; padding:2px 10px; color:#fff;}
a.green_n_btn{background:#3cb761; padding:2px 10px; color:#fff;}
a:hover.green_n_btn{ background:#14ad5a;}
.orange_n_btn{background:#ff5d31; padding:2px 10px; color:#fff;}
a.orange_n_btn{background:#ff5d31; padding:2px 10px; color:#fff;}
a:hover.orange_n_btn{background:#d63502;}
.bgreen_n_btn{background:#1abc9c; padding:2px 10px; color:#fff;}
a.bgreen_n_btn{background:#1abc9c; padding:2px 10px; color:#fff;}
a:hover.bgreen_n_btn{background:#08a384;}

.nolink_btn{ background:#BCBCBC; color: #fff; padding:2px 5px;}
.more_btn{-moz-border-radius:3px;  -webkit-border-radius:3px; border:1px solid #9DCEFF; color:#9DCEFF;  border-radius:3px; padding:0px 3px;}
.upbtn{ margin:40px 0 0 15px; display:block; padding:2px 5px; border:1px solid #eaeaea;}
.upbtn:hover{color:#3b94d6;cursor: pointer;}
.upload_file{margin-left: -60px;margin-top: 40px;width: 50px;position: absolute;height: 24px;opacity: 0;cursor: pointer}
.red_btn_cir{ background:#e74c3c; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;white-space:nowrap;}
.green_btn_cir{ background:#28be6c; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;white-space:nowrap;}
.green_homework_btn_cir{ background:#28be6c; padding:1px 3px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;white-space:nowrap;}
.grey_btn_cir{ background:#b2b2b2; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal; font-size:12px;white-space:nowrap;}
.red_homework_btn_cir{ background:#e74c3c; padding:1px 3px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;white-space:nowrap;}
.grey_homework_btn_cir{ background:#b2b2b2; padding:1px 3px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal; font-size:12px;white-space:nowrap;}
.blue_btn_cir{ background:#3498db; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;white-space:nowrap;}
.orange_btn_cir{ background:#e67e22; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal; font-size:12px;white-space:nowrap;}
.sticky_btn_cir{ background:#3b94d6; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal; font-size:12px;white-space:nowrap;}
.locked_btn_cir{background: url(/images/locked.png) 0 0 no-repeat; cursor: default;}
.bgreen_btn_cir{ background:#1abc9c; padding:1px 10px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal; font-size:12px;white-space:nowrap;}
.grey_border{border:1px solid #dddddd !important;}
.red-cir-btn{ background:#e74c3c; padding:1px 5px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;}
.green-cir-btn{ background:#28be6c; padding:1px 5px; -moz-border-radius:2px;  -webkit-border-radius:2px;  border-radius:2px; color:#fff; font-weight:normal;font-size:12px;}
.button-rep { color: #888;display: inline-block;background: #eee;padding: 2px 5px;}
.green_btn_share{ background:#28be6c; padding:2px 5px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; color:#fff; font-weight:normal;font-size:12px;}
.borderRadius {border-radius:5px;}
a.Blue-btn{ display:block; margin-right:15px;width:65px; height:22px; background-color:#ffffff; line-height:24px; vertical-align:middle;  text-align:center; border:1px solid #3598db; color:#3598db;  -moz-border-radius:5px;  -webkit-border-radius:5px;  border-radius:5px;}
a:hover.Blue-btn{ background:#3598db; color:#fff;}
a.BlueCirBtn{ display:block;width:75px; height:28px; background-color:#fff; line-height:28px; vertical-align:middle;  text-align:center; border:1px solid #3598db; color:#3598db;  -moz-border-radius:5px;  -webkit-border-radius:5px;  border-radius:5px;}
a:hover.BlueCirBtn{ background:#3598db; color:#fff;}
a.BlueCirBtnMini{ display:block;width:40px; height:24px; background-color:#ffffff; line-height:24px; vertical-align:middle;  text-align:center; border:1px solid #3598db; color:#3598db;  -moz-border-radius:5px;  -webkit-border-radius:5px;  border-radius:5px;}
a:hover.BlueCirBtnMini{ background:#3598db; color:#fff;}
a.BlueCirBtnMiddle{ display:block;width:50px; height:24px; background-color:#ffffff; line-height:24px; vertical-align:middle;  text-align:center; border:1px solid #3598db; color:#3598db;  -moz-border-radius:5px;  -webkit-border-radius:5px;  border-radius:5px;}
a:hover.BlueCirBtnMiddle{ background:#3598db; color:#fff;}
/* 按钮*/
a.btn_grey_big{ display: inline-block; border: 1px solid #ccc;color: #747474;text-align: center;font-size: 14px; padding:0 10px; height: 30px; line-height: 30px;border-radius:3px;}
a:hover.btn_grey_big{ background: #c3c3c3; color: #fff;}
a.btn_orange_big{ display:inline-block;  border: 1px solid #ee4a1f;color: #ee4a1f; text-align: center; font-size: 14px; padding:0 10px; height: 30px; line-height: 30px; border-radius:3px;}
a:hover.btn_orange_big{ background: #ee4a1f;color: #fff;}
a.btn_green_big{ display:inline-block; border: 1px solid #60b25e; color: #60b25e; text-align: center;font-size: 14px; padding:0 10px; height: 30px; line-height: 30px; border-radius:3px;}
a:hover.btn_green_big{ background: #60b25e;  color: #fff;}
a.sy_btn_grey{ display:inline-block;  color: #333; background: #e1e1e1; text-align: center; font-size: 12px; padding:0 15px; height: 30px;  line-height: 30px; border-radius:3px;}
a:hover.sy_btn_grey{ background: #c3c3c3;}
a.sy_btn_blue{ display:inline-block; color: #fff;  background: #3b94d6; text-align: center; font-size: 12px; padding:0 15px; height: 30px; line-height: 30px;border-radius:3px;}
a:hover.sy_btn_blue{ background: #2788d0;}
input.sy_btn_blue{ display: inline-block; color: #fff; background: #3b94d6; text-align: center; font-size: 12px;  padding:0 15px;  height: 30px; line-height: 30px;  border-radius:3px; cursor:pointer;}
a.sy_btn_blue_mini{ display:inline-block;color: #fff; background: #3b94d6; text-align: center; font-size: 12px; padding:0 10px;  height: 26px; line-height: 26px;border-radius:3px;}
a:hover.sy_btn_blue_mini{ background: #2788d0;}
a.sy_btn_grey_mini{display:inline-block; color: #333; background: #e1e1e1; text-align: center;font-size: 12px; padding:0 10px; height: 26px; line-height: 26px; -webkit-border-radius:3px; -moz-border-radius:3px;  -o-border-radius:3px; border-radius:3px;}
a:hover.sy_btn_grey_mini{ background: #c3c3c3;}
a.btn_grey_mid{ display:inline-block; color: #565656; background: #eaeaea; text-align: center; font-size: 12px;  padding:0 10px; height: 26px; line-height: 26px; border-radius:3px;}
a:hover.btn_grey_mid{ background: #c8c8c8;}
a.sy_btn_green{ display:inline-block; color: #fff; background: #60b25e;text-align: center; font-size: 12px;  padding:0 15px;  height: 30px;line-height: 30px;  border-radius:3px;}
a:hover.sy_btn_green{ background: #51a74f;}
a.hw_btn_blue{display: inline-block; color: #3b94d6; border:1px solid #3b94d6;  background:#fff; text-align: center; font-size: 12px; padding:0 15px;height: 30px;  line-height: 30px;border-radius:3px;}
a:hover.hw_btn_blue,a:active.hw_btn_blue{ background: #3b94d6; color:#fff;}
/* commonpic */
.pic_date{ display:block; background:url(/images/public_icon.png) -31px 0 no-repeat; width:16px; height:15px; }
.pic_add{ display:block; background:url(/images/public_icon.png) -31px -273px no-repeat; width:16px; height:15px; }
.pic_sch{ display:block; background:url(/images/public_icon.png) -31px -195px no-repeat; width:16px; height:15px; }
.pic_mes{ display:block; background:url(/images/public_icon.png) 0px -376px no-repeat; width:20px; height:15px; padding-left:18px;}
.pic_img{ display:block; background:url(/images/public_icon.png) -31px -419px no-repeat; width:20px; height:15px; }
.pic_del{ display:block; background:url(/images/public_icon.png) 0px -235px no-repeat; width:20px; height:15px; }
.pic_del:hover{  background:url(/images/public_icon.png) -32px -235px no-repeat; }
.pic_stats{display:block; background:url(/images/public_icon.png) 0px -548px no-repeat; width:20px; height:15px;}
.pic_files{display:block; background:url(/images/public_icon.png) 0px -578px no-repeat; width:20px; height:15px;}
.pic_text{display:block; background:url(/images/public_icon.png) 0px -609px no-repeat; width:20px; height:18px;}
.pic_text02{display:block; background:url(/images/public_icon.png) 0px -642px no-repeat; width:20px; height:19px;}
.pic_edit{display:block; background:url(/images/public_icon.png) 0px -32px no-repeat; width:20px; height:15px;}
.pic_edit:hover{display:block; background:url(/images/public_icon.png) -32px -32px no-repeat; width:20px; height:15px;}
.pic_edit2{display:inline-block; background:url(/images/public_icon.png) 0px -32px no-repeat; width:20px; height:15px; vertical-align:middle; display:none;}
.pic_edit2:hover{display:inline-block; background:url(/images/public_icon.png) -32px -32px no-repeat; width:20px; height:15px;}
/*文本左对齐*/
.tl{text-align: left;}
.embed img,embed{max-width: 100%;}
.attachments {clear: both;}
.is_public_checkbox{margin-left: 15px;margin-right: 10px;}
.author_name{color: #3ca5c6 !important;}
.ke-container-default{max-width: 100%;}
/*状态提示图标*/
.success-icon {background:url("/images/icons_ziliao.png") 0 -28px no-repeat; padding-left:25px;}
.error-icon {background:url("/images/icons_ziliao.png") 0 -56px no-repeat; padding-left:25px;}
/*禁用*/
.disabled {background-color:#f5f5f5;}
#popupWrap ul{cursor: default;}
.bg_checked{background-color: #3b94d6;}
/* 搜索  */
.hw_search_box{ position:relative; }
.hw_search_box input.hw_search-input{ width:293px; height:28px; border:none; border:1px solid #e7e7e7; background:#fff; padding-left:5px;}
.hw_search_box a.hw_btn_search{display:block; width:20px; height:20px; background:url(/images/hw/icons_hw.png) 0 -57px no-repeat; position:absolute; right:5px; top:5px; cursor:pointer;float:left; -moz-transition :all 0s linear 0s; -webkit-transition :all 0s linear 0s; -o-transition:all 0s linear 0s; transition:all 0s linear 0s;}
.hw_search_box a:hover.hw_btn_search{background:url(/images/hw/icons_hw.png) -40px -57px no-repeat; -moz-transition :all 0s linear 0s; -webkit-transition :all 0s linear 0s; -o-transition:all 0s linear 0s; transition:all 0s linear 0s;}
.hw_files_icon{display:block; width:17px; height:14px; background:url(/images/hw/icons_hw.png) 0 -135px no-repeat;}
/* 编辑删除  */
.sy_icons_edit{ display: inline-block;  padding:9px;background:url(../../images/sy/sy_icons02.png) 0 1px no-repeat;}
.sy_icons_del{ padding:9px;background:url(../../images/sy/sy_icons02.png) 0 -21px no-repeat;}
.sy_icons_edit:hover{ background:url(../../images/sy/sy_icons02.png) -20px 1px no-repeat; }
.sy_icons_del:hover{ background:url(../../images/sy/sy_icons02.png) -20px -21px no-repeat;}
/* 翻页 */
.pages a{ display:block; border:1px solid #d1d1d1; color:#888; float:left; width:30px;text-align:center; padding:3px 0; line-height:1.9; margin-right:5px;}
.pages a:hover{ background-color:#3b94d6; border:1px solid #3b94d6; color:#fff;}
a.pages-big{width:50px;}
.pages .active{ background-color:#3b94d6; border:1px solid #3b94d6;color:#fff;}
.pages{ width:330px; margin:20px auto 10px;}
.pages li {display:inline-block;}

.sy_corange{ color: #ee4a1f;}
.sy_new_orange{font-size: 12px;padding: 0 5px;border-radius: 3px;line-height: 14px;color: #ff4a1b;border: 1px solid #ff4a1b;}
.sy_cgrey{ color: #888;}
a.sy_cgrey{ color: #888;}
.sy_corange{ color: #ee4a1f;}
a.sy_corange{ color: #ee4a1f;}
a.sy_cblue{ color: #3b94d6;}
/* 新增粉色关注按钮*/
a.y_btn_pink{ display: inline-block; color: #fff; background: #ff7d7d;text-align: center; font-size: 12px; padding:0 15px;  height: 30px; line-height: 30px;  border-radius:3px;}
a:hover.sy_btn_pink{ background: #e64c4c;}
.ke-block pre{ font-size:9pt; font-family:Courier New,Arial; border:1px solid #ddd; border-left:5px solid #6ce26c; background:#f6f6f6; padding:5px;}
.ke-block ol li{list-style-type: decimal;margin-left: 40px;}
.ke-block ul li{list-style-type: disc;margin-left: 40px;}
.ke-block{font-size: 14px;}
.ke-block h1{font-size: 2em;}
.ke-block h2{font-size: 1.5em;}
.ke-block h3{font-size: 1.17em;}
a.export_icon{background: url(/images/item.png) -58px -30px no-repeat; width: 45px; float: left; line-height: 41px; font-size: 14px; margin-top: -5px;}
a.export_icon:hover  {background: url(/images/item.png) -58px -60px no-repeat;}
.export_icon_li:hover ul {display:block;}
.break_full_word { word-break: normal !important;word-wrap: break-word !important; }
.icons-user-homework{background:url(/images/user/home-user-left.png) 0px -150px no-repeat; }
.homework-user-leftnav-li{ height: 25px; line-height: 40px; padding-left: 25px; color: #666;background:url(/images/user/home-user-left.png) 0px -149px no-repeat; font-size: 14px; position: relative; }
.homework-user-leftnav-li:hover{ height: 25px; line-height: 40px; padding-left: 25px; background:#f4f4f4; background:url(/images/user/home-user-left.png) 0px -186px no-repeat; font-size: 14px; position: relative; }
.separator_short{margin-top: 5px; margin-bottom: 5px; margin-left: 37px; width: 433px; display: block; border-bottom: 1px solid #d9d9d9;}
.separator_long{margin-top: 5px; margin-bottom: 5px; margin-left: 37px; width: 522px; display: block; border-bottom: 1px solid #d9d9d9;}
/*  模板弹框 20161013byLB */
#muban_popup_box{ background:#fff;padding-bottom:15px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;box-shadow: 0px 2px 8px rgba(146, 153, 169, 0.5);}
.muban_popup_top{background:#3b94d6;height:40px;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;-o-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;}
.muban_popup_top h3{ font-size:16px; color:#fff; font-weight:normal; line-height:40px; padding-left:10px; }
a.muban_icons_close{width:20px; height:20px;display:block;background: url(/images/sy/sy_icons_close.png) 0 0px no-repeat; margin:8px 10px 0 0;}
a:hover.muban_icons_close{background: url(/images/sy/sy_icons_close.png) -40px 0px no-repeat;}
#muban_popup_box input,#muban_popup_box select{ border:1px solid #c8c8c8; height: 28px;   color: #888;}
#muban_popup_box label.pop_box_label{width: 100px; text-align: right; display: inline-block;}
input.radio-width90{ width: 90px; }
#muban_popup_box label.pop_box_label_l {width: 100px; text-align: left; display: inline-block;}
.sy_popup_con{  margin:30px auto 0;font-size:14px; width:330px;}
.sy_popup_add li{ line-height:40px;}
.sy_popup_add label{ display:block;  float:left; width:85px;  text-align:right;  line-height:40px;}
.email_prompt_mes{ border:1px solid #ccc;  border-radius:5px;  width:468px; height:60px;  background:#fff;padding:5px; margin-bottom: 5px;}
a.btn{display: inline-block;border:none; padding:0 10px;color: #333;background: #e1e1e1; text-align:center;font-size: 12px;  height: 30px;line-height: 30px;-webkit-border-radius: 3px;-moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
a:hover.btn{background: #c3c3c3; color: #333;}
a.btn-green{background: #60b25e; color: #fff;}
a:hover.btn-green{background: #51a74f; color: #fff;}
a.btn-blue{background: #3b94d6; color: #fff;}
a:hover.btn-blue{background: #2788d0; color: #fff;}
.sy_popup_top{ background:#3b94d6;  height:40px; -webkit-border-radius: 5px 5px 0px 0px;  -moz-border-radius: 5px 5px 0px 0px; -o-border-radius: 5px 5px 0px 0px;  border-radius: 5px 5px 0px 0px;}
.sy_popup_top h3{ font-size:18px; color:#fff;  font-weight:normal; line-height:40px;  padding-left:10px;}
.sy_popup_top_tishi{ background:#ededed; }
.sy_popup_top_tishi h3{color:#616161; font-size:16px;}
.sy_popup_con02{ margin:30px auto 0; font-size:14px; text-align:center; width:360px;}
.sy_popup_con02 ul li p{ margin-bottom:15px;   text-align:center; font-size:14px; color:#616161;}
.sy_popup_con02 a{ margin:0 auto;}
#sy_popup_box{  width:460px; background:#fff;  padding-bottom:30px; border-radius:5px; box-shadow: 0px 2px 8px rgba(146, 153, 169, 0.5);}

a.btn_blue_64_width{ width: 64px; display:inline-block; color: #fff; background: #3b94d6; text-align: center; font-size: 12px; height: 30px; line-height: 30px;border-radius:3px; }
a:hover.btn_blue_64_width{ background: #2788d0; color: #fff;}
.btn_grey_64_width{ width: 64px; display:inline-block; color: #656565; background: #d9d9d9; text-align: center; font-size: 12px; height: 30px; line-height: 30px;border-radius:3px; }
a:hover.btn_grey_64_width{ background: #717171; color: #fff;}
a.btn_green_64_width{ width: 64px; display:inline-block; color: #fff; background: #28be6c; text-align: center; font-size: 12px; height: 30px; line-height: 30px;border-radius:3px; }
a:hover.btn_green_64_width{ background: #14ad5a; color: #fff;}


