/*新版头部css byLB20161125*/
.header-new{ height: 50px; width:100%; background:#3b94d6;}
.header-new-nav{ width: 1000px; margin:0 auto; height: 50px; line-height: 50px; background:#3b94d6;}
.header-new-nav-logo{ display: block; width: 51px; height: 45px;  background:url(/images/nav_logo.png) 0 3px no-repeat;}
.header-new-nav-left li{ float: left; height: 50px; line-height: 50px;}
.header-new-nav-left li a{ display: block; padding:0 15px; color: #fff; font-size: 14px; font-weight: normal;}
.header-new-nav-left li a:hover{ background: #fff; color: #3b94d6;}
.header-new-nav-left li a.active{ background: #297ebd; color: #fff;}
.header-new-search{ margin-top: 10px; position: relative;}
.header-new-search-input{ width: 280px; height: 30px; background: #fff; padding:0 5px; border:none;}
.icons-header-search{display: block; width: 20px; height: 20px;  background:url(/images/hw/icons_hw.png) 0 -56px no-repeat;  position: absolute; right: 5px; top:4px;}
.header-new-nav-right li { float: left; padding:0 10px; }
.icons-header-news{ display: block; width: 20px; height: 20px;background:url(/images/icons-newhomepage.png) 0px 0px no-repeat; }
.icons-header-class{ display: block; width: 20px; height: 20px;background:url(/images/icons-newhomepage.png) 0px -37px no-repeat; }
.icons-header-project{ display: block; width: 20px; height: 20px;background:url(/images/icons-newhomepage.png) 0px -72px no-repeat; }
.header-users{width:40px; height:40px;-webkit-border-radius:50px;-moz-border-radius:50px;-o-border-radius:50px;border-radius:50px;}
.content-new {width:1000px; margin:0 auto; background-color:#eaebed;}
.home-user-left-box{width:240px;}
.home-user-right-box{width:750px;}
/*新版主页左侧css byLB20161125*/
.home-user-leftnav{ background:#fff; width: 238px; border:1px solid #ddd; margin-bottom: 10px;}
.home-user-leftnav h3{ height: 40px; line-height: 40px; border-bottom:1px solid #ddd; color: #333; padding-left: 10px; font-weight: normal; }
.h3-more{ font-size: 12px; color: #888;}
.home-user-leftnav-li{ height: 45px; line-height: 40px; padding-left: 25px; color: #666;background:url(/images/user/home-user-left.png) 5px 5px no-repeat; font-size: 14px; position: relative; }
.home-user-leftnav-li:hover{ background:#f4f4f4 url(/images/user/home-user-left.png) 5px -35px no-repeat;}
.home-user-leftnav-li a:hover{color: #3b94d6;}
.icons-class{background:url(/images/user/home-user-left.png) 5px 5px no-repeat; }
.icons-class:hover{background:url(/images/user/home-user-left.png) 5px -35px no-repeat; }
.icons-contest{background:url(/images/user/home-user-left.png) 5px -668px no-repeat; }
.icons-contest:hover{background:url(/images/user/home-user-left.png) 5px -700px no-repeat; }.icons-project{background:url(/images/user/home-user-left.png) 5px -70px no-repeat; }
.icons-project:hover{background:url(/images/user/home-user-left.png) 5px -105px no-repeat; }
.icons-homework{background:url(/images/user/home-user-left.png) 5px -140px no-repeat; }
.icons-homework:hover{background:url(/images/user/home-user-left.png) 5px -177px no-repeat; }
.icons-doc{background:url(/images/user/home-user-left.png) 5px -215px no-repeat; }
.icons-doc:hover{background:url(/images/user/home-user-left.png) 5px -257px no-repeat; }
.icons-download{background:url(/images/user/home-user-left.png) 5px -292px no-repeat; }
.icons-download:hover{background:url(/images/user/home-user-left.png) 5px -326px no-repeat; }
.icons-issue{background:url(/images/user/home-user-left.png) 5px -360px no-repeat; }
.icons-issue:hover{background:url(/images/user/home-user-left.png) 5px -393px no-repeat; }
.home-user-grey-tag{  display: block;   background-color: #eaeaea;padding: 0px 8px; height:20px; line-height:20px;-webkit-border-radius: 15px; -moz-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; font-size: 12px;}
.user_navmore_txt02 { display:inline-block; font-size:12px; color:#616060; background-color:#f8f8f8; border:1px solid #eaeaea; border-radius:3px; position:absolute; left:17px; top:-3px; padding:5px 0px; display:none; box-shadow: 0px 0px 8px rgba(146, 153, 169, 0.5); z-index:1000; width:75px;}
.user_navmore_txt02 li a.user_navmore_li {font-size:12px;color:#888; display:block; width:50px;height:24px;line-height:24px;	}
.user_navmore_txt02 li a{ display:inline-block; padding:0 10px; border:none; height:24px;line-height:24px;color:#888;width:50px;  }
.user_navmore_txt02 li:hover,.user_navmore_txt02 li a:hover{background-color:#f0f0f0;}
/*新版主页个性签名css byLB20161125*/
.home-user-intro{ width:728px; border:1px solid #ddd; padding:10px; background: #fff;}
.home-user-intro p{ color: #666; font-size: 14px;}
/*新版主页动态css byLB20161125*/
.home-user-newsbox{width:748px; border:1px solid #ddd;  background: #fff;}
.home-user-newsbox h3{ height: 40px; line-height: 40px; border-bottom:1px solid #ddd; color: #333; padding-left: 10px; font-weight: normal; }
a.btn-grey-small{padding: 0px 10px;font-size: 12px; line-height: 20px;background:#dedede; border-radius: 3px;color: #333;}
a.btn-blue-small{padding: 0px 10px;font-size: 12px; line-height: 20px;background:#3b94d6; border-radius: 3px;color: #fff;}
a:hover.btn-grey-small{background:#d0d0d0; }
a:hover.btn-blue-small{background:#297ebd;}
.home-user-news-list{ padding:10px 10px ;border-bottom:1px dashed #ddd;}
.home-user-news-img img{    width: 40px;height: 40px;margin: 5px 0;  border-radius: 50px;}
a.home-user-news-name{ display: inline-block; max-width:200px;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; color: #3b94d6;}
.home-user-news-grey{ color: #888;}
.home-user-news-list-inner{ width: 675px;}
.home-user-news-txt{max-width:600px;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.home-user-news-del{ height: 20px; display: inline-block; width: 20px; background:url(/images/user/home-user-left.png) 0px -514px no-repeat; }
.home-user-nonews{ width: 200px; margin:100px auto; text-align:center; color:#666; min-height: 350px; }
/*新版发现更多css byLB20161125*/
.content-new-inner{ width: 998px;border:1px solid #ddd; background: #fff; position: relative;}
.content-new-inner h3{height: 40px; line-height: 40px; border-bottom:1px solid #ddd; color: #333; padding-left: 10px; font-weight: normal; font-size: 14px; background: #f6f6f6;}
.content-faxian-list{border-bottom:1px dashed #ddd; padding:10px 0px; width: 100%;}
a.faxian-list-title{ font-size: 14px; color:#333;max-width:720px;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
a:hover.faxian-list-title{ color: #3b94d6;}
.syllabus_class_private {color: #ff4a1b; border: 1px solid #ff4a1b;}
.syllabus_class_property {font-size: 12px; padding: 0 5px; border-radius: 3px;line-height: 14px;}
.syllabus_class_open {color: #7dd26c;border: 1px solid #7dd26c;}
a.pro_new_topbtn{ padding: 3px 7px; font-size: 12px;  line-height: 20px; color: #333;vertical-align: middle;background-color: #fff; border: 1px solid #ddd;  border-left: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px; color: #333;}
a.pro_new_topbtn_left { padding: 3px 10px;  font-size: 12px;line-height: 20px; background-image: linear-gradient(#fcfcfc, #eee); border: 1px solid #d5d5d5;border-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0; color: #333; }
a:hover.pro_new_topbtn_left{background-image: linear-gradient(#ededed, #dddddd);}
.pro_new_topnav ul{border-bottom: 3px solid #fff; height: 30px; line-height: 30px;}
.pro_new_topnav ul li{ float: left; height: 30px; line-height: 30px;text-align: center; padding:0 15px; }
.pro_new_topnav_active{border-bottom: 3px solid #3b94d6; }
.hw_more_box {position:absolute; width:24px; height:15px; right:15px; top:15px;}
.hw_more_box ul li:hover ul {display:block; }
.hw_more_icons {background:url(/images/hw/icons_hw.png) 0px -30px no-repeat; width:24px; height:15px; }
.hw_more_icons:hover {background:url(/images/hw/icons_hw.png) -40px -30px no-repeat;}
.hw_more_txt {width:75px;  font-size:12px; color:#616060; background-color:#fff; border:1px solid #eaeaea; border-radius:3px; position:absolute; left:-40px; top:15px; padding:5px 0px; display:none; box-shadow: 0px 0px 8px rgba(146, 153, 169, 0.5); z-index:1000;}
.hw_more_txt li a.hw_more_li {font-size:12px;color:#888; display:block; width:75px;height:24px;line-height:24px;text-align:center;	}
.hw_more_txt li a.hw_more_li:hover {background-color:#f0f0f0;}
/* 个人主页左侧信息 */
.user_leftinfo{ width:238px;border:1px solid #e5e5e5; background:#fff url(/images/user/user_bg_info.jpg) 0 0 no-repeat;  position:relative; }
.user_leftdata_background{ width:238px;border:1px solid #e5e5e5; background:#fff url(/images/user/user_bg_info2.jpg) 0 0 no-repeat;  position:relative; }
a.user_leftinfo_img { display:block; width:80px; height:80px; margin:15px auto;}
.user_leftinfo_img img{ width:74px; height:74px;-webkit-border-radius:50px;-moz-border-radius:50px;-o-border-radius:50px;border-radius:50px; border:3px solid #dcdcdc; }
.user_leftinfo_female{ display:block; width:20px; height:20px;background:url(/images/user/icons_user_leftnav.png) 5px -378px no-repeat;}
.user_leftinfo_male{ display:block; width:20px; height:20px;background:url(/images/user/icons_user_leftnav.png) -25px -378px no-repeat;}
.user_leftinfo_namebox{ text-align:center; height:16px; line-height:16px; }
.user_leftinfo_name{     display: inline-block; max-width:160px; font-size:14px; font-weight:bold;  overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.user_cirbtn_yellow{  color:#fff; background:#ffb400; padding:0 5px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px; line-height:16px; }
.user_info_inner{ width:210px; margin:0 15px 15px;}
.user_atten li{ width:68px; float:left; border-right:1px solid #e5e5e5; text-align:center; font-size:14px;}
.user_atten li a{ color:#333;}
.user_atten li a:hover{ color:#3b94d6;}
.user_atten li:last-child{ border:none;}
.user_info_intro{ margin:10px auto; width:210px; color:#888; text-align: center;}
a.user_editinfo{border-top:1px solid #e5e5e5; height:30px; line-height:30px; text-align:center; color:#3b94d6; width:100%; display:inline-block;}
/* 个人主页左侧导航 */
.user_leftnav{ width:240px;}
.users_accordion li > a {display: block;padding: 0 10px 0 32px;height:49px;line-height:49px;color: #333;font-size:16px;background: #f8f8f8;border:1px solid #e5e5e5;border-bottom:none;}
.users_accordion > li:hover > a{color: #3b94d6;background: #fff;}
.users_accordion > li:target > a,
.users_accordion > li > a.active {color: #3b94d6;background: #fff;border:1px solid #e5e5e5;border-left:3px solid #3b94d6;border-bottom:none;}
.users_accordion  li{ position:relative;}
.users_accordion li > a span {margin-top:15px;font-size:12px;padding: 0 10px;background: #dbdbdb;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;margin-left:10px;color: #333;}
.users_accordion > li:hover > a span,
.users_accordion > li:target > a span,
.users_accordion > li > a.active span {margin-left:10px;color: #333;background: #dbdbdb;}
/* Images */
.users_accordion > li > a:before {position: absolute;top: 0;left: 0;content: '';width: 24px;height: 40px;margin: 4px 8px;background-repeat: no-repeat;background-image:url(/images/user/icons_user_leftnav.png);background-position: 5px 15px;}
.users_accordion li.user_icons_course > a:before { background-position: 5px 15px; }
.users_accordion li.user_icons_course:hover > a:before,
.users_accordion li.user_icons_course:target > a:before,
.users_accordion li.user_icons_course > a.active:before { background-position: -25px 15px; }
.users_accordion li.user_icons_new > a:before { background-position: 5px -48px; }
.users_accordion li.user_icons_new:hover > a:before,
.users_accordion li.user_icons_new:target > a:before,
.users_accordion li.user_icons_new > a.active:before { background-position: -25px -48px; }
.users_accordion li.user_icons_addclass > a:before { background-position: 5px -87px; }
.users_accordion li.user_icons_addclass:hover > a:before,
.users_accordion li.user_icons_addclass:target > a:before,
.users_accordion li.user_icons_addclass > a.active:before { background-position: -25px -87px; }
.users_accordion li.user_icons_myhw > a:before { background-position: 5px -124px; }
.users_accordion li.user_icons_myhw:hover > a:before,
.users_accordion li.user_icons_myhw:target > a:before,
.users_accordion li.user_icons_myhw > a.active:before { background-position: -25px -124px; }
.users_accordion li.user_icons_project > a:before { background-position: 5px -167px; }
.users_accordion li.user_icons_project:hover > a:before,
.users_accordion li.user_icons_project:target > a:before,
.users_accordion li.user_icons_project > a.active:before { background-position: -25px -167px; }
.users_accordion li.user_icons_addproject > a:before { background-position: 5px -205px; }
.users_accordion li.user_icons_addproject:hover > a:before,
.users_accordion li.user_icons_addproject:target > a:before,
.users_accordion li.user_icons_addproject > a.active:before { background-position: -25px -205px; }
.users_accordion li.user_icons_myissues > a:before { background-position: 5px -246px; }
.users_accordion li.user_icons_myissues:hover > a:before,
.users_accordion li.user_icons_myissues:target > a:before,
.users_accordion li.user_icons_myissues > a.active:before { background-position: -25px -246px; }
.users_accordion li.user_icons_mes > a:before { background-position: 5px -289px; }
.users_accordion li.user_icons_mes:hover > a:before,
.users_accordion li.user_icons_mes:target > a:before,
.users_accordion li.user_icons_mes > a.active:before { background-position: -25px -289px; }
/* Sub Menu */
.user_sub_menu li a {color: #797979;background: #f8f8f8;height:39px;line-height:39px;font-size:14px;}
.user_sub_menu li a:hover,.user_sub_menu li a:target {  color:#3b94d6; background:#fff url(/images/user/user_navmore_icons.png) 0px 0px no-repeat;}
.user_sub_menu li a:hover,.user_sub_menu li a:target{}
.user_sub_menu li:last-child a {  }
.user_sub_menu li p {padding:0 18px 0 25px; border:1px solid #e5e5e5; border-bottom:none; background:#f8f8f8;}
.user_sub_menu li p:hover {background:#fff;}
.user_sub_menu li p:hover a {background:#fff;}
.user_sub_menu li p:hover,.user_sub_menu li p:target {color:#3b94d6; background:#fff url(/images/user/user_navmore_icons.png) 0px 0px no-repeat;}
.users_accordion li > .user_sub_menu {display: none;}
.users_accordion li:target > .user_sub_menu {display: block;}
.user_sub_menu > li > span.user_icons_class {padding:0;border:none;display:block;position: absolute;top:18px;left:10px;width:20px;height:20px;background:url(/images/user/icons_user_leftnav.png) 0px -34px no-repeat;}
a.user_navmorebox{ display:block; width:238px; height:20px; position:relative; background:#f8f8f8;border:1px solid #e5e5e5; border-bottom:none;}
a:hover.user_navmorebox{ background:#fff;}
a.user_navmorebox .user_icons_moreclass{display:block;position: absolute;top:5px;left:100px;width:25px;height:10px;background:url(/images/user/icons_user_leftnav.png) 5px -347px no-repeat;}
a.user_navmorebox .user_icons_closeclass{display:block;position: absolute;top:5px;left:100px;width:25px;height:10px;background:url(/images/user/icons_user_leftnav.png) -25px -347px no-repeat;}
/* 个人主页左侧导航更多功能 */
.user_navmore_box {position:absolute; width:15px; height:15px; right:13px; top:17px; cursor:pointer;}
.user_navmore_box ul li:hover ul {display:block; }
.user_navmore_icons {background:url(/images/user/icons_user_leftnav.png) -15px -34px  no-repeat; width:19px; height:15px; }
.user_navmore_icons:hover {background:url(/images/user/icons_user_leftnav.png) -30px -34px no-repeat;}
.user_navmore_txt { display:inline-block; font-size:12px; color:#616060; background-color:#f8f8f8; border:1px solid #eaeaea; border-radius:3px; position:absolute; left:17px; top:-3px; padding:5px 0px; display:none; box-shadow: 0px 0px 8px rgba(146, 153, 169, 0.5); z-index:1000; width:115px;}
.user_navmore_txt li a{ display:inline-block; padding:0 10px; border:none; height:24px;line-height:24px;color:#888;width:75px;  }
.user_navmore_txt li a.user_navmore_li {font-size:12px;color:#888; display:block; width:75px;height:24px;line-height:24px;	}
.user_navmore_txt li a.user_navmore_add{ width:10px;color:#888; padding:0 5px; }
.user_navmore_txt li:hover,.user_navmore_txt li a:hover{background-color:#f0f0f0;}
/* 新版个人主页 */
#messageTabList li { float:left; padding:10px 15px; text-align:center; }
.homepageTabTitle { max-width:330px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.homepageTabProjectName{ max-width:160px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.homepageTabAuthor { max-width:80px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.homepageTabTime { max-width:160px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.homepageTabPollTitle { max-width:490px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.homepageTabAvatar img{border: 3px solid #fff;-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;border-radius:30px;}
.homepageTabAvatar img:hover{border: 3px solid #e6e6e6;}
/* 新版个人主页左侧信息170214byLB */
.home-user-new-img{ width: 238px; height: 200px; border-radius:5px;border: 1px solid #ddd;}
.home-user-new-img img{border-radius:5px;}
.home-user-newinfo-box{ width: 218px; padding:10px; border: 1px solid #e5e5e5; background:#fff;}
.issues_nav_tag{ background-color:#eaeaea;  padding:2px 8px;border-radius:15px; font-size:12px; display: inline-block; color: #666;}
.home-user-newinfo-ul li{ height: 40px;}
.border-line{ width:100%; display: block; border-top: 1px solid #e5e5e5;}
a.home-btn-grey{ display:inline-block; width:100px; height: 28px; line-height:28px; font-size: 14px; color: #666; text-align: center; background:#fff; border:1px solid #e5e5e5; border-radius:5px; }
a:hover.home-btn-grey{ background:#f0f0f0;}
a.home-big-btn-grey{ display:inline-block; width:212px; height: 28px; line-height:28px; font-size: 14px; color: #666; text-align: center; background:#fff; border:1px solid #e5e5e5; border-radius:5px; }
a:hover.home-big-btn-grey{ background:#f0f0f0;}

.home-user-footerinfo li{ height: 24px; color: #888; }
