
.editorMD ol, .editorMD ul, .editorMD li {
	list-style-type: decimal;
}

/*md编辑器 resizeBar*/
.editor__resize {
	position: absolute;
	width: 120px;
	height: 4px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 2px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: row-resize;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	text-transform: capitalize;
	
	box-sizing: border-box;
	/*transform: translateX(-22%);*/
}

