/*MemoDetail     --------------------------------- START */
.educontent {
	margin-bottom: 20px;	
}

/* 左侧区域最小高度*/
#forum_index_list {
	min-height: 400px;
	position: relative;
}
	#forum_index_list .forum_table .forum_table_item {
		background: #fff;
	}
	.noMemosTip {
		position: absolute;
	    right: 10px;
	    top: 58px;
	    z-index: 999;
	}
#forum_list {
	background: #f9f9f9;
}
	#forum_list .return_btn {
		line-height: 38px;
	    /* margin-right: 15px; */
	    font-size: 14px;
	    cursor: pointer;
	}
	#forum_list .return_btn.no_mr {
		margin-right: -24px !important;
	}
	div#forum_list>div {
	    background: #fff;
	}
.memoContent img {
	max-width: 815px;
}
.memoReplies {
	position: relative;
	margin-top: 8px;
}
	.memoReplies .-fit {
		position: static;
	}
	.replies_count {
		margin-left: 12px;
	}
	.replies_count .label {
		color: #666666;
	}
	.replies_count .count {
		color: #999999;
		margin-left: 10px;
	}

	.memoMore {
		padding-top: 10px;
		height: 50px;
	    line-height: 50px;
	    text-align: center;
	    color: rgba(69,155,230,1);
	    cursor: pointer;
	    position: relative;
	}
		.memoMore .writeCommentBtn{
		    position: absolute;
		    right: 0px;
		    color: #666666;
		    top: 15px;
		}
		.memoMore .writeCommentBtn:hover {
			color: #4DACFF;
		}
/*使用md編輯器用为子回复时，宽度会变*/
.panel-comment_item .comment_orig_content {
	width: 705px;
}

.iconfont.icon-xiazai {
    font-size: 22px!important;
    margin-right: 6px;
}
/* MemoDetail     --------------------------------- END */

/* PostItem     --------------------------------- START */
.forum_table_item {
	padding-left: 20px;
}
	/* 置顶 */
	.forum_table_item .btn-top {
		border-radius: 11px;
	    padding: 0px 6px;
	    background: #FF4343;

	}

/* 管理员操作 */
.edu-position-hide {
    position: absolute;
    top: 15px;
    left: -20px;
    box-shadow: 0px 2px 8px rgba(146, 153, 169, 0.5);
    background: #fff;
    z-index: 1001;
    padding: 5px 0;
    z-index: 999999;
}
	.edu-position-hide li a:hover {
		background: #4CACFF;
    	color: #fff;
	}
.edu-position-hidebox>a:link{
	color: #4CACFF;
}
	.edu-position-hidebox:hover .edu-position-hide {
	    display: block;
	}
	.edu-position-hide li a {
	    display: inline-block;
	    height: 30px;
	    width: 100px;
	    line-height: 30px;
	    text-align: center;
	    font-size: 12px!important;
	}
/* PostItem     --------------------------------- END */


/* MemoNew     --------------------------------- START */

#attachments_fields div.ui-progressbar { 
	width: 120px;
    height: 10px;
    margin: 2px 0 -2px 8px;
    display: inline-block;
}
.ui-widget-header {
	border: 1px solid #4CACFF;
    background: #4CACFF;
}
.iconfont.icon-fujian {
	color: #29BD8B
}

/* rc-select样式覆写*/
.ecSelect {
	width: 300px;
}
.ecSelect .rc-select-selection {
	height: 40px;
}	
	.ecSelect .rc-select-search--inline .rc-select-search__field {
		padding-top: 6px;
	}
	.ecSelect .rc-select-selection--single .rc-select-selection-selected-value 
		, .ecSelect .rc-select-selection__placeholder {
    	top: 6px;

	}
	.ecSelect .rc-select-arrow {
		top: 6px;
	}
.defalutCancelbtn  {
	cursor: pointer;
}
.defalutSubmitbtnysl{
	display: block;border: 1px solid #4CACFF;background-color: #4CACFF;color: #fff!important;width: 120px;text-align: center;line-height: 40px;border-radius: 2px;
	width: 130px;
	height: 40px;
	background: rgba(76,172,255,1);
	border-radius: 4px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255,255,255,1);
}
#attachments_fields {
	margin-left: -77px;
    display: flex;
    flex-direction: column;
}
.uploadBtn {
	/* margin-left: 46px; */
}
#memoMD.show_content_grey {
	padding: 0;
}
.newForm .attachments_fields {
	/*margin-left: -39px !important*/
}
#attachments_fields div.ui-progressbar { 
	width: 120px;
    height: 10px;
    margin: 2px 0 -2px 8px;
    display: inline-block;
}
.ui-progressbar-value.ui-widget-header {
	border: 1px solid #4CACFF;
    background: #4CACFF;
}
/* MemoNew     --------------------------------- END */


/*RightMyPublish*/
.publishMemoSection {
	padding-bottom: 0px !important;
}
.advertisement {
	margin-top: 10px;
	height: 155px;
}
.advertisement img{
	width: 100%;
}

/* MyPublish*/
.returnBtn {
	font-size:16px;
	color:rgba(153,153,153,1);
	float: right;
    margin-right: 50px;
    position: relative;
    bottom: 12px;
}