<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('技术体系', admins_repertoires_path) %>
  <% add_admin_breadcrumb(@repertoire.name) %>
<% end %>

<div class="box search-form-container sub-repertoire-list-form">
  <%= javascript_void_link '新增', class: 'btn btn-primary', data: { toggle: 'modal', target: '.admin-create-sub-repertoire-modal' } %>
</div>

<div class="box admin-list-container sub-repertoire-list-container">
  <%= render(partial: 'admins/sub_repertoires/shared/list') %>
</div>

<%= render 'admins/sub_repertoires/shared/create_sub_repertoire_modal' %>
