<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('认证单位列表') %>
<% end %>

<div class="box search-form-container auth-schools-list-form">
  <%= javascript_void_link '新增', class: 'btn btn-primary', data: { toggle: 'modal', target: '.auth-schools-new-add' } %>
</div>

<div class="box admin-list-container auth-schools-list-container">
  <%= render(partial: 'admins/auth_schools/shared/list', locals: { schools: @schools }) %>
</div>

<%= render partial: "admins/auth_schools/shared/new_modal" %>
<%= render partial: "admins/auth_schools/shared/user_add_modal" %>