<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('技术体系', admins_repertoires_path) %>
  <% add_admin_breadcrumb(@sub_repertoire&.repertoire&.name, admins_sub_repertoires_path(repertoire_id: @sub_repertoire&.repertoire_id)) %>
  <% add_admin_breadcrumb(@sub_repertoire.name) %>
<% end %>

<div class="box search-form-container tag-repertoire-list-form">
  <%= javascript_void_link '新增', class: 'btn btn-primary', data: { toggle: 'modal', target: '.admin-create-tag-repertoire-modal' } %>
</div>

<div class="box admin-list-container tag-repertoire-list-container">
  <%= render(partial: 'admins/tag_repertoires/shared/list') %>
</div>

<%= render 'admins/tag_repertoires/shared/create_tag_repertoire_modal' %>
