.basicForm {
  background: #fff;
  padding: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  min-height: 390px;
}
  .basicForm .title {
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 10px;
  }
.flexTable {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
}

.mb15{margin-bottom: 15px!important;}
/*  BUTTOn */
.ant-btn {
   border-radius: 2px;
}
button.ant-btn.ant-btn-primary.grayBtn {
  background: #CBCBCB;
  border-color: #CBCBCB;
}
.borderBottom {
  border-bottom: 1px solid #4CACFF;
}

/* form ---------------- START */
.formItemInline {
  display: flex;
}
.formItemInline .ant-form-item-control-wrapper {
  display: inline-block;
}
.hideRequireTag .ant-form-item-required:before{
  display: none;
}


  /* .basicForm .ant-form-item-label {
    width: 100px;
    padding-right: 10px;
  }
    .basicForm .ant-form-item-label label {
      color: #979797
    } */


.courseNormalForm .ant-select-show-search {
  height: 40px;
}
.courseNormalForm .ant-select-auto-complete.ant-select .ant-input {
  height: 40px;
}
.courseNormalForm .ant-select-search__field__mirror {
  height: 40px;
}
.courseNormalForm .ant-input-lg {
  height: 40px;
}
.courseNormalForm .ant-select-selection--single {
  height: 40px;
}
.courseNormalForm .ant-select-auto-complete.ant-select .ant-select-selection--single {
  height: 40px
}
.courseNormalForm .ant-input-affix-wrapper {
  height: 40px;
}
/* 职业 */
.courseNormalForm .ant-select-selection-selected-value {
  line-height: 38px
}
.courseNormalForm input {
  height: 40px;
}
.autoModal .ant-modal-body{
  height: auto;
  overflow-y: auto;
}

@media screen and (max-height: 765px) {
  .autoModal .ant-modal-body {
      height: 670px;
      overflow-y: auto;
  }
}
@media screen and (max-height: 735px) {
  .autoModal .ant-modal-body {
      height: 600px;
      overflow-y: auto;
  }
}
@media screen and (max-height: 635px) {
  .autoModal .ant-modal-body {
      height: 500px;
      overflow-y: auto;
  }
}
@media screen and (max-height: 566px) {
  .autoModal .ant-modal-body {
      height: 465px;
      overflow-y: auto;
  }
}
@media screen and (max-height: 472px) {
  .autoModal .ant-modal-body {
      height: 360px;
      overflow-y: auto;
  }
}

