.yslmt16px{
   padding-top: 12px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 1px !important;
}

.yslmtopcg
{
    padding: 25px !important;


}

.bluebkbk{
    border: 1px solid #4CADFF;
    width: 79px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.ysleduinwh{

    padding-right: 25px;
   margin-top:  26px;
    display: flex;
    justify-content:flex-start;
}
.yslduincolorred{
    color: red;
    line-height: 40px;
    height: 40px;
    text-align: center;
}
.yslduinleft{
    width: 100% ;
}
.yslduinlefts{
    width: 25px;
    line-height: 40px;
    height: 40px;
    text-align: center;
}
.mtyslduin25{
    margin-top: 25px;
}

.newbianji1{
    font-size: 16px !important;
    margin-right: 10px;
    color: #4CACFF;
    margin-bottom: 3px;
    display: inline-block;
}

.ysltitbt{
    float: left;
    padding-top: 28px;
    padding-left: 25px;
    font-size: 21px;
    color: #05101a;
    text-align: left;
    font-weight: bold;
    max-width: 805px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.markdownysltext{
    font-size: 14px;
    color: #333333;
}
.fudonyingxiangysl{
    width: 100%;
}
.fudonyingxiangysls{
    display: flex;
    flex-direction:column;
}
.yslbianji{
    padding-top: 31px;

}
.yslmaxheigth80{
    max-height: 80px;
}
.ysldashed{
    border:1px dashed #EEE;
}
.yslclear{ clear: both;
}
