/*------------------------------- TaskList Start */
#all_task_index {
	color: #fff;
	background: #111C24;
}
	.panel-list:last-child {
	    margin-bottom: 50px;
	}
	.-task-list-title a, .-task-list-title a:link, .-task-list-title a:visited {
		color: #BCC6CD;

	}
	.-task-list-inner {
		background: none;
		border-bottom: 1px solid #222C34;
    	padding-bottom: 16px;
	}
		#all_task_index .fa-play-circle {
			color: white;
		}
		#all_task_index .panel-list {
		    position: relative;
		}
		#all_task_index .current .currentSelected {
			border-left: 3px solid #4CACFF;
		    height: 22px;
		    width: 0px;
		    position: absolute;
		    top: 8px;
		}

	#all_task_index .grades {
		color: #747A7F;
	}
	.-task-list-title {
		color: #BCC6CD;
	}
	#all_task_index .positive.info-partly span {
		color: #45E660;
	}
	#all_task_index .negative.info-partly span {
		color: #FF954C;
	}
	#all_task_index .notFinish .info-partly span {
		color: #747A7F !important;
	}

	#all_task_index #shixun_exp_118 span {
		/*color: #45E660;*/
	}
	#all_task_index #shixun_grade_118 span {
		/*color: #FF954C;*/
	}

	#all_task_index #shixun_tag_118 span {
		color: #FFF;
	}


.rateRow {
	margin-left: 20px;
	font-size: 13px;
	margin-top: 6px;
}
	.rateRow .rc-rate {
		margin-top: -5px;
   		margin-left: 3px;
	}
	.rateRow .rc-rate-star {
		color: #9A9A9A;
	}
	.rateRow .starTip {
	    color: #666666;
    	font-size: 13px;
	}
	.rateRow .starNumber {
        color: #FFA800;
    	margin-left: 4px;
	}
	.rateRow .unstar .starNumber {
		cursor: pointer;
	}
	.rateRow .unstar .starNumber:hover {
		text-decoration: underline;
	}
	.rateRow .stared .starNumber {

	}
	.rateRow .rc-rate-star-half .rc-rate-star-first, .rateRow .rc-rate-star-full .rc-rate-star-second {
	    color: #FFA800;
  }

  .tip-info-wrap{
    background-color: #111C24;
    padding: 20px 0px;
  }
  .tip-info-wrap .tip-info{
    display: flex;
    background: rgba(40, 47, 53, 1);
    border: 1px solid rgba(112,112,112,1);
    border-radius: 100px;
    width: 375px;
    height: 52px;
    font-size: 12px;
    align-items: center;
    align-items: space-around;
    margin: 0 auto;
    padding: 0 20px;
  }

  .finish-wrap{
    display: flex;
    padding: 0 0px 0 20px;
    margin-top: 10px;
  }
  .finish-wrap .finish-time{
    flex: 1;
  }
  .finish-time .time-title{
    color: #747A7F;
    margin-right: 5px;
  }
/*------------------------------- TaskList End */
