/*bæ–°æ ‡ç­¾*/
.newedu-filter-btn {
    display: block;
    float: left;
    padding: 0 9px;
    /*height: 28px;*/
    line-height: 28px;
    border-radius: 14px;
    background-color: #F5F5F5;
    color: #666;
    margin-right: 10px;
    margin-bottom: 9px;
}

.newedbox {
    /*flex-wrap:  wrap;*/
    /*display: -webkit-flex; !* Safari *!*/
    /*display: flex;*/
    width: 360px;
    position: relative;
    overflow: hidden;
}

.newsubscript {
    position: absolute;
    right: 23px;
    bottom: 16px;
    cursor: pointer;
}

.newsubscript:hover {
    color: deepskyblue;
}

.edu-filter-btn29BD8B {
    display: block;
    float: left;
    padding: 0 9px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    background-color: #29BD8B;
    color: #FFF;
    margin-right: 10px;
    margin-bottom: 9px;
}

.relative {
    position: relative;
}

.newedboxheight {
    max-height: 177px;
    overflow-y: hidden;
}

.newminheight {
    /*max-height: 670px;*/
    max-height: 300px;
    overflow-y: auto;
}

.delSubentry {
    font-size: 7px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(76, 172, 255, 1);
    line-height: 9px;
    cursor: pointer;
}

.operationalter .delSubentry {
    font-size: 15px !important;
    line-height: 25px;
}

/*ä¸´æ—¶çš„tpiå…³é—­æŒ‰é’®æ ·å¼*/
.headerRight a {
    color: #1a3f5f;
}

/*å®žè®­åšæˆå¼¹çª—aæ ‡ç­¾æ ·å¼è°ƒæ•´*/
.-task-list-title a:link, .-task-list-title a:visited {
    color: #bcc6cd;
}

.-task-list-title a:hover {
    color: #459be5;
}

.headerLeft .-header-right {
    height: 32px;
}

.creatorname {
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}

.creatornamelist {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 139px;
}

.width80center {
    font-size:12px;
    text-align: center;
}

.pd302020zuoze {
    padding: 30px 20px 20px;
}

.textcenter{
    text-align: center;
}
.padd252020px{
    padding: 25px 20px 15px;
}

.rightjinengs{
    height: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.borderbottomf4{
    border-bottom:1px solid #F4F4F4;
}