.teamsLayout{background: transparent !important;}

.teamsLayout .ant-layout-sider{
    background: transparent !important;
    flex: 0 0 180px !important;
    max-width: 180px !important;
    min-width: 180px !important;
    width: 180px !important;
}
.teamsLayout .teamsLayoutitle{
    font-size:18px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(5,16,26,1);
    line-height:25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.teamsLayoutTable  .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid transparent !important;
}

.teamsLayoutTable .ant-table-body .ant-table-thead > tr> th:nth-last-child(1){
    border-right: 1px solid #e8e8e8 !important;
}

.teamsLayoutTable .ant-table-body .ant-table-tbody > tr> td:nth-last-child(1){
    border-right: 1px solid #e8e8e8 !important;
}

.teamsLayoutTable  .ant-table-bordered .ant-table-thead > tr > th{
    background:#EEEEEE;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(102,102,102,1);
    line-height: 20px;
}

.teamsLayoutTable  .ant-table-bordered .ant-table-tbody > tr > th{
    background:#EEEEEE;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(5,16,26,1);
    line-height:20px;
}

.teamsLayout .mt40{
    margin-top: 40px !important;
}

.teamsLayoutheji{
    color: #878787;
    font-size: 16px;
}

.teamsLayoucolor-orange {
     color: #ff6800 !important;
    font-size: 16px;
}

.CompetitionCommonbanner{
    padding: 20px;
    background:rgba(255,255,255,1);
    box-shadow:3px 2px 12px 2px rgba(0,0,0,0.05);
    position: relative;
}

.CompetitionCommonbannerfont{
    height:100%;
    width: 365px !important;
    line-height: 34px;
}

.CompetitionCommonbannerfont .competitionbannerdiv:nth-child(1){
    max-height:100px;
    font-size:25px;
    font-weight:400;
    color:rgba(5,16,26,1);
    line-height: 30px;
}

.CompetitionCommonbannerfont .competitionbannerdiv:nth-child(2){
    max-height: 70px;
    font-size:16px;
    font-weight:400;
    /*color:rgba(155,155,155,1);*/
    color:#05101A;
}

.CompetitionCommonbannerfont .competitionbannerdiv:nth-child(3){
    max-height: 70px;
    font-size: 16px;
    font-weight: 400;
    /*color: rgba(155,155,155,1);*/
    color:#05101A;
}



.Competitioncolor9b{
    color: #9B9B9B;
}

.Competitioncolor77{
    color: #777777;
    font-size: 14px;
}

.Competitioncolor516{
    font-size:24px;
    color:rgba(5,16,26,1);
}

.Competitionfontsize22{
    font-size:22px;
    font-weight:500;
    color:rgba(255,255,255,1);
}

.Competitionfontsize16{
    font-size: 16px;
    font-weight: 400;
    color: rgba(102,102,102,1);
}

.ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #001529;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.CompetitionMenu .ant-menu-item::after {
    left: 0px !important;
    right: auto;
    border-right: 5px solid #4CACFF;
}

.CompetitionMenu .ant-menu-item{
    height: 30px;
    line-height: 30px;
    background:none;
    color:#666;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
}

.CompetitionMenu .ant-menu-item:not(:last-child){
    margin-bottom: 40px;
    background: transparent;
    color:#666;
}

.CompetitionMenu .ant-menu-item{
    font-size: 18px;
}

.CompetitionMenu .ant-menu-item-selected {
    color: rgba(76,172,255,1) !important;
}

.CompetitionMenu{
    width: 145px;
    background: #fff;
    border: 1px solid rgba(239,239,239,1);
    padding-top: 20px;
    padding-bottom: 40px !important;
}

.teamsLayoutleft{
    background: transparent !important;
}

.Competitioncharts{
    font-size: 24px;
    color: rgba(5,16,26,1);
}
.Competitionfirst{
    width:233px;
    height:298px;
    background:rgba(250,250,250,1);
    box-shadow:0px 2px 8px 2px rgba(255,134,34,0.5);
    border-radius:5px;
}
.Competitionsecondary{
    width:234px;
    height:298px;
    background:rgba(250,250,250,1);
    box-shadow:0px 3px 5px 0px rgba(254,190,154,1);
    border-radius:5px;
}

.Competitionthird{
    width: 234px;
    height: 298px;
    background: rgba(250,250,250,1);
    box-shadow: 0px 4px 5px 0px rgba(200,200,202,1);
    border-radius: 5px;
}

.Competition399{
    height:399px;
}

.Competitiontransparent table{
    background: transparent;
}

.Commonimg{
    position: absolute;
    right: -5px;
    width:93px;
    top: 10px;
}

.Competitionthirdbox{
    width:234px;
    height:167px;
    background:rgba(223,223,225,1);
    position: relative;
}

.Competitionfirstbox{
    width:233px;
    height:167px;
    background:rgba(255,231,160,1);
    position: relative;
}

.Competitionsecondarybox{
    width:234px;
    height:167px;
    background:rgba(253,230,217,1);
    position: relative;
}

.rankingimg{
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    border: 2px solid #459BE5;
}

.Competitioncenter{
    text-align: center;
    padding-top: 20px;
}


.jinshaifont{
    font-size: 16px;
    color: rgba(5,16,26,1);
    margin-top: 13px !important;
}

.Competitionthird .ant-card-body {
    padding: 12px;
    zoom: 1;
}

/*.Competitionthird .ant-card-meta-title{*/
    /*margin-bottom: 0px !important;*/
/*}*/

.Competitionfirst .ant-card-body {
    padding: 12px;
    zoom: 1;
}

.Competitionsecondary .ant-card-body {
    padding: 12px;
    zoom: 1;
}

.center{
    text-align: center;
}

.rankfonttop{
    font-size:14px;
    color:rgba(102,102,102,1);
}

.rankfontmid{
    font-size:18px;
    color:rgba(102,102,102,1);
}

.rankfontbottom{
    font-size:26px;
    color:rgba(165,91,41,1);
    text-align: center;
}

.rankfontbottoms{
    font-size:28px;
    color:rgba(165,91,41,1);
    text-align: center;
}

.Competitionuserimg{
    width: 64px;
    height: 63px;
    border-radius: 50%;
    border: 2px solid #459BE5;
}

.CompetitionsListzhezhao{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1206px;
    height: 100%;
    z-index: 10000;
    display: none;
    background: rgba(0,0,0,0.33);
    text-align: center;
    color: #fff;
    font-size: 22px;

}

.relative{position: relative;}

.relative:hover .CompetitionsListzhezhao{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.image_urlbox{
    width: 790px;
    height: 340px;
}

.CompetitionContents{
    background: #fff !important;
    padding: 40px;
    box-shadow: 3px 2px 12px 2px rgba(0,0,0,0.05);
    border: 1px solid rgba(239,239,239,1);
}

.rankbeicenter{
    text-align: center;
}
.rankbei{
    font-size: 16px;
    color: rgba(119,119,119,1);

}

.youranklist{
    background: rgba(226,241,255,1);
    line-height: 50px;
    text-align: center;
    padding-left: 20px;
}

.ranknames{
    font-size: 16px;
    color: rgba(62,62,62,1);
}

.ranknameslast{
    font-size:16px;
    color:rgba(12,158,254,1);
}

.textleft{
    text-align: left;
}

.textright{
    text-align: right;
}

.userranksclass{
    text-align: left;
    width: 18%;
    padding-left: 12px;
    margin-right: 28px;
}

.Commonimgbox{
    width: 800px !important;
}

.CompetitionCommonbannerfont{
    width: 350px !important;
    margin-left:10px;
}

.color000{
    color: #000;
}

.cursorpointer{
    cursor: pointer;
}

.rankfonttop{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

.usernamebox{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    max-width: 100px;
    display: inherit;
}

.competimgabsolute{
    position: absolute;
    left: 72px;
    bottom: -10px;
}
.competimgabsolute .ant-badge-count{
    box-shadow: none !important;
}

.competimgabsoluteijmg{
    position: absolute;
    left: -11px;
    bottom: 0px;
}