<div class="wenba-tiwenbox">
  <div class="wenba-tiwen-con" >
    <ul>
      <li class="mb10 ">
        <input type="text" placeholder="请输入标题" class="wenba-tiwen-input ">
      </li>
      <li class="mb10">
        <textarea   placeholder=" 请输入描述详情" class="wenba-tiwen-textarea"></textarea>
      </li>
      <li class="clear mb10">
        <button class="sub_btn fl  " name="button" type="button">上传附件</button>
        <p class="fl ml5 mt3 c_grey">(未选择文件) 您可以上传小于<span class="c_red">50MB</span>的文件</p>
      </li>
    </ul>
    <ul class="wenba-tagbox clearfix">
      <h3 class="mb5">请选择分类(<span class="c_red">1</span>个)</h3>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag wenba-tiwen-tag-active">新手讨论吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">网站建议吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">技术动态吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">教程共享吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">创业吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">互联网新闻</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">开源创新吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">网站新闻吧</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">技术知识交流</a></li>
      <li><a href="javascript:void(0);" class="wenba-tiwen-tag">假日问候吧</a></li>
    </ul>
    <div class="clear ">
      <button  class=" btn btn-blue fr ">确定</button >
      <button  class=" btn fr mr5">取消</button >
    </div>
  </div>
</div>