@import '../../split_pane_resizer.scss';

.user_code_tab_area{
  .ant-tabs-tabpane{
    background: #fff;
  }
}
.number_area{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(244,244,244,1);
  // background: pink;
  padding: 0 20px;
  // background-color: rgba(250,250,250,1);
  background: #fff;

  .flex_count,
  .flex_info,
  .flex_quill{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex_info{
    // width: 140px;
    justify-content: flex-end;

    .like{
      margin-left: 20px
    }
    .like.active{
      .numb_icon{
        color: #5091FF;
      }
    }
  }

  .flex_quill{
    // position: relative;
    flex: 1;
    align-items: center;
    height: 100%;
    top: 10px;
    margin-right: 20px;
  }
}

.commit_record_area{
  padding: 0 20px;
  background: #fff;
  // height: calc(100vh - 178px);
}
.task_description_area{
  height: calc(100vh - 177px);
  
  .task_desc_area{
    height: calc(100vh - 242px);
    overflow-y: auto;
    // padding: 0 0 0 15px;
    background: #fff;
  }
  .desc_area_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f4f4;

    .header_flex{
      font-size: 14px;
      .flex_label{
        color: #888888;
        margin-right: 10px;
      }
      .flex_value{
        font-weight: 500;
        color: #333;
        // color: green;
      }
    }
  }
}

.student_study_header{
  .study_quit{
    position: absolute;
    right: 20px;
  }
  .quit-btn{
    cursor: pointer;
    margin-left: 30px;
    color: #888888;
    transition: all .3s;
    &:hover{
      color: #5091FF;
    }
    // &:last-child{
    //   color: #888888;
    // }
    .quit-icon{
      margin-right: 5px;
    }
  }
}

.add_editor_list_area{
  box-sizing: border-box;
  border-bottom: 1px solid rgba(244,244,244,1);
}