<div class="d-flex flex-column align-items-center justify-content-center global-error">
  <div class="global-error-code">
    <span>422</span>
  </div>
  <div class="global-error-text"><%= @message %></div>
</div>