<% if @_breadcrumbs.present? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% @_breadcrumbs&.each_with_index do |item, index| %>
        <% if item.url.present? && index != @_breadcrumbs.size - 1 %>
          <li class="breadcrumb-item"><%= link_to item.text, item.url %></li>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page"><%= item.text %></li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>