.add-ec-manager-modal {
  .ant-modal-body {
    padding-bottom: 0;

    .ant-table-thead {
      background: #fafafa;
    }
    .ant-table-scroll {
      min-height: 250px;
    }

    .add-ec-manager-search {
      margin-bottom: 20px;

      .ant-form-item {
        margin-bottom: 0;

        &-label > label {
          font-size: 14px !important;
        }
      }
    }

    .error {
      height: 20px;
      margin-top: -20px;
      color: red;
    }
  }
  .ant-modal-footer {
    padding-bottom: 20px;
    text-align: center;
    border-top: unset;
  }
}