.editormd-html-preview, .editormd-preview-container {
    width: 100% !important;
}
.Finish_button{
    height: 30px;
    line-height: 30px;
    margin-top: -8px;
}
.startbtnModal .ant-modal-content{
    background: transparent;
    box-shadow: 0 4px 12px transparent;
}

.startbtnModal .ant-modal-content .ant-modal-body .ant-spin-spinning{
    margin-left: 45%;
}

.color05101a{
    color:#05101a;
}

.mtf3{
    margin-top: -3px;
}
.ysltable{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}