.ant-checkbox-group > div .boardsList{
  /* border-top: 1px solid #ebebeb; */
  padding:10px 0px 20px!important;
}
.ant-checkbox-group > div:first-child .boardsList{
  border-top: none;
}
.boardsList .contentSection {
  flex: 1;
  margin-left: 15px;
}


.ant-select-selection--single,.ant-select-selection__rendered{
  height: 40px;
  line-height: 40px;
}

.ant-input:focus + .ant-input-group-addon{
  background-color: #fff!important;
}
.ant-input-group-addon{
  color: #666!important;
  font-size: 12px;
  border: 1px solid #d9d9d9!important;
  border-left: none!important;
}

.courseForm .ant-form-item-label{
  margin-left: unset;
}

/* 毕设选题列表 */
.TopicDetailTable .topHead{background-color: #F5F5F5;height: 56px;color: #666666;padding:0px 30px}
.TopicDetailTable .topHead span,.TopicDetailTable .bottomBody li span{display: block;float: left;justify-content: center;align-items: center;display: -webkit-flex;height: 56px;}
.TopicDetailTable .bottomBody{padding:0px 30px}
.TopicDetailTable .bottomBody li{border-bottom: 1px solid #eee;clear: both;}
.TopicDetailTable .bottomBody li:last-child{border-bottom: none;}

.maxnamewidth100{
  max-width: 100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor: default;
}
.maxnamewidth110{
  max-width: 100px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor: default;
}

.maxnamewidth120 {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
.maxnamewidth200{
  max-width: 200px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor: default;
}
.maxnamewidth145{
  max-width: 145px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor: default;
}

.maxnamewidth120{
    max-width: 120px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth145{
  max-width: 145px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  cursor: default;
}
.ysyslxh{
  background: #fafafa;
}

.z666{
    color: #666;
    font-size:14px;
}
.z000{
    color: #000;
    font-size:16px;
}

.pd30bt{
    padding: 10px 30px 0px 30px;
}
.bor-reds{
  border:1px solid #FF0000!important;
  border-radius: 1px!important;
  border-top-left-radius: 1px!important;
  border-top-right-radius: 1px!important;
  border-bottom-right-radius: 1px!important;
  border-bottom-left-radius: 1px!important;
}
.bor-reds input {
  border:1px solid #FF0000!important;
  border-radius: 1px!important;
  border-top-left-radius: 1px!important;
  border-top-right-radius: 1px!important;
  border-bottom-right-radius: 1px!important;
  border-bottom-left-radius: 1px!important;
}

.myslHeight{
  height: 20px;
  min-height: 20px;
}

.maxnamewidth340 {
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  width: 340px;
  max-width: 340px;
}
