.ec-training-objective-page {
  background: #ffffff;

  .training-objective {
    &-body {
      margin-top: -24px;
      min-height: 600px;
    }

    &-content {
      display: flex;
      padding: 20px 30px;
      line-height: 2.0;

      &.block {
        display: block;
      }

      &-text {
        flex: 1;
      }

      &-edit {
        margin-left: 20px;

        & > i {
          color: #29BD8B;
          cursor: pointer;
          font-size: 18px;
        }
      }

      &-form {
        margin-top: 10px;
        text-align: right;

        button {
          margin-left: 10px;
        }
      }
    }

    &-items {
      &-head {
        padding: 15px 30px;
        display: flex;
        background: #F5F5F5;
      }

      &-body {
        margin: 0 30px;

        &-item {
          display: flex;
          min-height: 48px;
          padding: 10px 0px;
          border-bottom: 1px solid #eaeaea;

          &:last-child {
            border-bottom: unset;
          }
        }
      }

      .no-column {
        width: 40px;
        text-align: center;
      }

      .item-content-column {
        flex: 1;
        padding-left: 10px;
        display: flex;

        .ant-form-item {
          flex: 1;
          margin-bottom: 0;
        }

        .item-column-operation {
          display: flex;
          justify-content: flex-end;
          width: 80px;

          & > i {
            margin: 15px 10px;
            font-size: 18px;
          }
        }
      }
    }
  }

  i.edit-action {
    color: #29BD8B;
    cursor: pointer;
    font-size: 18px;
  }
}