.topWrapper {
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  flex-wrap: wrap;
}

.topmilepost{
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.miledetail{
  padding: 20px 0;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  flex-wrap: wrap;
}
.topWrapper_nav{
  display: flex;

}
.detail_p{
  display: flex;
  /*padding:10px;*/
  /*width: 80%;*/
  /*padding-left: 15px;*/
  /*margin: auto;*/
}

.detail_right{
  /*display: flex;*/
  flex-grow: 1;
  text-align: right;
  /*width: 15%;*/
  /*padding-left: 15px;*/
  /*margin: auto; */
}
.commit_p{
  font-size: 12px;
  padding-top: 10px;
  padding-left: 5px;
}

.ul_width{
  width: 100%;
}
.a_btn{
  border-radius:4px;
  padding:0 12px;
  margin-right: 15px;
  line-height: 30px;
}
.cancel_btn{
  border:1px solid #e6e6e6;
  color: #333 !important;
}
.delete_btn{
  border:1px solid red;
  color: red !important;
}
.cancel_btn:hover{background: #e6e6e6}
.Closeor_btn{
  border:1px solid red;
  color: red;
  height: 32px;
  text-align: center;
  border-radius:4px;
  padding:0px 12px;
  margin-right: 15px;
  line-height: 32px;

}
.rectangle {
   width: 8px;
   height: 8px;
   border-radius: 100%;
   margin-top: 15px;
   margin-left: -4px;
   margin-bottom: 10px;
   background: green;
   }
  .order_line{
    display: flex;
    height: 32px;
    margin: auto;
    border-left:1px solid #eee;
   }
   .comment_img{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    border-radius: 100%;
   }

.topWrapper_nav a,.topWrapper_nav span{
  border:1px solid #f4f4f4;
  border-radius: 5px 0px 0px 5px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  padding:0px 10px;
  display: block;
  cursor: pointer;
}
.topWrapper_nav a:hover{
  background: #f4f4f4;
}
.topWrapper_nav a:last-child,.topWrapper_nav span:last-child{
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}
.topWrapper_btn {
  background: #21ba45;
  color: #FFFFFF!important;
  padding:0px 12px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}
.topWrapper_type{
  border:1px solid #f4f4f4;
  border-radius: 6px;
  display: flex;
}
.topWrapper_type li{
  height: 30px;
  line-height: 30px;
  border-left:1px solid #f4f4f4;
  padding:0px 8px;
  cursor: pointer;
  color: #666
}
.topWrapper_type li.active{
  color: #4CACFF;
}
.topWrapper_type li:first-child{
  border-left: none;
}
.topWrapper_select{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.topWrapper .ant-btn.ant-input-search-button{
  height: 30px;
}
.topWrapper_select li{
  text-align: center;
  cursor: pointer;
  color: #666;
  width:90px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.topWrapper_select li:active{
  background: #f4f4f4;
  border-radius: 4px;
}
.ant-dropdown-menu .ant-dropdown-menu-item{
  text-align: center;
  padding:6px 30px;
  cursor: pointer;
}
.issueItem{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-bottom:1px dashed #f4f4f4;
  padding:16px 0px;
}
.issueItem:first-child{
  border-top:1px dashed #f4f4f4;
}
.issueNo{
  padding:0px 5px;
  border-radius: 4px;
  background: #f4f4f4;
  display: block;
  margin-right: 8px;
  color:#666;
  height: 30px;
  line-height: 30px;
}

.margin_detail{
  margin-left: 15px;
  margin-right: 15px;
}

/* 新建 */
.user_img {
  height: 49px;
  width: 49px;
  border-radius: 100%;
}
.new_context {
  flex: 1;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  margin-left: 15px;
  padding: 15px;
  position: relative;
  background: #FFFFFF;
}
.new_context:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #f4f4f4;
  border-width: 9px;
  top: 12px;
  right: 100%;
}
.new_context::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #fff;
  border-width: 7px;
  top: 14px;
  right: 100%;
}
.list-l-panel{
  border:1px solid #f4f4f4;
  border-radius: 4px;
  padding:10px 15px;
}
.list-l-panel .ant-row{
  margin-bottom: 0px;
}

 /*编辑工单*/
 .editingsheet{
  background: #ffffff;
  color: #21ba45!important;
  padding:0px 12px;
  text-align: center;
  height: 32px;
  line-height: 32px;
}
/*开启中 关闭中*/
.opendetail{
  display: inline-block;
  background: #21ba45;
  color: #ffffff!important;
  padding:0px 12px;
  text-align: center;
  height: 32px;
  /*width: 110px;*/
  border-radius: 4px;
  line-height: 32px;
}
.closedetail{
  display: inline-block;
  background: #e60b0b;
  color: #ffffff!important;
  padding:0px 12px;
  text-align: center;
  height: 32px;
  /*width: 110px;*/
  border-radius: 4px;
  line-height: 32px;
}

.commenttitle{
  color: #21ba45!important;
}

.topWrapper_detali{
  display: flex;
  /*height: 35px;*/
  background-color: #eee;
  align-items: center;
}
.towwrapper_img_detali{
  display: flex;
  padding-left: 80px;
  margin-left: 80px;
  margin-right: 20px;
  border: 1px solid #4CACFF;
}
.div_line{
  width: 100%;
  border: 10px solid #4CACFF;
 
}
.list_img{
  height: 145px;
  padding: 15px;
  width: 145px;
}

.detail_context {
  flex: 1;
  border: 1px solid #f4f4f4;
  margin-left: 15px;
  padding: 10px;
  /*padding-top: 0px;*/
  /*padding-left: 0px;*/
  /*margin-right: 15px;*/
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
}
.detail_context:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #f4f4f4;
  border-width: 9px;
  top: 12px;
  right: 100%;
}
.detail_context::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #fff;
  border-width: 7px;
  top: 14px;
  right: 100%;
}
/* 工单标签列表 */
.tagList > div{
  border-bottom: 1px dashed #f4f4f4;
  display: flex;
  justify-content: space-around;
  padding:15px 0px;
}
.divwidth{
  width: 74%;
}
.listTowItems{
  width: 80%;
  padding-left: 80px;
}
.detail_ptitlecount{
  padding: 15px;
}

.tagList > div:last-child{
  border-bottom: none;
}
.mr10{margin-right: 10px;}
.text-right{text-align: right;}
/*.tagList > div > span{*/
  /*display: block*/
/*}*/
/*.tagList > div > span:nth-child(2){*/
  /*width: 450px;*/
/*}*/
.tagColor{
  display: inline-block;
  width:20px;
  height: 15px;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

/*里程碑*/
.milepostdiv{
  display: flex;
}
.milepostwidth{
  display: flex;
  width: 60%;
}
.mileposwidth{
  background: #21ba45;
  border-radius: 4px;
  width: 40%;
}
.milepostrighe{
  display: flex;
  width: 80%;
}
.milepostleft{
  text-align: right;
  display: flex;
  justify-content: right;
  width: 20%;
}
.textwidth{
  display: flex;
  width: 100%;
}
.newmilepostleft{
  padding: 15px;
  margin-right: 50px;
  width: 60%;
}
.newmilepostrighe{
  margin-left: 50px;
  padding: 15px;
  width: 30%;
}
/* 工单详情 */
.detailContent{
  padding:15px 0px;
  border-bottom: 1px solid #f4f4f4;
}
.DetailRight{
  padding: 10px 15px; 
  border:1px solid #f4f4f4;
  border-radius: 4px;
}
.DetailRight > p{
  height: 30px;
  line-height:30px;
}
.inptwidth{
  width: 20%;
}
.inputcount{
  width: 40%;
}

.tagdiv{
  padding: 15px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border: 1px solid #EEEEEE;
  flex-wrap: wrap;
}

.dialogdiv{
  padding: 5px;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.issue-tag-show{padding: 3px 8px; color: #fff; border-radius: 6px;}

/*.DetailRight > p >span:nth-child(1){*/
  /*min-width: 90px;*/
  /*margin-right: 15px;*/
  /*text-align: right;*/
/*}*/
.span_title{
  min-width: 90px;
  margin-right: 15px;
  text-align: right;
  color: rgba(0, 0, 0, 0.65);
}
.target-detail-search .ant-input-group-addon{border: none !important;}
.target-detail-search .ant-input-search-button{height: 32px !important;}
a.issue-type-button.active{background: #4CACFF; color: #fff;}
a.issue-type-button.active:hover{background: #f4f4f4; color: #4CACFF;}
@media screen and (max-width: 700px){
  .topWrapper_select li{
    width:auto;
  }
}
.ml10{margin-left: 10px;}
.lineH32{line-height: 32px;}
.lineH40{line-height: 40px;}
.item-list-right{width: 74%; padding: 10px 15px 10px 0}
.detail_edit_action{padding:10px; color: #999; cursor: pointer; line-height: 40px;}
.attachmentsList{
  margin-left:4px;
}
.paper-clip-color{color:#29bd8b !important}
.attachment-list-delete{display: none;}
.attachment-list-div:hover{background-color: #e6f7ff;}
.attachment-list-div:hover .attachment-list-delete{display: block !important;}
.attachment-list-a{color: rgba(0, 0, 0, 0.65) !important;}
.btp1{border-top: 1px solid #f4f4f4;}
.grid-item{display: grid; align-items: center; grid-template-columns: max-content 1fr;}
.fwb{font-weight: bold;}