<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('帮助中心') %>
<% end %>

<div class="box edit-help-center-container">
  <%= simple_form_for(@doc, url: admins_help_center_path) do |f| %>
    <div class="form-group" id="help-center-editor">
      <%= text_area_tag('help_center', @doc.help_center, style: 'display: none') %>
    </div>

    <div class="form-row mt-4">
      <%= f.button :submit, value: '保存', class: 'btn-primary mr-3 px-4', 'data-disable-with': '保存中...' %>
    </div>
  <% end %>
</div>