<p id="notice"><%= notice %></p>

<p>
  <strong>Tier:</strong>
  <%= @sponsor_tier.tier %>
</p>

<%= link_to 'Edit', edit_sponsor_tier_path(@sponsor_tier) %> |
<%= link_to 'Back', sponsor_tiers_path %>
