.contact-us-container {

}
.contact-us-container .contact-item {
  padding: 20px 15px;
  border-bottom: 1px solid #EEEEEE;
}
.contact-us-container .contact-item:first-child {
  padding-top: 0;
}
.contact-us-container .contact-item:last-child {
  border-bottom: unset;
}

.contact-us-container .contact-item-label {
  font-size: 16px;
  padding-bottom: 10px;
}
.contact-us-container .contact-item-content {
  margin-left: 10px;
}
.contact-us-container .contact-item-content .ant-row {
  margin-top: 10px;
}