
<div class="modal fade admins-add-forum-section-modal" tabindex="-1" role="dialog" aria-hidden="true" id="admin-forum-section-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="admin-forum-section-content">
    </div>
  </div>
</div>
