
<div class="modal fade admins-add-managers-modal" tabindex="-1" role="dialog" aria-hidden="true" id="admin-managers-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="admin-forum-managers-content">
    </div>
  </div>
</div>