.tab_ctx_area{
  display: flex;
  height: 100%;
  color: #666;
  font-size: 14px;
  &.pos_start{
    justify-content: flex-start;
  }
  &.pos_center{
    justify-content: center;
    align-items: center;
  }
  &.pos_end{
    justify-content: flex-end;
  }
  .ctx_default{
    margin: 10px 20px;
  }
  .ctx_loading,
  .ctx_loaded{
    display: flex;
    position: relative;
    flex-direction: column;
    top: -20px;
    color: #1890ff;
    .ctx_icon{
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
}

.user_case_form{
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  .input_area{
    flex: 1;
    .ant-form-item-required{
      color: #fff;
    }
  }
  .flex_l{
    padding: 0 10px 0 10px;
    color: #fff;
  }
  .flex_r{
    padding: 0 20px 0 10px;
  }

  .input_textarea_style{
    // background:rgba(30,30,30,1) !important;
    background:rgba(7,15,25,1) !important;
    color: #fff;
    border-color: transparent;
    outline: none;
  }
}
