.wexintitle{
    width:600px;
    height:86px;
    font-size:20px;
    text-align: center;
    color:rgba(69,155,229,1);
    line-height:86px;
    background:rgba(236,245,252,1);
    cursor:pointer;
}
.selectwexintitle{
    width:600px;
    height:86px;
    font-size:20px;
    text-align: center;
    color:rgba(153,153,153,1);
    line-height:86px;
    cursor:pointer;
}
.wexinHeader{
    text-align: center;
    font-size:14px;
    color:rgba(153,153,153,1) !important;
}
.weixinfooter{
    text-align: center;
}
.wexinconter{
    width: 100%;
    height: 40px;
}

.wexinconterfl{
    font-size:20px;
    color:rgba(0,0,0,1);
}

.wexinconterfr{
    font-size:16px;
    cursor:pointer;
    color:rgba(69,155,229,1);
}

.weixinnelogin{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.weixinmarauto{
    width: 24%;
    margin: 0 auto;
}