.maxnamewidth100{
    max-width: 100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth110{
    max-width: 100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth200{
    max-width: 200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth145{
    max-width: 145px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth215{
    max-width: 215px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth255{
    max-width: 255px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}
.maxnamewidth175{
    max-width: 175px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor: default;
}

.maxnamewidth260 {
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
.columnstwoachievement{
    width: 199px;
    text-align: right !important;
    padding-right: 97px !important;
}
