.color4CACFF{
    color: #4CACFF !important;
}

.orderingbox{
    width:1200px;
    height:80px;
    background:rgba(255,255,255,1);
    box-shadow:3px 3px 3px rgba(237,237,237,1);
    opacity:1;
    border-radius:2px 2px 0px 0px;
    padding: 24px;
    box-sizing: border-box;
    line-height: 34px;
}

.orderingbtnright{
    width: 90px;
    height: 38px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(228,228,228,1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.16);
    opacity: 1;
    border-radius: 4px;
}

.orderingbtnleft{
    width: 90px;
    height: 38px;
    background: rgba(76,172,255,1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.16);
    opacity: 1;
    border-radius: 4px;
}
.pd1323s{
    padding: 10px 6px 25px 40px;
    cursor: pointer;
}


.orderSection{
    height: 80px;
    padding-top: 16px;
}

.ordermidbox{
    width: 960px;
    height: 120px;
    background: rgba(255,255,255,1);
    /* border: 1px solid rgba(205,205,205,1); */
    opacity: 1;
    margin-left:120px;
}

.orderfonttop{
    font-size: 16px !important;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 28px;
    color: rgba(5,16,26,1);
    opacity: 1;
}

.orderfontbom{
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:25px;
    color:rgba(153,153,153,1);
    opacity:1;
}

.ordermidbox:hover {
    box-shadow: 0px 2px 6px rgba(51,51,51,0.09);
    opacity: 1;
}

.mb200{
    margin-bottom: 200px;
}

.maxwidth865s{
    max-width: 865px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.maxwidth795 {
    max-width:795px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.ordermidbox:active{
    background:rgba(248,247,255,1);
    border:1px solid rgba(76,172,255,1);
}

.ordermidbox:focus{
    background:rgba(248,247,255,1);
    border:1px solid rgba(76,172,255,1);
}

.ordermiddiv{
    min-height: 500px;
}
