
.polllisthover:hover {
  box-shadow: 0px 2px 6px rgba(51,51,51,0.09);
  opacity: 1;
  border-radius: 2px;
}

.workList_Item{
  /* padding:20px 30px; */
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  padding-top: 10px;
}
p span{
  cursor: default;
}
.mt-5{ margin-top:-5px;}


/* ���ѡ��tab */
.bankNav li{
  float: left;
  margin-right: 20px;
}
.bankNav li:last-child{
  margin-right: 0px;
}
.bankNav li.active a{
  color: #fff!important;
  background-color: #4CACFF;
}
.bankNav li a{
  display: block;
  padding:0px 10px;
  height: 28px;
  line-height: 28px;
  background-color: #F5F5F5;
  border-radius: 36px;
  color: #666666!important;
}



.task_menu_ul{
  width: 600px;
}

.task_menu_ul .ant-menu-item,.task_menu_ul .ant-menu-submenu-title{
  padding:0px;
  margin-right: 30px;
  line-height: 68px;
  font-size: 16px;
}
.ant-menu{
  color: #05101a;
}
.task_menu_ul .ant-menu-horizontal{
  border-bottom: none;
}
.task_menu_ul .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom:2px solid transparent;
}
.task_menu_ul .ant-menu-horizontal > .ant-menu-item-selected{
  border-bottom: 2px solid #4CACFF !important;
}

.sourceTag a{
  display: block;
  float: left;
  background-color:#E5F3FF;
  padding: 0px 10px;
  height: 24px;
  line-height: 24px;
  color: #4E7A9B;
  margin:5px 0px 5px 10px;
}
.sourceTag a.active{
  color: #FFFFFF;background-color:#4CACFF; 
}

