.teamsLayout{background: transparent !important;}
.teamsLayout .teamsLayoutitle{
    font-size:18px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(5,16,26,1);
    line-height:25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.teamsLayoutTable  .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid transparent !important;
}

.teamsLayoutTable .ant-table-body .ant-table-thead > tr> th:nth-last-child(1){
    border-right: 1px solid #e8e8e8 !important;
}

.teamsLayoutTable .ant-table-body .ant-table-tbody > tr> td:nth-last-child(1){
    border-right: 1px solid #e8e8e8 !important;
}

.teamsLayoutTable  .ant-table-bordered .ant-table-thead > tr > th{
    background:#EEEEEE;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(102,102,102,1);
    line-height: 20px;
}

.teamsLayoutTable  .ant-table-bordered .ant-table-tbody > tr > th{
    background:#EEEEEE;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(5,16,26,1);
    line-height:20px;
}

.teamsLayout .mt40{
    margin-top: 40px !important;
}

.teamsLayoutheji{
    color: #878787;
    font-size: 16px;
}

.teamsLayoucolor-orange {
     color: #ff6800!important;
    font-size: 16px;
}