.editormd-html-preview, .editormd-preview-container {
    width: 100% !important;
}
.Finish_button{
    height: 30px;
    line-height: 30px;
    margin-top: -8px;
}
.startbtnModal .ant-modal-content{
    background: transparent;
    box-shadow: 0 4px 12px transparent;
}

.startbtnModal .ant-modal-content .ant-modal-body .ant-spin-spinning{
    margin-left: 45%;
}

.color05101a{
    color:#05101a;
}

.mtf3{
    margin-top: -3px;
}
.addshixuns{
    height: 27px;
    line-height: 25px;
}
.challenbaocun{
    width:60px;
    height:30px;
    background:#29BD8B;
    border-radius:3px;
    cursor:pointer
}
.challenbaocuntest{
    width:60px;
    height:30px;
    font-size:16px;
    color:#FFFFFF;
    text-align: center;
    line-height:30px;
    cursor:pointer
}
.renwuxiangqdiv{
    width:72px;
    height:30px;
    font-size:18px;
    color:#000000;
    line-height:30px;
}
.renwuxiangqdivtest{
    height:30px;
    font-size:16px;
    line-height:30px;
}

.renwuxiangssi{
    width: 50%;
}
.renwuxiangssit{
    width: 50%;
}

.pb47{
    padding-bottom: 47px;
}
.colorbluetwo{
    color: #1E8FFD;
    font-size: 12px;
    cursor:pointer;
    margin-right: 18px;
}
.colorbluetest{
    color: #06101A;
    font-size: 12px;
    cursor:default
}
.shixunbingbaocun{
    font-size:14px;
    color:#888888;
}
.intermediatecenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconfontysl{
    vertical-align:middle;
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    font-size: 100px;
    color: #F5F5F5;
}
.juplbool{
    position: relative;
}

.juplboolp{
    position: absolute;
    bottom: 21px;
}


.shixunjianjie{
    height: 76px;
    line-height: 35px;
    padding: 20px;
    border-bottom: 1px solid #eeee;
    /*margin-bottom: 10px;*/
}

.pd20{
    padding:20px;
}

.shixunbingbaocun12{
    font-size:12px;
    color:#888888;
}

.shixunbingbaocun33312{
    font-size:12px;
    color:#333333
}

.shixunjianjiecballenges{
    height: 76px;
    line-height: 35px;
    padding: 20px;
}

.padding1020pxshixun{
    padding: 10px 20px 0px 20px;
}

.shixunstartbutton33BD8C{
    /* border: #33BD8C !important; */
    cursor: inherit !important;
    border: 1px solid #33BD8C !important;
    background: transparent !important;
    color: #33BD8C !important;
    box-shadow: none;
    text-shadow: none;
}

.shixunstartbuttonFF6601{
    /*background: #FF6601 !important;*/
    /*border: #FF6601 !important;*/
    /*cursor: inherit !important;*/
    /* border: #33BD8C !important; */
    cursor: inherit !important;
    border: 1px solid #FF6601 !important;
    background: transparent !important;
    color: #FF6601 !important;
    box-shadow: none;
    text-shadow: none;
}

.shixunstartbutton666666{
    font-size:14px;
    color:#666666;
}

.newedu-nodata-img{
    width: 300px;
    margin: 50px 0px;
    display: block;
    margin-left: 41%;
}

.fonthiddens{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-bianji_Hover,.icon-xiayi_Hover,.icon-shangyi_Hover,.icon-shanchu_Hover{
    color:#BBBBBB !important;
}

.icon-bianji_Hover:hover{
    color: rgb(80, 145, 255) !important;
}

.icon-xiayi_Hover:hover{
    color: rgb(51, 189, 140)  !important;
}

.icon-shangyi_Hover:hover{
    color: rgb(51, 189, 140)  !important;
}

.icon-shanchu_Hover:hover{
    color:rgb(255, 85, 85)  !important;
}
.ysliconfont{
    text-align: center;
    line-height: 29px;
    color: #8a8a8a;
}

.fangdaone{
    height: 63px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2800;
    right: 0px;
}

.fangdatwo{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0px;
    margin-top: 63px;
    bottom: 0px;
    left: 0px;
    z-index: 2800;
    right: 0px;
}

.fangdatwoswidth{
    border-top: 1px solid #eeee;
}

.jupyterswidth{
   width:  1140px;
}

.chongzhistyles{
    color: #fff;
    width: 85px !important;
    height: 32px !important;
    margin-right: 20px;
}

.chongzhistyles:hover, .chongzhistyles:focus{
    color: #fff !important;
    background-color: #29BD8B !important;
    border-color: transparent;
}
.chongzhistyles:active, .chongzhistyles:active{
    color: #fff !important;
    background-color: #29BD8B !important;
    border-color: transparent ;
}

.Countdownfonttpm{
    width: 60px;
    display: inline-block;
}

.Countdownfonttpm .ant-statistic-content-value{
    font-size: 14px;
}

.boreee{
    border-bottom: 1px solid #F4F4F4;
}