
.main{
  width: 1200px;
  margin:20px auto;
}
.normal{
  width: 1200px;
  margin:0px auto;
}
/* 背景色 */
.back-white{
  background: #fff;
}
.back-black{
  background: #000;
}
/* 灰色按钮-高度32 */
.btn_32{
  border-radius: 4px;
  padding:0px 12px;
  height: 32px;
  line-height: 32px;
  background-color: #f4f4f4;
  color: #666;
  display: inline-block;
}
@media screen and (max-width: 1200px){
  .main{
    width:1000px;
    margin:10px auto;
  }
}

.hide-1{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hide-2 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.df{display: flex}
.flex-1{flex: 1;width: 0}

.f-wrap-between{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.f-wrap-alignCenter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.normalBox{
  border-radius: 4px;
  border:1px solid #ddd;
}
.normalBox-title{
  padding:10px;
  background-color: #f4f4f4;
  line-height: 18px;
}
@media screen and (max-width: 1000px){
  .main{
    width: 750px;
    margin:1rem auto;
  }
  .normal{
    width: 750px;
  }
}
@media screen and (max-width: 750px){
  .main{
    width: 95%;
    margin:1rem auto;
  }
  .normal{
    width: 100%;
  }
}