<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb("#{@salesman.name}的客户", admins_salesmans_path) %>
<% end %>

<div class="box search-form-container salesman-customer-list-form rig">
  <div class="flex-1">
    <%= javascript_void_link '新增客户', class: 'btn btn-primary', data: {salesman_id: @salesman.id, toggle: 'modal', target: '.admin-add-salesman-customer-user-modal' } %>
  </div>
</div>

<div class="box admin-list-container salesman-customer-list-container">
  <%= render(partial: 'admins/salesman_customers/shared/list') %>
</div>

<%= render 'admins/salesman_customers/shared/add_salesman_customers_user_modal' %>
