#quill-toolbar{
  .quill-btn{
    vertical-align: middle;
  }
  .quill_image{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 28px;
    height: 24px;
    overflow: hidden;
    .image_input{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
    .ql-image{
      position: relative;
      left: 0;
      top: 0;
    }
  }
}

.react_quill_area{
  .ql-toolbar:not(:last-child) {
    display: none;
  }
}