.ysldivhome2s{
    display: flex;
    flex-flow: row wrap;
    align-content:stretch;
    flex-direction: row;
    margin-bottom: 20px;
}

.ysllogin_register_contentss{
  margin-top:0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
    display: flex;
    margin-top: 20px;
    /*justify-content: center;*/
    background: #fff;
}

.ysldivhomediv1s{
    width: 80px;
    height: 130px;
    display: flex;
    flex-direction:column;
    margin-left: 48px;
    margin-top: 20px;
}
.yslgouxuanimg{
    width: 20px;
    height: 20px;
    margin-left: 64px;

}
.yslgouxuanimg2s{
    height: 20px;
}
.div1imgs{
    display: flex;
    justify-content:center;
    width: 80px;
    height: 80px;
    border-radius:50%;

}
.textall{
    text-align: center;
    font-size: 13px;
    color: #4B4B4B;

}
.ptext{
    width: 80px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.ysllogin_sections {
    display: flex;
    align-items: center;
    flex-direction: column;
}