.newMain  {
    height: 100%;
  }
  .contentWrap {
      height: 100%;
      overflow: auto;
  }
  .bor-bottom-greyE {
      border-bottom: 1px solid #EEEEEE!important;
  }
  .padding20-30 {
      padding: 20px 30px;
      box-sizing: border-box;
  }
  .clearfix {
      clear: both;
      zoom: 1;
  }
  .bor-bottom-greyE {
      border-bottom: 1px solid #EEEEEE!important;
  }
  .courseSystem, .SystemParameters {
    font-family: MicrosoftYaHei;
    font-weight: 400;
    line-height: 45px;
  }
  .courseSystem {
    font-size: 18px;
    color: #05101a;
  }
  .font-18 {
    font-size: 18px!important;
  }
.font-26 {
  font-size: 26px!important;
}
  .fl {
    float: left!important;
  }
  .backgroundFFF{
    background: #FFF;
  }
  .ant-table-body  table thead tr th{
    background: #FFF;
  }
  .ant-table-body  table .ant-table-thead :nth-child(1) th{
    border-right: 1px solid #e8e8e8;
  }
  .ant-table-body  table .ant-table-thead :nth-child(1) :nth-child(4){
    /* border-right: 1px solid transparent; */
  }
  .ant-table-body  table .ant-table-thead :nth-child(2) th{
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
  }
  
  .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    text-align: center;
  }
  
  .graduatesRequirement .ant-table-wrapper {
    padding: 20px 10px;
    background: #fff;
    margin-top: -16px;
    margin-bottom: 40px;
  }
  
  .graduatesRequirement .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, 
  .graduatesRequirement .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, 
  .graduatesRequirement .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, 
  .graduatesRequirement .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: transparent !important;
  }
  
  .mt60{
      margin-top:60px;
  }