<div class="member-user">
  <% department.member_users.each do |user| %>
    <span class="member-user-item member-user-item-<%= user.id %>">
      <%= link_to user.real_name, "/users/#{user.login}", target: '_blank', data: { toggle: 'tooltip', title: '个人主页' } %>
      <%= link_to(admins_department_department_member_path(department, user_id: user.id),
                  method: :delete, remote: true, class: 'ml-1 delete-member-action',
                  data: { confirm: '确认删除吗？' }) do %>
        <i class="fa fa-close"></i>
      <% end %>
    </span>
  <% end %>
</div>