/*md编辑器 将toolbar高度变小变袖珍*/
.reply_to_message .editorMD .editormd-toolbar li {
	padding: 0;
}
.reply_to_message .editorMD .editormd-toolbar {
	min-height: 28px;

}
.reply_to_message .editorMD .editormd-toolbar .editormd-toolbar-container {
	min-height: 28px;
}
.reply_to_message .editorMD .editormd-toolbar i {
	margin-left: 0px;
}


.reply_to_message .editorMD .editormd-preview {
	top: 30px;
}
.reply_to_message .editorMD .CodeMirror {
	margin-top: 30px;
	height: 90px;
}

.panel-comment_item .editor__resize {
	transform: translateX(-2%);

	position: absolute;
	width: 120px;
	height: 4px;
	left: 54%;
	transform: translateX(-50%);
	margin-top: 2px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: row-resize;
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	text-transform: capitalize;
	
	box-sizing: border-box;
}

/*帖子回復按鈕*/
a.commentsbtn.task-btn-blue {
	background: #4CACFF !important;
}

.commentTab a.commentsbtn.task-btn-blue {
	margin-right: 22px;
    margin-top: 6px;
}


.editormd-grid-table-row a.editormd-emoji-btn.selected {
	border-bottom: 2px solid #4CACFF!important;
}