
.greytab-inner {
	/*overflow-y: scroll;*/
}
/*评论列表*/
.panel-comment_item .t_area {
	font-size: 12px;
    color: #CCCCCC;
}
.panel-comment_item .orig_reply i {
    font-size: 14px !important;
    margin-left: 12px;
}   
    /* ke style 代码块*/
    .panel-comment_item ol.linenums {
        overflow: auto;
    }
    .panel-comment_item .rewarded {
        color: #FF7500!important
    }
    .panel-comment_item .rewarded.normalUser {
        cursor: inherit;
    }
#tab_con_4 .-layout-v {
	overflow-y: auto;
}
#tab_con_4 .rc-pagination {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 20px;
}
.rc-pagination {
    width: fit-content;
}

.comment_content img {
    max-width: 23% !important;
}

/*  ----------------------------------------------------- CommentInput START */

/*收起的时候radius变化*/
#mini_comment_section .df .ke-container {
    border-radius: 15px;

}
#mini_comment_section .df .buttons {
    width: 70px;
     margin-bottom: 5px;
}
    #mini_comment_section .buttons i {
        font-size: 18px;
        color: #656565;
        vertical-align: baseline;
    }
    #mini_comment_section i.newReplyIcon {
        color: #4DACFF;
        cursor: pointer;
    }
    #mini_comment_section .buttons {
        margin-bottom: 10px;
    }
    #mini_comment_section .buttons>p {
        margin-top: 4px;
        display: none;
    }
    #mini_comment_section .df .buttons>p {
        margin-top: 14px;
        display: block;
    }
    #mini_comment_section {
        height: auto;
        background-color: #FFF;
        /*border-top: 1px solid #f0f1fe;*/
        display: flex;
        box-shadow: 0px -3px 5px 0px rgba(76, 172, 255, 0.2);
        z-index: 99;
    }   
        #mini_comment_section #editor_panel {
            margin-bottom: 9px
        }
        /* commentInput 上传图片的图标挪动到左下*/
        #mini_comment_section #editor_panel>div:nth-child(1) {
            position: absolute;
            bottom: 8px;
            right: 88px; 
        }
            #mini_comment_section .ke-toolbar-icon-url {
                background-image: url('../../images/tpi/upload-image.png');
                background-position: 0px 0px;
                background-size: 30px 30px;
                width: 30px;
                height: 30px;
            }
            
    #mini_comment_section .ke-outline {
        height: 30px;
        margin-bottom: -11px;
        width: 30px;
        margin-right: -5px;
        border: none;
        margin: 0px;
        padding: 0px;
        /* ie上传图片看不见的问题 */
        position: absolute;
        top: -30px;
        left: -30px;
        left: -24px;
        z-index: 999;
    }

    #mini_comment_section i.replyIcon {
        font-size: 20px;
    }
    #shixun_comment_block .dot {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #4CACFF;
        width: 4px;
        position: relative;
        bottom: 30px;
        left: 18px;
        display: block;
    }

#mini_comment_section .ke-container {
    border-radius: 6px;
    border-color: #EAEAEA;
    /*max-height: 400px;  */
    /*解决上传图片后看不到评论按钮的问题*/
}
.commentTxt{
    width: 100%;
    height: 95px;
    border:1px solid #EAEAEA;
    border-radius: 10px;
    padding-left: 5px;
}
#game_praise_tread {
    cursor: pointer;
}
.commentsbtn {
    margin-top: 2px;
}

#shixun_comment_block {
    margin: 0px 10px;
    margin-bottom: -2px;
}

.panel-comment_item a.task-btn-orange {
    background: #4CACFF;
}

/*  ----------------------------------------------------- CommentInput END */
.childrenCommentsView {
    background: #F4F4F4;
    border-radius: 4px;
    margin-bottom: 6px;
    position: relative;
    margin-top: 6px;
}
    .childrenCommentsView .trangle{
        position: absolute;
        border-color: black;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #F4F4F4;
        left: 13px;
        top: -9px;
        border-bottom: 10px solid #F4F4F4;
    }
.childComment {
    padding: 2px 8px;
}
    .childComment .iconfont.icon-jiangli {
        margin-top: 2px;
    }


.childComment:hover {
    background: #EBEBEB;
}
    .childComment .iconfont {
        display: none;
    }
    .childComment p.orig_reply {
        margin-bottom: 0px;
    }
    .childComment:hover .iconfont{
        display: inline;
    }
.noCommentTitle {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.blink {
  animation: blink-animation 3s steps(5, start) infinite;
  -webkit-animation: blink-animation 3s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


/*md 编辑器   emoji */
.J_Comment_Reply img.emoji {
    width: 24px;
}

.noCommentTitle {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    height: 100px;
    line-height: 100px;
}

.break_word_comments{
    /* 这个样式影响到了行高 */
    /* white-space: pre-wrap!important; */
    word-break: break-word;
    /* 影响了 ul li的样式： https://testeduplus2.educoder.net/courses/1748/common_homeworks/12131/740898/appraise */
    /* line-height: 14px; */
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 4px;
    margin-top: 4px;
}
.childComment .break_word_comments{
    line-height: 22px;
}

form.df .tips {
    display: none;
}

.loadMoreChildComments {
    text-align: center;
    height: 24px;
    background: #F1F1F1;
    cursor: pointer;

}
    .loadMoreChildComments i.icon-xiajiantou {
        position: relative;
        bottom: 5px;
    }