<div class="modal fade admin-add-laboratory-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">添加管理员</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="admin-add-laboratory-user-form">
          <%= hidden_field_tag(:laboratory_id, nil) %>

          <div class="form-group d-flex">
            <label class="col-form-label">管理员：</label>
            <div class="d-flex flex-column-reverse w-75">
              <select id="user_ids" name="user_ids" class="form-control laboratory-user-select"></select>
            </div>
          </div>

          <div class="error text-danger"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary submit-btn">确认</button>
      </div>
    </div>
  </div>
</div>