/* 单选或多选 */
.ant-form{
  color:#05101A;
}
.ant-radio-disabled + span,.ant-checkbox-disabled + span{
  color: #666!important;
  cursor: default
}
.ant-radio-wrapper {
  color: #666!important;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper{
  margin-left: 0px!important;
}
/* 下拉 */
.ant-select-selection,.ant-select-selection-selected-value{
  min-height: 40px;
  min-line-height: 40px;
}
.ml61{
  margin-left: 61px;
}
.w64{
  width: 64px;
}
.w55{
  width: 55px!important;
}
.max1010{
  width: 1010px !important;
  max-width: 1010px !important;
}
.yw18{
  min-width: 18px;
}
/* 选答 */
.chooseAnswer{
  display: inline-block;
  width: 68px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  background: #EDEDED;
  color: #666;
  margin-left: 10px;
  border-radius: 12px;
}

.problemShow{
  padding:30px;
  border-bottom: 1px solid #eee;
}
.problemShow:last-child{
  border-bottom: none;
}
.invite-tipysls{position: absolute;top: -8px;right: 140px;color: #fff; box-sizing: border-box;width: 170px;text-align: center;border-radius: 2px;background-color: rgba(5,16,26,0.6)}
.yslinvitetip{display: block;border-width: 8px;position: absolute;top: 10px;right: -16px;border-style: dashed solid dashed dashed;border-color: transparent transparent transparent rgba(5,16,26,0.6);font-size: 0;line-height: 0;}
.right-black-trangle{border-width: 8px;position: absolute;top: 10px;left: -16px;border-style: dashed solid dashed dashed;border-color: transparent transparent transparent rgba(5,16,26,0.6);font-size: 0;line-height: 0;}
.right-black-trangles{border-width: 8px;position: absolute;top: 10px;left: -16px;border-style: dashed solid dashed dashed;border-color: transparent rgba(5,16,26,0.6) transparent transparent;font-size: 0;line-height: 0;}
.top-black-trangle{border-width: 8px;position: absolute;top: -16px;right: 4px;border-style: dashed solid dashed dashed;border-color: transparent transparent rgba(5,16,26,0.6) transparent;font-size: 0;line-height: 0;}
.invite-tipysl{color: #999999; box-sizing: border-box;text-align: center;border-radius: 2px;font-size: 14px}
.edu-position-hideysl li a:hover{ background:#F1F1F1; color:#05101A;}
.to-back-left {
  width: 0;
  height: 0;
  margin-top: 27px;
  border-right: 15px solid #FAFAFA;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* 问卷详情 */
/* 答题列表 */
.unlimit{
  height: 24px;
  line-height: 24px;
  padding:0px 10px;
  border-radius: 12px;
  cursor: pointer;
  border:1px solid #cdcdcd;
  color:#666;
}
.unlimit.active{
  background-color: #4CACFF;
  border:1px solid #4CACFF;
  color: #fff;
}
.edu-table thead th,.edu-table tbody tr:last-child td{
  border-bottom: none!important;
}
.edu-table tbody tr:hover td{
  background-color: #fff!important;
}
/* 统计结果 */
.countList p.countHeader{
  background-color: #f8f8f8;
  color: #666;
  height: 38px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
}
.countList p.countHeader ul{
  width: 100%;
  padding:0px 30px
}
.countList p.countHeader span,.countList div.countBody span{
  float: left;
}
.countList div.countBody{
  margin:0px 30px;
  border-bottom:1px solid #EBEBEB;
  padding:12px 0px;
}
.countList div.countBody:last-child{
  border-bottom: none;
}
.countList p.countHeader span:nth-child(1),.countList div.countBody span:nth-child(1){
  width: 50%;
  text-align: left;
}
.countList p.countHeader span:nth-child(2),.countList div.countBody span:nth-child(2){
  width:15%;
  text-align: center;
}
.countList p.countHeader span:nth-child(3),.countList div.countBody span:nth-child(3){
  width:35%;
  text-align: left;
}
.percentForm{
  width: 330px;
  height: 11px;
  background: #F5F5F5;
  border-radius: 6px;
  position: relative;
  margin-top: 7px;
}
.percentValue{
  position: absolute;
  top:0px;
  left: 0px;
  height: 11px;
  background: #29BD8B;
  border-radius: 6px;
}
.answerTxt{
  max-height: 500px;
  background-color: #F2F9FF;
  width: 100%;
  margin-top: 10px;
  padding:10px;
  box-sizing: border-box;
  color: #4c4c4c;
}
.otherTxt{
  border:none!important;
  border-bottom: 1px solid #eee!important;
  background: transparent!important;
  flex:1;
  height: 20px!important;
  line-height: 20px!important;
}
.otherTxt.ant-input:hover,.otherTxt.ant-input:focus{
  border:none!important;
  border-bottom: 1px solid #eee!important;
  background: #F8F8F8!important;
}

/* 必答 */
.mustAnswer{
  padding:0px 10px;
  border-radius: 15px;
  height: 22px;
  line-height: 22px;
  background: #eaeaea;
  color: #999;
  font-size: 14px;
}
/* 问卷内容 */
.previewList{
  border-bottom: 1px solid #ebebeb;
}
.previewList:last-child{
  border-bottom:none;
}
.textLine{
  flex: 1;
  height:22px;
  border-bottom: 1px solid #ebebeb;
}
.answerList{
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}
.answerList li{
  padding:10px 30px;
  box-sizing: border-box;
  line-height:20px;
  width: 100%;
}
.answerList li:hover{
  background: #F0F8FF;
}
textarea:read-only{
  background: #f3f3f3;
}
.ant-calendar-picker-input{
  height: 40px;
}

/* 问卷答题 */
.questionsNo{
  position: relative;
  padding: 30px;
  border-bottom: 1px solid #ebebeb;
}
.questionsfixed{
  position: fixed;
  padding: 30px;
  z-index: 12;
  top: 60px;
  width: 1200px;
  background: #fff;
}
.answered,.unanswer,.answerTure,.answerFalse,.answerHalf{
  position: relative;
}
.answered::after{
  position: absolute;
  right:35px;
  top:4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #CBCBCB;
  content: "";
}
.unanswer::after{
  position: absolute;
  right:35px;
  top:4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  content: "";
  border:1px solid rgba(203,203,203,1);
}
.answerTure::after{
  position: absolute;
  right:35px;
  top:4px;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background: #29BD8B;
  content: "";
}
.answerFalse::after{
  position: absolute;
  right:35px;
  top:4px;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background: #FF3756;
  content: "";
}
.color-red{color: #FF3756!important}
.answerHalf::after{
  position: absolute;
  left:-25px;
  top:4px;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background: #FF6800;
  content: "";
}
.leaderNav,.leaderMainNav{
  margin-top: 20px;
}
.leaderNav a,.leaderMainNav a{
  display: block;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  border:1px solid #CBCBCB;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  color: #999999;
  cursor: pointer;
  margin-bottom: 5px;
}
.leaderMainNav a{
  background: #FF3756;
  color: #fff;
  border:1px solid #FF3756;
}
.leaderNav a.acted{
  background:rgba(203,203,203,1);
  color: #fff;
}
.leaderMainNav a.acted{
  background-color: #29BD8B;
  color: #fff;
  border:1px solid #29BD8B;
}
.leaderMainNav a.half{
  background-color: #FF6800;
  color: #fff;
  border:1px solid #FF6800;
}

/* 问卷设置 */
.pollForm .ant-form-item-control{
  line-height: 20px;
}
.pollForm.ant-form-item{
  margin-bottom: 0px
}
.setInfo .ant-select-selection__rendered{
  line-height: 40px;
}

/* 下拉搜索框 */
.ant-select-dropdown-menu .ant-select-dropdown-menu-item{
  padding:5px 15px;
}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item .ant-select-selected-icon{
  right: 15px;
}

.noticeTip{
  border:1px solid #FF0000;
  border-radius: 5px;
}
.pollResultList .ant-table-thead > tr > th,.pollResultList .ant-table-tbody > tr > td{
  padding:15px 6px;
}
/* 试卷 */
.setScoreInput{
  width: 60px!important;height: 30px!important;box-sizing: border-box;
  text-align: center!important;
  background: #F8F8F8;
  color:#666;
}
.setScoreInput:focus{
  background: #fff;
  color:#FF6800
}
.standardAnswer p{
  line-height: 20px!important;
}
/* 倒计时 */
.remainingTime li{
  float: left;
  width: 40px;
  line-height: 40px;
  background-color: #111C24;
  color: #fff;
  border-radius: 4px;
  text-align: center
}
.remainingTime span{
  float: left;
  width: 20px;
  line-height: 40px;
  text-align: center;
}
.myyslwidth {
  min-width:1200px
}

.zexercisetitle {
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    min-width: 95px;
}
