.mergediv{
    height: 65px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
    flex-wrap: wrap;
    text-align: center;
    border-radius:4px;
    margin-left: 15px;
  }
  .topmerge_btn{
    background: #21ba45;
    color: #FFFFFF!important;
    padding:0px 14px;
    text-align: center;
    height: 36px;
    line-height: 32px;
    border-radius: 4px;
  }

  .prdetail{
    display: inline-block;
    background: #a333c8;
    color: #ffffff!important;
    padding:0px 12px;
    text-align: center;
    height: 32px;
    /*width: 110px;*/
    border-radius: 4px;
    line-height: 32px;
  }