<div class="modal fade auth-schools-new-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新增认证单位</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag(search_school_admins_auth_schools_path,method: :get ,remote: true) do %>
          <div class="form-group d-flex mbt10">
            <div class="w-75 d-flex flex-column">
              <%= text_field_tag(:name, nil, class: 'form-control', placeholder: '请输入单位名称搜索') %>
            </div>
            <%= submit_tag("搜索",class:"btn btn-primary search-school", 'data-disable-with': "搜索中...") %>
          </div>
        <% end %>
        <div id="add-schools-list">
          <div class="add-school-list-item">
            <div class="list-item-title">单位名称</div>
            <div class="school-search-list">
              <div class="school-list-item">
                <span class="color-grey-c">请输入单位名称</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>