<% users.each do |user| %>
  <span class="collegeManage" id="manager-<%= user.id %>">
    <%= link_to user.show_real_name, "/users/#{user.login}", target: "_blank" %>
    <%= link_to "×", remove_manager_admins_auth_schools_path(user_id: user.id, school_id: school_id),method: :post, class: "font-16 ml3", remote: true %>
  </span>
<% end %>