<div class="modal fade admin-replace-mirror-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">镜像替换</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="admin-replace-mirror-form" data-url="<%= merge_admins_mirror_repositories_path %>">
          <%= hidden_field_tag(:mirror_id, nil) %>
          <div class="form-group d-flex">
            <div>被替换镜像：</div>
            <div class="ml-2">ID：<span class="mx-1 text-info mirror-id-container"></span></div>
            <div class="ml-2">名称：<span class="mx-1 text-info mirror-name-container"></span></div>
          </div>
          <div class="form-group d-flex">
            <label for="new_mirror_id" class="col-form-label">选择新镜像：</label>
            <div class="d-flex flex-column-reverse w-75">
              <select id="new_mirror_id" name="new_mirror_id" class="form-control new-mirror-select"></select>
            </div>
          </div>
          <div class="error text-danger"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary submit-btn">确认</button>
      </div>
    </div>
  </div>
</div>