/*.login_register_content, .login_register_content .ant-tabs-tabpane {*/
/*  !*display: flex;*!*/
/*  justify-content: center;*/
/*}*/
.login_register_content .ant-input {
  background:rgb(244,244,244);
}
.login_register_content .loginInputzhucheyslass{
    border:1px solid red !important;
}
.login_register_content .loginInputzhucheyslass:hover{
    border:1px solid red !important;
}
.login_register_content {
  width: 434px;
  box-shadow:3px 10px 21px 0px rgba(76,76,76,0.15);
  border-radius:6px;
  background: #fff;
}
  .login_register_content .ant-tabs-ink-bar {
    width: 21px !important;
    left: 19px;
  }
  .login_register_content .ant-tabs {
    width: 354px;
  }

  .login_section {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.login_sectionysl{
  width: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
  .loginInput {
    width: 100%;
    margin-bottom: 16px;
    height: 45px;
  }

  .educouddiv {
    display: flex;
   flex-direction: column;
  }


  .left_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .login_btn {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .dragValidator {
    margin-bottom: 16px;
  }
  .ysldivhome1{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 129px;
  }
  .ysldivhome2{
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    align-content:stretch;
  }
  .ysldivhomediv{
    width: 101px;
  }
  .ysldivhomediv1{
    width: 17%;
    height: 100px;
    border-radius:50%;
    box-shadow:3px 10px 21px 0px rgba(76,76,76,0.15);
    background: #fff;
    display: flex;
    flex-direction:column;
    margin-left: 6.5%;
    margin-top: 1%;
  }
.ysldivhomediv2{
  width: 17%;
  height: 100px;
  border-radius:50%;
  box-shadow:3px 10px 21px 0px rgba(76,76,76,0.15);
  background: #fff;
  display: flex;
  flex-direction:column;
  margin-left: 6.5%;
  margin-top: 3%;
}
  .ysldivhomedivtxt{
    width:86%;
    height:27px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;

  }
  .ysldivhomedivimgsy{

  }
  .ysldivhomedivimg{
    width: 80%;
  }
  .ysllogin_register_contents{
    display: flex;
    justify-content: center;

  }
  .ysllogin_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow:3px 10px 21px 0px rgba(76,76,76,0.15);
    border-radius:6px;
    background: #fff;
  }
  .yslspans1{
    text-align: center;
    font-size: 13px;
    color: #111C24;
  }
  .yslspans2{
    text-align: center;
    font-size: 13px;
    color: #05101A;
    margin-top: 1%;
  }
  .yslspans3{
    text-align: center;
    font-size: 12px;
    color: #656565;
  }
  .yslbutton{
    width:255px;
    height: 36px;
    margin-top: 20px;

  }
  .mt22{
    margin-top: 22px;
  }
  .gouxuanimg{
    margin-right: 10px;
    margin-bottom: 2px;
  }
  .textall{
    text-align: center;
    font-size: 13px;
    color: #4B4B4B;
  }
  .div1img{
    display: flex;
    justify-content:center;
    width: 42%;
    margin-left: 30%;

  }
.yslgouxuanimg{
  width: 20%;
  height: 20px;
  margin-left: 86%;
  float: right;
}
.yslgouxuanimg2{
  height: 20px;
}

.yslbutondls{
  display: flex;
  flex-direction:row;
}
。yslinpulsy input{

}
.loginInputzhuche{
  width: 100%;
  background-color: #fff!important;
  height: 45px !important;
  padding: 5px;

}
.loginInputzhucheyslass {
  width: 100%;
  background-color: #fff!important;
  height: 45px !important;
  padding: 5px;

}
.loginInputzhucheyslass .ant-input{
  width: 100%;
  background-color: #fff!important;
  height: 45px !important;
  padding: 5px;
  position: relative;
  right: 5px;
  width: 103%;
  border: 1px solid #FF0000!important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.loginInputzhucheyslass .ant-input:hover{
  border: 1px solid #FF0000!important;

}
.loginInputzhuche .ant-input{
  width: 100%;
  background-color: #fff!important;
  height: 45px !important;
  padding: 5px;
  position: relative;
  right: 5px;
  width: 103%;
}

.loginInputzhucheysl{
  width: 100%;
  background-color: #fff!important;
  height: 45px !important;
  padding: 5px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}
.loginInputzhucheysl .ant-input{
  width: 100%;
  background-color: #fff!important;
  height: 45px !important;
  padding: 5px;
  position: relative;
  right: 5px;
  width: 103%;
  border: 1px solid #FF0000!important;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.loginInputzhucheysl .ant-input:hover{
  border: 1px solid #FF0000!important;
}

.bth100{
    width: 100px;
    margin: 0 auto;
}
.ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix {
  background: transparent !important;
}

.startlogin{
    color:#888;
}
.weixinheight390{
    height: 390px;
}
#log_reg_content {
    padding: 38px 30px 20px !important;
}
.task-btn-blues{
    background:#5091FF;
   color:#fff;
    width:100px;
    height:32px;
    border-radius:4px;
}
a:hover.task-btn-blue-test{
    height:16px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:#FFFFff;
    line-height:30px;
}
.task-btn-blue-test{
    height:16px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:#FFFFff;
    line-height:30px;
}
.tabeltext-alignleftysl{
    font-size:14px;
    color:#000000;
    line-height:19px;

}
.tabeltext-alignleftysltwo{
    font-size:14px;
    color:#848282;
    line-height:19px;

}
/* 中间居中 */
.intermediatecenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
