



/*必填*/ 
/*
.ant-form-item-required::before {
  display: none;
}
.ant-form-item-control-wrapper.ant-col-xs-24.ant-col-sm-24::before {
  display: inline-block;
  margin-right: 8px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}*/ 
/*
.ant-form-item-control {
  display: inline-block;
}*/
/* form 样式 ---------------------------------------------  */



.topicTitle {
  margin-bottom: 8px;
}
.topicTitle .ant-form-item-control-wrapper {
  width: 100%;
}


.ant-pagination.coursePagination {
  text-align: center;
  margin-top: 16px;
}

.setemail{
    margin-left: 20px;
}

.setemail .ant-checkbox-wrapper{
    margin-top: 8px;
}