.edu-class-container {
  width: 1200px;
  margin: 10px auto 20px;
}
#forum_index_list {
  margin-top: 90px;
  margin-bottom: 320px;
}
#yslforum_index_list {
    margin-top: 20px;
    margin-bottom: 320px;
}
.uploadBtn {
	margin-left: 0px;
}