/*垂直布局

               一
               二
               三
*/
.flexdirectionjust {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.directstwebkitflex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.diredisplayitflex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

/*垂直布局*/
/*靠左侧
一 二 三 四 五 六 七 八
*/
.flexdirection {
    display: flex;
    flex-direction: row;
}

.flexdirections {
    display: flex;
    flex-direction: initial;
}

/*靠左侧
*/


/*靠右侧八    七   六  五   四  三  二 一*/
.flexdirectionss {
    display: flex;
    flex-direction: row-reverse;
}


/*垂直布局
一
二
三
四
*/
.flexdidirectionss {
    display: flex;
    flex-direction: column;
}

/*垂直布局
四
三
二
一
*/
.flexdidireverses {
    display: flex;
    flex-direction: column-reverse;
}

.fontcolorsysl {
    color: #FF0000
}

.fontcolorsyslhei {
    color: #000000
}

.fontcolorsyslhui {
    color: #888888
}

.fontcolorsyslhui1 {
    color: #666666;
}

.fontcolorsysllan {
    color: #4CACFF
}

.fontcolorsysljin {
    color: #DD7600
}

.w200 {
    width: 200px;
}

.w64 {
    width: 64px;
}

.w60 {
    width: 60px;
}

.w98 {
    width: 98px;
}

.myysllineheight {
    line-height: 40px;
}

.myyslminwidth {
    min-width: 60px;
}

.myyslminwidth276 {
    width: 276px;
}

.buttongo {
    background: #E7E7E7;
    border: 1px solid #E7E7E7;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    color: #999999;
    font-size: 16px;
}

.buttongo2 {
    background: #4CACFF;
    border: 1px solid #4CACFF;
    width: 64px;
    height: 32px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
}

.fontwenzi {
    text-align: center;
    line-height: 30px;
}

.mt17 {
    margin-top: 17px;
}

.mt36 {
    margin-top: 36px;
}

.mt23 {
    margin-top: 23px;
}

.mt19 {
    margin-top: 19px;
}

.mt23 {
    margin-top: 23px;
}

.mt34 {
    margin-top: 34px;
}

.ml11 {
    margin-left: 11px;
}

.ml38 {
    margin-left: 38px;
}

.ml7 {
    margin-left: 7px;
}

.colorgreenlight {
    color: #6EC76E
}

.colorgreenorg {
    color: #FF7300;
}

.borcolors {
    border: 1px solid #4CACFF;

    text-align: center;
}

.mycompitcursor {
    cursor: pointer;
}

.basicForm {
    background: #fff;
    padding: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    min-height: 390px;
}

.basicForm .title {
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.flexTable {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
}

.mb15 {
    margin-bottom: 15px !important;
}

/*  BUTTOn */
.ant-btn {
    border-radius: 2px;
}

button.ant-btn.ant-btn-primary.grayBtn {
    background: #CBCBCB;
    border-color: #CBCBCB;
}

.borderBottom {
    border-bottom: 1px solid #4CACFF;
}

/* form ---------------- START */
.formItemInline {
    display: flex;
}

.formItemInline .ant-form-item-control-wrapper {
    display: inline-block;
}

.hideRequireTag .ant-form-item-required:before {
    display: none;
}


/* .basicForm .ant-form-item-label {
  width: 100px;
  padding-right: 10px;
}
  .basicForm .ant-form-item-label label {
    color: #979797
  } */


.courseNormalForm .ant-select-show-search {
    height: 40px;
}

.courseNormalForm .ant-select-auto-complete.ant-select .ant-input {
    height: 40px;
}

.courseNormalForm .ant-select-search__field__mirror {
    height: 40px;
}

.courseNormalForm .ant-input-lg {
    height: 40px;
}

.courseNormalForm .ant-select-selection--single {
    height: 40px;
}

.courseNormalForm .ant-select-auto-complete.ant-select .ant-select-selection--single {
    height: 40px
}

.courseNormalForm .ant-input-affix-wrapper {
    height: 40px;
}

/* 职业 */
.courseNormalForm .ant-select-selection-selected-value {
    line-height: 38px
}

.courseNormalForm input {
    height: 40px;
}

.w300 {
    width: 300px;
}

.w56 {
    width: 56px;
}
