.hideMd {
    display: none !important;
}
.content_editorMd_show {
    height: auto;
    min-height: 38px;
    width: 800px;
    border: 1px solid rgba(234,234,234,1);
    margin-top: 2px;
    padding: 4px;
    width: 100%;
}