<div class="modal fade admin-merge-course-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修改课程</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="admin-merge-course-list-form" data-url="<%= merge_admins_course_lists_path %>">
          <%= hidden_field_tag(:origin_course_list_id, nil) %>

          <div class="form-group d-flex">
            <label for="course_list_id" class="col-form-label">更改为：</label>
            <div class="d-flex flex-column-reverse w-75">
              <input id="course_list_name" name="course_list_name" placeholder="请输入课程名称" class="form-control">
            </div>
          </div>
          <div class="error text-danger"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary submit-btn">确认</button>
      </div>
    </div>
  </div>
</div>