.pane_control_area{
  position: absolute;
  bottom: 0;
  width: 100%;
  .pane_control_collapse{
    position: absolute;
    width: 55px;
    height: 27px;
    background:rgba(42,58,79,1);
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    left: 50%;
    margin-left: -27px;
    text-align: center;
    color: #fff;
    line-height: 27px;
    opacity: 0.5;
    transition: opacity .3s;
    z-index: 10;
    .icon{
      position: relative;
      top: 0px;
    }

    &:hover{
      opacity: .8;
    }
  }
  // background: red;
  // background:rgba(30,30,30,1);
  // height: 56px;
  .control_tab{
    position: absolute;
    bottom: -325px;
    width: 100%;
    // transition: all .2s;
    opacity: 0;
    // animation: .3s ease-in-out move_up;
    // &.active{
    //   bottom: 0;
    //   opacity: 1;
    // }
    &.move_up{
      animation:  move_up .3s ease-in;
    }
    &.move_up_final {
      bottom: 0;
      opacity: 1;
    }
    &.move_down{
      animation:  move_down .3s ease-in-out;
    }
    &.move_down_final{
      bottom: -325px;
      opacity: 0;
    }
  }

  .ant-tabs-bar{
    padding: 0;
  }

  .ant-tabs-nav .ant-tabs-tab{
    padding: 12px 0px;
  }
}


.ant-tabs-bar{
  padding: 0 10px;
  margin: 0px;
  border-bottom: transparent;
}
.ant-tabs-ink-bar{
  bottom: 1px;
}
// .tab_ctx_area.pos_center{
//   background: #222;
// }
.pane_control_opts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  height: 56px;
  padding-right: 20px;
  padding-left: 5px;
  background: rgba(18,28,36,1);
  // background:rgba(48,48,48,1);
}

.setting_drawer{
  .setting_h2{
    line-height: 50px;
  }
  .setting_desc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .flex_item{
      line-height: 32px;
      font-size: 12px;
    }
  }

  .ant-drawer-body{
    height: calc(100vh - 120px);
    overflow-y: auto;
  }
  .ant-drawer-content{
    top: 120px;
  }
}


@keyframes move_up {
  0%{
    opacity: 0;
    // bottom: -325px;
  }
  90%{
    opacity: 0.5;
    // bottom: 0px;
  }
  100%{
    opacity: 1;
    bottom: 0;
  }
}

@keyframes move_down{
  0%{
    opacity: 1;
    bottom: 0
  }
  10%{
    opacity: .2;
  }
  20%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    bottom: -325px;
  }
}