.navInfo{
  border:none!important;
  position: absolute;
  width: 100%;
  bottom: -8px;
}
.navInfo li {
  float: left;
  margin: 0px 40px;
  padding:0px;
  height: 45px;
  line-height: 40px;
  font-size: 16px;
  position: relative;
}
.navInfo li.active::after{
  position: absolute;
  left: 0px;
  height: 2px;
  width: 100%;
  content: '';
  bottom: 0px;
  background: #05101A!important;
  color: #666!important;
}
.navInfo li,.navInfo li.ant-menu-item-active{
  border-bottom: none!important;
  color: #666!important;
}
.navInfo li.ant-menu-item-selected{
  border-bottom: 2px solid #05101A!important;
  color: #05101A!important;
}
.navInfo ul.ant-menu{float: left!important;border:none!important;}

.substancenenew{
  width: 236px;
  height: 206px;
  background: rgba(248,248,248,1);
  border: 2px dotted rgba(225,225,225,1);
  opacity: 1;
  border-radius: 4px;
  padding-top: 50px;
  position: inherit;
}

.substancepad{
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid transparent;
}
.substancefont{
  height:24px;
  font-size:18px;
  font-family:Microsoft YaHei;
  font-weight:400;
  line-height:21px;
  color:rgba(153,153,153,1);
  opacity:1;
  margin-top: -8px;
}
.topten{
  width: 1px;
  height: 100px;
  border: 2px soild rgba(225,225,225,1);
  background: rgba(225,225,225,1);
  border: 1px solid rgba(225,225,225,1);
  margin: 0 auto;
}
.leftten{
  width: 100px;
  height: 1px;
  background: rgba(225,225,225,1);
  border: 1px solid rgba(225,225,225,1);
  margin: 0px auto;
  position: absolute;
  top: 120px;
  left: 88px;
}
.squarebox{
  position: absolute;
  top: 0px;
  left: 0px;
}

/*题库的标签--和资源标签样式相似*/
.bankTag{max-height: 82px;overflow-y: auto}
.bankTag #sourceTag li{margin-left: 0px;margin-right: 5px;}
.bank_list_Tag{cursor: default}
/*资源标签*/
#sourceTag li,.bank_list_Tag{font-size: 12px;color: #4E7A9B;background-color: #E5F3FF;padding: 0px 4px;height: 20px;line-height: 20px; margin-left: 5px;display: inline-block;cursor: pointer;margin-bottom: 5px;}
#sourceTag li a{color: #4e7a9b!important;}
#sourceTag li.active{background-color: #4CACFF;color: #fff;}
#sourceTag li.active a{background-color: #4CACFF;color: #fff!important;}

.mtf15{
    margin-top:-15px;
}

.project-package-item.with-operator .item-operator {
    width: 0;
    transition: width .2s;
    -moz-transition: width .2s; /* Firefox 4 */
    -webkit-transition: width .2s; /* Safari 和 Chrome */
    -o-transition: width .2s; /* Opera */
}
.project-package-item.with-operator:hover .item-operator {
    margin: -20px -20px -20px 20px;
    padding: 20px 0;
    width: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #f0f0f0;
}
.project-package-item.with-operator .item-operator a {
    display: none;
}
.project-package-item.with-operator:hover .item-operator a {
    display: block;
    font-size: 20px;
}

/* 个人主页头部改版 */
.bannerPanel{
  width:100%;
  top:0px;
  left:0px;
  height:186px;
  padding-top:25px;
  box-sizing: border-box;
  background: url('../../../images/account/infobanner.png') no-repeat top center;
  background-color: #0d4473

}
.username{
  font-size:26px;
  margin-right:15px;
  height: 30px;
  line-height: 30px;
  float: left;
  color:#fff;
}
.myPhoto img{
  border-radius: 50%;
  width:100%;
  height:100%
}
.myPhoto{
  border-radius: 50%;
  border:2px solid #fff;
  width:110px;
  height:110px;
}
.userpost{
  padding:0px 10px;
  border:1px solid #fff;
  border-radius: 2px;
  color:#fff!important;
  display: inline;
  margin-top: 6px;
  float:left;
}
.userpost label{
    display: block;
  height: 18px;
  line-height:18px;
}
.user-colorgrey-B8{color:#B8B8B8}
.user-colorgrey-green{color:#7ED321}
.user-colorgrey-blue{color:#98EBFF}
.user_yellow_btn {
  color: #fff!important;
  background-color: #FF8E02;
}
.headtab span {
  color: #e8e8e8;
  font-size: 14px;
}
.headtab span, .headtab a {
  display: block;
  width: 100%;
  text-align: center;
}
.headtab {
  width: 140px;
  height: 70px;
  text-align: center;
}
.leftTransform:before{
  position: absolute;
  content:'';
  left:0px;
  top:6px;
  width:1px;
  height:84%;
  background: #fff;
  transform: rotate(18deg);
}
.userNav{
  height: 54px;
  line-height: 54px;
  background: #fff;
  box-shadow:0px 9px 16px -1px #e6e6e6;
  border-radius:7px;
  padding:0px 10px;
}
.userNav li{
  display: inline-block;
  padding:0px 30px;
  box-sizing: border-box
}
.userNav li a{
  color:#333333;
  font-size: 16px;
  display: block
}
.userNav li.active a{
  position: relative;
  color:#4CACFF;
}
.userNav li.active a:after{
  position: absolute;
  bottom: 0px;
  height: 4px;
  width:100%;
  content: '';
  left:0px;
  background: #4CACFF;
}
/* 题库相关 */
.breadcrumb{
  height: 18px;
  line-height: 18px;
  margin:10px 0px 0px;
}
.breadcrumb .ant-breadcrumb a:hover{
  color: #459BE5 !important;
}
.breadcrumb .ant-breadcrumb-separator{
  margin:0px 2px!important;
}
.breadcrumb span.ant-breadcrumb-link{
  cursor: default;
}
.bank_is_public{
  background: #84B6EB;
  float: left;
  height: 24px;
  line-height: 24px;
  padding:0px 20px;
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  border-radius:20px;
  margin-top:3px;
}
.breadcrumb.ant-breadcrumb > span:last-child a{
  color: #05101A
}
.breadcrumb.ant-breadcrumb a{
  color:#999;
}
.bank_is_private{
  background: #56B998;
  float: left;
  height: 24px;
  line-height: 24px;
  padding:0px 20px;
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  border-radius:20px;
  margin-top:3px;
}
.topicsbox{
    width: 1200px;
    /*min-height: 216px;*/
    background: rgba(255,255,255,1);
    padding: 0px 30px 0px 40px;
}

.topicstopfont{
    width:64px;
    height:16px;
    font-size:16px;
    font-weight:400;
    color: #666 !important;
}

.topcschild{
    width:1128px;
    height:55px;
    line-height: 54px;
    border-bottom:1px solid rgba(235,235,235,1);
}

.topcsmid{
    width:1128px;
    height:55px;
    line-height: 55px;
}

.topcsactive{
    color: #4CACFF !important;
    cursor: pointer;
}

.topicsmidfont{
    max-width: 56px;
    height: 55px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    line-height: 55px;
    color: #666;
}

.alltopisc{
    width:230px;
    height:20px;
    font-size:14px;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:20px;
}

.alltopiscright{
    /* width: 141px; */
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(153,153,153,1);
    line-height: 20px;
}

.topicsbtn{
    padding: 0px 15px;
    border-radius: 2px;
    /*color: #4C4C4C;*/
    cursor: pointer;
    display: inline-block;
    /*background-color: #4CACFF!important;*/
    /*color: #fff!important;*/
    border-radius: 11px;
    border: 1px solid rgba(76,172,255,1);
    color: rgba(76,172,255,1);
}

.pd1323{
    padding: 10px 6px 25px 40px;
    /*cursor: pointer;*/
}
.pd1323:hover {
    box-shadow: 0px 2px 6px rgba(51,51,51,0.09);
    opacity: 1;
    border-radius: 2px;
}
.topicswidth600{
    mac-width: 600px;
    display: inline-block;
}
.topicswidth300{
    width: 300px;
    display: inline-block;
}
.topiscfilterbtn{
    font-size: 14px;
    color: #4CACFF !important;
    border-radius: 5px;
    border: 1px solid #4CACFF !important;
    line-height: 23px !important;
}

.topscisright{
    right: 0px;
    top: 45px;
    display: block;
    position: absolute;
}

.topsics135{
    max-width: 135px;
    display: inline-block;
}

.professional_certificationbox{
    height:431px;
    background:rgba(255,255,255,1);
}

.pd115200{
    padding: 55px 200px 0px 200px;
}

.topicsItemimg{
    width:150px;
}

.topicsItemfont{
    font-size: 18px;
    font-family: PingFang-SC;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 35px;
}

.topicsItem{
    max-width: 1068px;
    max-height: 115px;
    overflow-y: auto;
}

.mb45{
    margin-bottom: 45px!important;
}

.topsicsmax550{
    max-width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: -16px;
}

.topsicrelative{
    position: relative;
}

.topsicinline{
    display: inline-block;
}
/* 防抖 */
.educontent .square-list {
  min-height: 400px;
  flex-wrap:wrap;
  display:flex;
}

.h10 {
    height: 10px;
}

.w32 {
    width: 32px !important;
}

.w66 {
    width: 66px !important;
}

.w60 {
    width: 60px !important;
}

.w80 {
    width: 80px !important;
}
