.setInputAddon{
  width: 350px;
  margin-right: 20px;
}
.setInputAddon .ant-input-group-addon{
  height: 30px;
  line-height: 30px;
  border-left: 1px solid #d9d9d9!important;
  border-right: none!important;
}

.userScrew{
  margin:20px 0px;
  border:1px solid #f4f4f4;
  border-radius: 5px;
  display: flex;
  padding:10px;
}
.screwImg{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right:10px;
}
.screwPanel{
  flex: 1;
}

.screwPanel .ant-radio-wrapper{
  display: block;
}

@media screen and (max-width: 400px){
  .setInputAddon{
    width: 100%;
    margin-right: 0px;
  }
}