<table class="table table-hover text-center subject-list-table">
  <thead class="thead-light">
  <tr>
    <th width="5%">序号</th>
    <th width="23%" class="text-left">名称</th>
    <th width="10%">老版技术体系</th>
    <th width="10%">状态</th>
    <th width="25%">课程体系</th>
    <th width="10%">封面</th>
    <th width="5%">开课人数</th>
    <th width="12%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% if subjects.present? %>
    <% subjects.each_with_index do |subject, index| %>
      <tr class="subject-item-<%= subject.id %>">
        <% page_no = ((params[:page] || 1).to_i - 1) * 20 + index + 1 %>
        <%= render partial: "admins/subject_settings/shared/td",locals: {subject: subject,page_no:page_no} %>
      </tr>
    <% end %>
  <% else %>
    <%= render 'admins/shared/no_data_for_table' %>
  <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: subjects } %>