.add-year-modal {
  .add-year {
    &-container {
      padding: 0 40px;
    }

    &-tip {
      margin-bottom: 20px;
      color: #666666;
      line-height: 30px;
      text-align: center;
    }

    &-content {
      padding: 0 50px;
      display: flex;
      align-items: center;

      &-label {

      }

      &-select {
        flex: 1;
      }
    }
  }

  .ant-modal-footer {
    padding-bottom: 20px;
    text-align: center;
    border-top: unset;
  }
}