.ec-year-list-page {
  .ec-breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ec-year-list-container {
    background: #fff;
  }

  .year-list {
    &-head {
      margin-bottom: -24px;
      padding: 20px 30px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &-left {
        flex: 1;
      }

      &-label {
        font-size: 18px;
      }

      &-tip {
        font-size: 14px;
        color: #999999;
      }
    }


    &-body {
      margin-top: -24px;
    }

    &-search {
      padding: 20px 30px;
      display: flex;
      flex-direction: row-reverse;
    }

    &-table {
      min-height: 400px;

      th, td {
        text-align: center;
      }
    }
  }

  .link {
    color: #007bff;
  }

  .operation-box {
    .link {
      margin: 0 5px;
    }
  }
}