.commit_record_area{
  // padding: 20px 30px;
  padding: 0 20px;
  overflow-y: auto;
  // height: calc(100vh - 177px);
  height: calc(100vh - 122px);

  .commit_record_table_pagination{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .commit_record_pagination{
      padding: 10px 0;
      text-align: center;
    }
  }
  .record_header{
    display: flex;
    // justify-content: space-between;
    // background: gold;
    height: 66px;
    align-items: center;
    .record_result{
      color: #333333;
      font-size: 16px;
      // width:1px;
    }
    .copy_error{
      visibility: hidden;
      text-align: right;
      flex: 1;
      padding-right: 40px;
      &.show_error_copy{
        visibility: visible;
      }
    }

    .copy_error,
    .show_detail{
      color: #5091FF;
      font-size: 14px;
      cursor: pointer;
    }
    .icon_style{
      font-size: 12px;
      margin-left: 2px;
      cursor: pointer;
    }
    .record_result_suc{
      color: #28BD8B;
    }
    .record_result_err{
      color: #E51C24;
    }
  }
  .record_error_info{
    display: none;
    padding: 20px 30px;
    word-wrap:break-word;
  }
  .show_error_code{
    display: block;
    background: rgba(250,250,250,1);
    // padding: 20px 30px;
    color: #E51C24;
    margin-bottom: 20px;
  }
}