#myshixuns_count{
    text-decoration:none !important;
}
#created_at{
    text-decoration:none !important;
}
.shixun_repertoire{
  cursor: pointer ;
}
.next-btn-medium:hover{
    color: #4CACFF;
    border:1px solid #4CACFF;
}