.ml350 {
  margin-left: 40%;
}

.ml32 {
  margin-left: 32%;
}

.square-img{
    min-height: 210px;
}
.task-hide{
  margin-bottom: 0em;
}
.backFAFAFA{
  background:#FAFAFA;
}

.demo {
  width: 500px;
  background-color: #0dcecb;
  text-align: center;
  padding:50px;
}
.next-loading {
  margin-bottom: 5px;
  width:100%;
}

.next-rating-overlay .next-icon{
  color: #FFA800!important;
}

.custom-pagination {
  display: inline-block;
  margin-left: 10px;
}

.ml425{
  margin-left:42.5%;
  margin-top:20px;
}